$primary: theme-color("primary");
$secondary: theme-color("secondary");

$link-color: theme-color("primary");
$link-hover-color: lighten(theme-color("primary"), 20%);

$font-family-base: 'Nunito Sans', Helvetica, Arial, sans-serif, -apple-system;
$font-family-heading: 'Nunito Sans', serif, -apple-system;

$body-bg: #27283D;
$text: #BBBDC3;

$white-6: #b0b0b7;
$white-5: #9c9da4;
$white-7: #C6C6CB;
$white-7: #5F6069;
$blue-light: #659CC8;
$blue2: #5EA8FF;
$darkblue: #1B1A37;

$grey: #93949E;
$grey2: #34364A;
$grey3: #5F5E5E;
$grey4: #707070;
$grey5: #979797;
$grey6: #5F5E5E;
$grey7: #44475A;
$grey8: #d8d8dc;
$grey9: #35374F;
$grey10: #434755;
$grey11: #8B8DA5;
$grey12: #afb5ba;
$lightgrey: #dddddd;
$lightgrey2: #ededed;


$orange: #FFA400;
$orange-dark: #D36E2E;
$light-red: #FF594A;

$slate_gray: #78888E;
$black1: #191A35;
$black2: #121425;
$black3: #27293D;

$bg-blue: #121425;
$light-blue: #3B92FF;

$text-white-05: rgba(#ffffff, 0.5);

$input-bg: $body-bg;
$input-border-color: $grey2;
$input-border-width: 2px;
$input-height: 36px;
$input-padding-y: 10px; 
$input-padding-x: 10px;
$input-font-size: 12px;
$input-color: white;

$btn-font-size: 15px;
$btn-border-width: 2px;
