$primary: theme-color("primary");
$secondary: theme-color("secondary");

$link-color: theme-color("primary");
$link-hover-color: lighten(theme-color("primary"), 20%);

$font-family-base: 'Nunito Sans', Helvetica, Arial, sans-serif, -apple-system;
$font-family-heading: 'Nunito Sans', serif, -apple-system;

$body-bg: #27283D;
$text: #BBBDC3;

$grey: #93949E;
$grey2: #34364A;
$grey3: #5F5E5E;
$grey4: #707070;
$grey5: #979797;
$grey6: #5F5E5E;
$grey7: #5D5E72;
$grey8: #d8d8dc;
$grey9: #35374F;
$lightgrey: #dddddd;
$lightgrey2: #ededed;

$slate_gray: #78888E;
$black1: #191A35;

$input-bg: $body-bg;
$input-border-color: $grey2;
$input-border-width: 2px;
$input-height: 36px;
$input-padding-y: 10px; 
$input-padding-x: 10px;
$input-font-size: 12px;
$input-color: white;

$btn-font-size: 15px;
$btn-border-width: 2px;
