<footer class="footer">
  <div class="footer-row">
    <div class="footer-col d-lg-flex align-items-center">
      <div class="footer-logo pr-2  mb-2 mb-lg-0">
        <img src="{{"images/footer_logo.png" | relURL }}" alt="logo">
      </div>
      <div class="footer-address pr-2 text-blue position-relative pl-2  mb-2 mb-lg-0">
          <div class="footer-address-icon p-abs">
            <img src="{{"images/address_icon.svg" | relURL }}" alt="address">
          </div>
          <div class="footer-address-text">
              3 Pemimpin Drive, 4-01, Industrial Building, Singapore, 576147
          </div>
      </div>
      <div class="footer-phone position-relative pl-2 mb-2 mb-lg-0">
        <div class="footer-phone-icon p-abs">
          <img src="{{"images/phone_icon.svg" | relURL }}" alt="phone">
        </div>
        <div class="footer-phone-text">
          <a href="tel:+12023908669">+1(202)390-8669</a>
        </div>
      </div>
      <div class="footer-email-text pl-1 mb-2 mb-lg-0">
        <a href="https://www.binaryflux.xyz" target="_blank"><span class="">•</span>www.binaryflux.xyz</a>
      </div>
    </div>
    <div class="footer-col">
      <div class="footer-copyright text-blue">
         © Copyright Binaryflux
      </div>
    </div>
  </div>
</footer>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!-- <script src="{{"vendor/select2/select2.full.js" | relURL}}"></script>
<script src="{{"vendor/highchart/highcharts.js" | relURL}}"></script>
<script src="{{"vendor/highchart/highcharts-more.js" | relURL}}"></script> -->
<!-- <script src="{{"vendor/particles.min.js" | relURL}}"></script> -->
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="{{"js/app.js" | relURL}}"></script>