<header>
	<div class="d-flex justify-content-between align-items-center">
		<div class="logo-wrap">			
			<a href="#">
				<img src="{{"images/logo.svg" | relURL }}" alt="logo" class="logo">
			</a>
		</div>
		<div class="navbar-right dropdown">
			<ul class="list-inline m-0">
				<li class="list-inline-item ml-1 ml-md-0 mr-0">
					<a href="#" target="_self">
						<img class="n-image" src="{{"images/ic_settings.svg" | relURL }}" width="20" height="20" alt="settings">
						<img class="h-image" src="{{"images/ic_settings_blue.svg" | relURL }}" width="20" height="20" alt="settings">
					</a>
				</li>
				<li class="list-inline-item ml-1 ml-md-4 mr-0">
					<a href="#" target="_self">
						<img class="n-image" src="{{"images/ic_notifications.svg" | relURL }}" width="20" height="20" alt="notify">
						<img class="h-image" src="{{"images/ic_notifications_blue.svg" | relURL }}" width="20" height="20" alt="notify">
					</a>
				</li>
				<li class="list-inline-item ml-1 ml-md-4 mr-0">
					<a class="dropdown-profile dropdown-arrow-blue dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<img src="{{"images/ic_account_circle.svg" | relURL }}" width="20" height="20" alt="profile">
					</a>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
						<a class="dropdown-item" href="#">Action</a>
						<a class="dropdown-item" href="#">Another action</a>
						<a class="dropdown-item" href="#">Something else here</a>
					</div>
				</li>
			</ul>			
		</div>
	</div>
	
</header>