.badge {
    padding: 0;
    min-width: 24px;
    height: 24px;
    line-height: 24px;
    background: $black1;
    border-radius: 56%;
    color: $slate_gray;
    font-size: 12px;
    font-weight: 900;
}