.border{
    &-blue{
        &-left{
            &-md{
                @media (min-width: 768px) {
                    border-left: 2px solid $bg-blue;
                }
            }
        }
        &-right{
            &-md{
                @media (min-width: 768px) {
                    border-right: 2px solid $bg-blue;
                }
            }
        }
    }
    &-white{
        &--5{
            border: 1px solid #5D5E72;
        }
    }
}