.border{
    &-blue{
        &-left{
            &-md{
                @media (min-width: 768px) {
                    border-left: 2px solid $bg-blue-2;
                }
            }
        }
        &-right{
            &-md{
                @media (min-width: 768px) {
                    border-right: 2px solid $bg-blue-2;
                }
            }
        }
    }
    &-white{
        &--5{
            border: 1px solid #5D5E72;
        }
    }
    &-top{
        &-grey{
            border-top: 1px solid rgba(93, 94, 114, 0.5);
        }
        &-light-blue{
            border-top: 1px solid rgba(151, 151, 151, 0.25);
        }
    }
    &-bottom{
        &-white{
            &-1{
                border-bottom: 1px solid $white-7;
            }
        }
    }
}