.btn{
	padding: 2px 40px;
	min-width: 116px;
	&-primary{
		color: $body-bg;
		.btn {
			color: $black3;
			font-weight: 900;
			padding: 4px 10px;
			min-width: inherit;
			border: 0;
			border-radius: 0;
			text-align: left;
			&:not(.dropdown-toggle) {
				min-width: 84px;		
			}

			&.dropdown-toggle {
				padding: 0 11px;
				border-left: 1px solid rgba($black3, 0.5);
				&:after {
					border: 0;
					content: "\e902";
					font-family: icomoon;
					vertical-align: middle;
					font-size: 10px;
				}
			}
			&:hover{
				color: #fff;
			}
		}
		&:hover{
			color: #fff;
			background-color: #187bf5;
			border-color: #0c74f5;
		}
	}
	&-outline-dark{
		color: $grey;

		.btn {
			font-weight: 900;
			padding: 2px 10px;
			min-width: inherit;
			border: 2px solid $white-5;		
			text-align: left;
			color: $white-5;
			&:not(.dropdown-toggle) {
				min-width: 84px;
				border-right: 0;
				border-top-right-radius: 2px;
				border-bottom-right-radius: 2px;
				
			}

			&.dropdown-toggle {
				padding: 0 11px;
				border: 2px solid $white-5;	
				border-left: 1px solid $white-5;	
				border-top-left-radius: 2px;
				border-bottom-left-radius: 2px;
				&:after {
					border: 0;
					content: "\e902";
					font-family: icomoon;
					vertical-align: middle;
					font-size: 10px;
				}
			}
			&:hover{
				color: #fff;
			}
		}
		&__bl2{
			.btn{
				border-right: 2px solid $white-5 !important;
			}
		}
	}
	&-icon {
		padding: 2px 10px;
		vertical-align: middle;
		.icon {
			margin-right: 5px;			
			color: inherit;
			font-size: 14px;
			
			&:before {
				color: inherit;
			}
		}
	}
	&-radius {
		&-2 {
			border-radius: 2px;
		}
	}
	&-group {
		.dropdown-menu {
			transform: translate3d(0px, 0px, 0px) !important;
			top: 100% !important;
			left: auto !important;
			right: 0 !important;
		}
		&.btn-primary {
			border-radius: 2px;
		}
	}
	&-edit {
		cursor: pointer;
		border: 0;
		background: transparent;
		padding: 0;
		box-shadow: none;
		color: $white-5;
		&__test{
			img{
				position: relative;
				top: -2px;
			}
		}
	}
	&-icon {
		cursor: pointer;
		border: 0;
		background: transparent;
		padding: 0;
		box-shadow: none;
		color: $white-5;
		vertical-align: middle;
		outline: 0 !important;
		i {
			vertical-align: middle;
		}
	}
	&-small{
		padding: 2px 15px;
		i{
			margin-right: 7px;
			position: relative;
			top: 1px;
		}
	}
	&-add{
		font-weight: 700;
		border-radius: 2px;
		font-size: 12px;
	}
	&-115{
		min-width: 115px !important;
		@media (min-width: 992px) and (max-width: 1024px) {
			min-width: 84px !important;
		}
	}
	&-add-icon{
		background: transparent;
		border: 0;
		border: 1px solid #fff;
		padding: 6px 10px;
		color: #fff;
		min-width: auto;
		i{
			&::before{
				color: #fff;
			}
		}
		&:hover{
			border: 1px solid #3C92FF;
			color: #3C92FF !important;
			i{
				&::before{
					color: #3C92FF;
				}
			}
		}
	}
	&.button-border{
		border-color: #347cd6;
	}
	&-outline-primary{
		&:hover{
			.icon-add{
				&::before{
					color: #fff;
				}
			}
		}
	}
	&-demo{
		background-color: #15BFFF;
		line-height: 41px;
		color: #fff;
		font-size: 22px;
		border-radius: 4px;
		box-shadow: 0 2px 20px 0 #0A1931;
		@media (max-width: 991px) {
			font-size: 16px;
			line-height: 31px;
		}
		&.demo-submit{
			padding: 8px 92px;
		}
	}
}
a.btn-grey {
	color: $grey;
	&:focus,
	&:hover {
		color: #fff;
		i{
			&::before{
				color: $light-blue;
			}
		}
	}
}

button{
	outline: 0;
	&:focus{
		outline: 0;
	}
	&.reset{
		background: transparent;
		border: 0;
		padding: 0;
	}
}
.test-btn{
	border: 1px solid #fff;
	color: #fff !important;
	padding: 0.25rem 0.5rem;
	&:hover{
		border: 1px solid #3C92FF;
		color: #3C92FF !important;
		background: transparent;
	    border-radius: 0.25rem;
	}
}

.dropdown-toggle{
	&[aria-expanded="true"]{
		&::after{
			transform: rotate(180deg);
		}		
	}
}

button{
	.n-image{
		display: block;
	}
	.h-image{
		display: none;
	}
	&:hover{
		.n-image{
			display: none;
		}
		.h-image{
			display: block;
		} 
	}
}
button{
	&.btn-light-blue{
		background: #1391FF;
		height: 40px;
		border-radius: 2px;
		color: #0A0C1B;
		font-size: 12px;
		font-weight: bold;
		letter-spacing: 0;
		line-height: 16px;
	    padding: 0 70px;
	}
}