.btn{
	// font-size: 15px;
	padding: 2px 40px;
	min-width: 116px;
	&-primary{
		color: $body-bg;
	}
	&-outline-dark{
		color: $grey;
	}
	&-icon {
		padding: 2px 10px;
		vertical-align: middle;
		.icon {
			margin-right: 5px;			
			color: inherit;
			
			&:before {
				color: inherit;
			}
		}
	}
}
a.btn-grey {
	color: $grey;
	&:focus,
	&:hover {
		color: $grey;
		opacity: 0.85;
	}
}