.highcharts-background{
    fill: transparent !important;
}

.highcharts-axis-labels text{
    fill: #ffffff !important;
}

.highcharts-legend{
    display: none;
}

.highcharts-grid-line{
    stroke: #44475A !important;
}

.highcharts-column-series rect.highcharts-point{
    stroke: transparent !important;
}

.highcharts-point-hover{
    fill: #3C92FF;
}

.highcharts-xaxis-labels, .highcharts-yaxis-labels{
    text{
        font-size: 9px !important;
    }
}