.highcharts-background{
    fill: transparent !important;
}

.highcharts-axis-labels text{
    fill: #ffffff !important;
}

.highcharts-legend{
    display: none;
}

.highcharts-grid-line{
    stroke: #44475A ;
}

.highcharts-column-series rect.highcharts-point{
    stroke: transparent !important;
}

.highcharts-point-hover{
    fill: #3C92FF;
}

.highcharts-xaxis-labels, .highcharts-yaxis-labels{
    text{
        font-size: 9px !important;
    }
}

.highcharts-axis-labels span.active {
    font-weight:bold;
}


.highcharts-exporting-group, .highcharts-map-navigation{
    display: none;
}
.highcharts-title{
    fill: #fff;
    font-size: 20px;
    font-weight: bold;
    display: none;
}
.highcharts-map-series .highcharts-point{
    stroke: transparent !important;
}
#container .highcharts-color-0, #container1 .highcharts-color-0{
    fill: #25264B !important;
    stroke: transparent !important;
    .highcharts-point{
        stroke-width: 0 !important;
        &-hover{
             fill:  #FF5700 !important;
        }
    }
}
.highcharts-point{
    stroke-width: 0px !important;
}

.highcharts-series-inactive, .highcharts-series-hover{
    opacity: 1 !important;
}

#container, #container1{
    max-width: 100%;
    margin: auto;
    .highcharts-data-label {
        text{
            color: #BAB9B9 !important;
            font-size: 10px !important;
            font-weight: bold !important;
            fill: #BAB9B9 !important;
            .highcharts-text-outline{
                stroke-width: 0 !important;
            }
        }
    }
    .highcharts-markers.highcharts-series-2.highcharts-mappoint-series.highcharts-tracker{
        &:nth-child(3){
            .highcharts-point{
                stroke-width: 30px !important;
            }
        }
    }
    g.highcharts-series, .highcharts-point, .highcharts-markers, .highcharts-data-labels{
        opacity: 1;
    }
    .highcharts-figure, .highcharts-data-table table {
        max-width: 100%;
        margin: 1em auto;
    }
}

#graph {
    height: 300px;
    .highcharts-data-table table {
        border-collapse: collapse;
        border: 1px solid #EBEBEB;
        margin: 10px auto;
        text-align: center;
        width: 100%;
        max-width: 500px;
        @media (max-width: 767){
            max-width: 100%;
        }
    }
    .highcharts-area{
        fill-opacity: 1 !important;
    }
    .highcharts-figure, .highcharts-data-table table {
        max-width: 800px;
        margin: 1em auto;
    }
    .highcharts-grid-line{
        stroke: #5D5E72 !important;
        opacity: 0.5;
    }
    .highcharts-crosshair-category {
        stroke: #000000 !important;
        stroke-opacity: 0.5 !important;
    }
    .highcharts-axis-line{
        stroke: #BFBFBF !important;
        stroke-width: 0.5;
        opacity: 0.5;
    }
}

#bars, #bars1 {
    height: 350px;
    max-width: 100%;
    margin: auto;
    .highcharts-data-table table {
        border-collapse: collapse;
        border: 1px solid #EBEBEB;
        margin: 10px auto;
        text-align: center;
        width: 100%;
    }
    .highcharts-data-table caption {
        padding: 1em 0;
        font-size: 1.2em;
        color: #555;
    }
    .highcharts-data-table th {
        font-weight: 600;
        padding: 0.5em;
    }
    .highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
        padding: 0.5em;
    }
    .highcharts-point{
        stroke-width: 0 !important;
        width: 15px;
    }
    .highcharts-grid-line{
        stroke: #5D5E72 !important;
        opacity: 0.5;
    }
    .highcharts-axis-line {
        stroke: #0a0c1b !important;
    }
    @media (max-width: 1199px){
        max-width: 100%;
    }
}

#radial-progress-bar, #radial-progress-bar1{
    max-width: 300px;
    margin: auto;
    .highcharts-data-label {
        text{
            color: #BFBFBF !important;
            font-size: 11px !important;
            font-weight: 300 !important;
            fill:  #BFBFBF !important;
            .highcharts-text-outline{
                stroke-width: 0 !important;
            }
        }
    }
    .highcharts-plot-band, .highcharts-pane{
        fill: #ffffff !important;
    }
    .highcharts-axis-title{
        fill: #FFFFFF !important;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 20px;
    }
    @media (max-width: 1199px){
        margin: auto;
    }
}
#line-graph{
    width: 100%;
    .highcharts-grid-line{
        stroke: #5D5E72 !important;
        opacity: 0.5;
    }
}