.datasource{
    &-header{
        border-bottom: 2px solid rgba(93, 94, 114, 0.5); 
    }
    &-footer{
        border-top: 1px solid rgba(93, 94, 114, 0.5); 
    }
    &-actions{
        .btn.dropdown-toggle{
            padding: 2px 11px !important;
        }
    }
}