.dropdown {
    &-profile {
        display: inline-block;
        padding-right: 33px;
        position: relative;
    }
    &-arrow {
        &-blue {
            &:after {
                content: "";
                display: block;
                width: 0;
                height: 0;
                border: 5px solid $primary;
                border-bottom-color: transparent;
                border-left-color: transparent;
                border-right-color: transparent;
                position: absolute;
                right: 7px;
                top: 8px;
            }
        }
    }
    &-menu{
        padding: 0;

    }
    &-item{
        background-color: $grey9;
        color: $text;
        &:hover{
            background-color: $blue-light-1;
            color: #fff;
        }
    }
}

//multiselect

.multiselectDropdown{
    position: relative;
    #searchRoles{
        background: transparent;
        border: 0.5px solid rgba(245, 245, 245, 0.17);
        width: 100%;
        padding: 6px 10px;
        margin: 8px 0;
        color: white;
    }
    .dropdown-content{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #20284c;
        min-width: 100%;
        overflow: auto;
        z-index: 1;
        box-shadow: 1px 7px 30px 2px rgba(0,0,0,0.6);
        border-radius: 4px;
        .dataList{
            overflow-y: auto;
            height: 130px;
            padding: 0 15px;
            .customized-checkbox{
                .custom-control-label{
                    font-size: 12px;
                    color: rgba(255,255,255,0.72);
                    font-weight: 300;
                }
                &.no-boxshadow{
                    box-shadow: none !important;
                }
                &:first-child{
                    padding-top: 10px;
                    padding-bottom: 10px;
                    box-shadow: 0 2px 0px 0 rgba(0,0,0,0.3);
                }
                &:not(:first-child){
                    box-shadow: 0 2px 0px 0 rgba(0,0,0,0.3);
                    padding: 10px 24px;
                }
            }
            &::-webkit-scrollbar {
                display: none;
            }
            &.optionList{
                box-shadow: 0 2px 0px 0 rgba(0,0,0,0.3);
            }
            &.statusList{
                height: 84px;
            }
        }
        .dropdown-footer{
            border-radius: 0 0 4px 4px;
            background-color: #20284C;
            box-shadow: 0 2px 4px 2px rgba(0,0,0,0.24);
            align-items: center;
            justify-content: space-between;
            padding: 0 15px;
            a{
                text-decoration: none;
                color: #3D90F7;
            }
        }
        &.show, &.show-group, &.show-status{
            display: block;

        }
        &.dropdown-role{
            top: 32px;
        }
    }
}