.element-field-row {
    border-bottom: 2px solid rgba($grey7, 0.5);
    padding: 15px 0;
}

.field-wrapper {
    padding-right: 60px;
    position: relative;
}

.field {
    &-type-ratio {
        .form-field {
            position: relative;
            padding-left: 30px;
            &:before {
                content: "";
                display: block;
                border: 2px solid $grey7;
                border-radius: 56%;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 15px;
                height: 15px;
            }
        }
    }
    &-type-toggle {
        .form-field {

        }
    }
    &-repeat {
        .form-field {
            position: relative;
        }
        .btn-field-remove {
            position: absolute;
            right: -30px;
            top: 50%;
            transform: translateY(-50%);
            i{
                font-size: 10px;
                font-weight: 300;
                &::before{
                    color: $grey7;
                }
            }
        }
        &-btn-wrap {
            padding-left: 0;
            margin-top: 10px;
        }
    }
}