.element-field-row {
    border-bottom: 2px solid rgba($grey7, 0.5);
    padding: 15px 0;
}

.field-wrapper {
    padding-right: 60px;
    position: relative;
}

.field {
    &-type-ratio {
        .form-field {
            position: relative;
            padding-left: 30px;
            &:before {
                content: "";
                display: block;
                border: 2px solid $grey7;
                border-radius: 56%;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 15px;
                height: 15px;
            }
        }
    }
    &-type-toggle {
        .form-field {

        }
    }
    &-repeat {
        .form-field {
            position: relative;
        }
        .btn-field-remove {
            position: absolute;
            right: -30px;
            top: 50%;
            transform: translateY(-50%);
            i{
                font-size: 10px;
                font-weight: 300;
                &::before{
                    color: $grey7;
                }
            }
        }
        &-btn-wrap {
            padding-left: 0;
            margin-top: 10px;
        }
    }
}



//Style Guide

.progressbar-radio{
    display: flex;
    font-size: 14px;
    @media screen and (max-width: 991px){
        padding-bottom: 27px;
        padding-top: 20px;
    }
    .first-child{
        @media screen and (max-width: 991px){
            position: relative;
            right: -13px;
            top: -20px;
        }
        &.active{
            span{
                font-weight: bold;
                color:#fff;
            }
        }
        label.radio-input{
            position: relative;
            padding-right: 20px;
            top:-5px;
            &:before{
                content: ' ';
                position: absolute;
                right: 0;
                border-radius: 50%;
                width: 17px;
                height: 17px;
                border: 2px solid #fff;
            }
            &.active{
                &:before{
                    border:2px solid #1391FF !important;
                }
                &:after{
                    content: ' ';
                    position: absolute;
                    left: 7.5px;
                    top: 4.5px;
                    border-radius: 50%;
                    width: 7.5px;
                    height: 7.5px;
                    background-color: #1391FF;
                }
            }
        } 
    }
    .last-child{
        @media screen and (max-width: 991px){
            position: absolute;
            bottom: 0;
            right: 4px;
        }
        &.active{
            span{
                font-weight: bold;
                color:#fff;
            }
        }
        label.radio-input{
            position: relative;
            padding-left: 20px;
            top:-5px;
            &:before{
                content: ' ';
                position: absolute;
                right: 0;
                border-radius: 50%;
                width: 17px;
                height: 17px;
                border: 2px solid #fff;
            }
            &.active{
                &:before{
                    border:2px solid #1391FF !important;
                }
                &:after{
                    content: ' ';
                    position: absolute;
                    left: 8px;
                    top: 4.5px;
                    border-radius: 50%;
                    width: 7.5px;
                    height: 7.5px;
                    background-color: #1391FF;
                }
            }
        }
    }
    .line{
        width: 300px;
        background-color: #fff;
        height: 1px;
        position: relative;
        top: 10px;
        margin-left: 5px;
        margin-right: 5px;
        @media screen and (max-width: 991px){
            width: 1px;
            top: 3px;
            height: 130px;
        }
    }
}
/* Checkmark */
.progressbar-checkmark{
    display: flex;
    font-size: 14px;
    @media screen and (max-width: 991px){
        padding-bottom: 27px;
        padding-top: 20px;
    }
    .first-child{
        @media screen and (max-width: 991px){
            position: relative;
            right: -13px;
            top: -20px;
        }
        &.active{
            span{
                font-weight: bold;
                color:#fff;
            }
        }
        label.checkmark-input{
            position: relative;
            padding-right: 20px;
            top:-5px;
            &:before{
                content: ' ';
                position: absolute;
                left: 0;
                width: 18px;
                height: 18px;
                background-color: #1391FF;
                border-radius: 50%;
            }
            &.active{
                &:after{
                    content: ' ';
                    position: absolute;
                    top: 5px;
                    left: 4px;
                    transform: rotate(-45deg) scale(1);
                    width: 10px;
                    height: 5px;
                    border-left: 2px solid #fff;
                    border-bottom: 2px solid #fff;
                }
            }
        } 
    }
    .last-child{
        @media screen and (max-width: 991px){
            position: absolute;
            bottom: 0;
            right: 4px;
        }
        &.active{
            span{
                font-weight: bold;
                color:#fff;
            }
        }
        label.checkmark-input{
            position: relative;
            padding-left: 20px;
            top:-5px;
            &:before{
                content: ' ';
                position: absolute;
                left: 0;
                width: 18px;
                height: 18px;
                background-color: #1391FF;
                border-radius: 50%;
            }
            &.active{
                &:after{
                    content: ' ';
                    position: absolute;
                    top: 5px;
                    left: 4px;
                    transform: rotate(-45deg) scale(1);
                    width: 10px;
                    height: 5px;
                    border-left: 2px solid #fff;
                    border-bottom: 2px solid #fff;
                }
            }
        }
    }
    .line{
        width: 300px;
        background-color: #fff;
        height: 1px;
        position: relative;
        top: 10px;
        margin-left: 5px;
        margin-right: 5px;
        @media screen and (max-width: 991px){
            width: 1px;
            top: 3px;
            height: 130px;
        }
    }
}
/* Button style */
.dropdown-noborder{
    position: relative;
    .drop-display{
        display: flex;
        border-radius: 2px;
        justify-content: space-between;
        align-items: center;
        padding: 7px 10px;
        width: 264px;
        cursor: pointer;
        padding-left: 0;
        cursor: pointer;
        .left{
            display: flex;
            justify-content: space-between;
            align-items: center;
            p{
                margin-bottom: 0;
                font-size: 14px;
                letter-spacing: 0;
                line-height: 20px;
                font-family: nunito sans;
                color: #1391FF;
            }
        }
        .right{
            .drop-down {
                display: block;
            }
            .drop-up {
                display: none;
            }
        }
    }
    .drop-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        border: 1px solid rgba(19, 145, 255, .54);
        position: absolute;
        top: 31px;
        width: 264px;
        cursor: pointer;
        li{
            list-style-type: none;
            display: flex;
            padding: 2px 10px;
            border-bottom: 1px solid  rgba(19, 145, 255, .54);
            background-color: #191A35;
            &:first-child{
                position: relative;
                img.top-arrw{
                    position: absolute;
                    top: -7px;
                    right: 8px;
                    width: 16px;
                }
            }
            &:last-child{
                border-bottom:0;
            }
            .left{
                display: flex;
                justify-content: space-between;
                align-items: center;
                p{
                    margin: 0;
                    font-size: 14px;
                    letter-spacing: 0;
                    line-height: 20px;
                    font-family: nunito sans;
                    color: #1391FF;
                }
            }
        }
    }
}
.orange-count{
    background-color: #D4411E;
    padding: 1px;
    width: 20px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    margin-right: 5px;
}
.btn-220{
    min-width: 220px;
}