#event-frm-drp{
    .drop-display {
        width: 275px;
    }
    .drop-list{
        width: 275px;
        li{
            padding: 7px 10px;
            .left{
                img{
                    max-width: 64px;
                    max-height: 14px;
                    width: 64px;
                }
                .txt-wrapp{
                    p{
                        opacity: 0.5;
                        color: #FFFFFF;
                        font-family: "Nunito Sans";
                        font-size: 10px;
                        font-weight: 300;
                        letter-spacing: 0;
                        line-height: 14px;
                        margin-left: 10px;
                    }
                    .capt-txt{
                        opacity: 0.7;
                        color: #FFFFFF;
                        font-family: "Nunito Sans";
                        font-size: 12px;
                        font-weight: 900;
                        letter-spacing: 0;
                        line-height: 16px;
                    }
                }
            }
        }
    }
}

.change-cont{
    .point-disp{
        display: none;
        &.show{
            display: block;
        }
    }
}