.custom-control-label::before{
	background-color: $body-bg;
	border: white solid 2px;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::after{
	background-color: $primary;
	border-radius: 50%;
	transform: scale(0.5);
	background-image: none;
}

.custom-control-input:checked ~ .custom-control-label::before{
	border: 2px solid $primary;
	background-color: $body-bg;
}

.custom-control-label{
	font-size: 12px;
	color: white;
	line-height: 2;
	font-weight: 300;
}

.custom-checkbox-dark {
	.custom-control-label{
		color: #afafaf;
		&::before{
			border-color: $grey7;
		}
	}
}

.form-control{
	&:focus{
		background-color: $body-bg;
		color: white;
	}
	&-dark {
		border-color: $grey7;
	}
	&.input-small{
		height: 30px;
		padding: 5px 10px;
	}
	&.input-search{
		border: 0;
		outline: 0;
		border: 2px solid $blue-light;	
		border-radius: 17.5px;
		color: #fff;
		@include placeholder {
			color: $blue-light;
			font-weight: 700;
		}
	}
	&.bg-transparent{
		background: transparent;
	}
	&.w-260{
		width: 260px;
		padding-left: 15px;
		padding-right: 15px;
		@media (max-width: 767px) {
			width: 100%;
		}
	}
}

.form {
	&-field {
		margin-bottom: 15px;
	}
	&-label {
		margin-bottom: 5px;
	}
	&-radio {
		&-group {
			.form-label {
				font-size: 12px;
				color: white;
				padding-left: 24px;
				font-weight: 900;
			}
			.custom-control-label {
				color: $grey8;
			}
		}
	}
}

.search-wrap{
	img{

	}
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

/*** Switch styles ***/

.switch {
	position: relative;
    display: inline-block;
    width: 22px;
	height: 12px;
	margin-bottom: 0;
}

.switch input { 
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
	border: 2px solid #3A4C67;
}

.slider:before {
	position: absolute;
	content: "";
	height: 6px;
	width: 6px;
	left: 2px;
	bottom: 1px;
	background-color: #3A4C67;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: #27283D;
    border: 2px solid #3A4C67;
}

input:focus + .slider {
	box-shadow: 0 0 1px #3A4C67;
}

input:checked + .slider:before {
	-webkit-transform: translateX(6px);
	-ms-transform: translateX(6px);
	transform: translateX(6px);
	left: 4px;
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}


/*** Switch styles ends ***/