input{
	&::placeholder{
		font-weight: 900;
	}
}
input[type="text"]{
	&::placeholder{
		color: $text-white-08;
		font-weight: 300;
	}
}
.custom-control-label::before{
	background-color: $body-bg;
	border: white solid 2px;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::after{
	background-color: $primary;
	border-radius: 50%;
	transform: scale(0.5);
	background-image: none;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before{
	background-color: $primary;
}
.custom-control-input:checked ~ .custom-control-label::before{
	border: 2px solid $light-blue-2;
	background-color: $body-bg;
}

.custom-control-label{
	font-size: 12px;
	color: white;
	line-height: 2;
	font-weight: 300;
	&:before{
		content: '';
		width: 13px;
		height: 13px;
	    top: 5px;
	}
	&:after{
		content: '';
		width: 13px;
		height: 13px;
	    top: 5px;
	}
}

.custom-checkbox-dark {
	.custom-control-label{
		color: #afafaf;
		&::before{
			border-color: $grey7;
		}
		&:hover{
			&::before{
				box-shadow: 0px 0px 0px 0.2rem rgba(61, 144, 247, 0.25);
			}
		}
	}
}

.form-control{
	font-weight: 300;
    border-color: #2d2f3a;
	&:focus{
		background-color: $body-bg;
		color: white;
	}
	&-dark {
		border-color: $grey13;
	}
	&.input-small{
		height: 30px;
		padding: 5px 10px;
	}
	&.input-search{
		border: 0;
		outline: 0;
		border: 1px solid $search-input-type;	
		border-radius: 17.5px;
		color: #fff;
		&:hover{
			box-shadow: 0px 0px 0px 0.2rem rgba(61, 144, 247, 0.25);
		}
		&:focus{
			background-color: $body-bg;
			box-shadow: 0 0 0 0.2rem rgba(108,117,125,.25);
			border-color: $grey12;
		}
		@include placeholder {
			color: $blue-light;
			font-weight: 700;
		}
	}
	&.bg-transparent{
		background: transparent;
	}
	&.w-260{
		width: 260px;
		padding-left: 15px;
		padding-right: 15px;
		@media (max-width: 767px) {
			width: 100%;
		}
	}
	&.w-360{
		width: 360px;
		padding-left: 15px;
		padding-right: 15px;
		height: 42px;
		@media (max-width: 767px) {
			width: 100%;
		}
	}
	&:disabled{
		background-color: transparent;
	}
}

.form {
	&-field {
		margin-bottom: 15px;
	}
	&-label {
		margin-bottom: 5px;
	}
	&-radio {
		&-group {
			.form-label {
				font-size: 12px;
				color: white;
				padding-left: 24px;
				font-weight: 900;
			}
			.custom-control-label {
				color: $grey8;
			}
		}
	}
}

.search-wrap{
	img{

	}
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

/*** Switch styles ***/

.switch {
	position: relative;
    display: inline-block;
    width: 22px;
	height: 12px;
	margin-bottom: 0;
}

.switch input { 
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	// background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
	border: 2px solid #3A4C67;
}

.slider:before {
	position: absolute;
	content: "";
	height: 6px;
	width: 6px;
	left: 2px;
	bottom: 1px;
	background-color: #3A4C67;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: #ccc;
    border: 2px solid #3A4C67;
}

input:focus + .slider {
	box-shadow: 0 0 1px #3A4C67;
}

input:checked + .slider:before {
	-webkit-transform: translateX(6px);
	-ms-transform: translateX(6px);
	transform: translateX(6px);
	left: 4px;
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}


/*** Switch styles ends ***/

.noresize {
	resize: none; 
}

/*** File input styling  ***/

.file-input::-webkit-file-upload-button {
    visibility: hidden; 
}
.file-input {
	padding-top: 5px;
	padding-bottom: 5px;
	position: relative;
    z-index: 2;
    background-color: transparent !important;
	font-size: 0;
	cursor: pointer;
}

#noFile{
	position: absolute;
    left: 12px;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    color: $grey8;
    z-index: 1;
}

/*** File input styling ends ***/

.modal-form-field{
	position: relative;
	max-width: 360px;
	margin: auto;
	label{
		position: absolute;
		top: -11px;
		left: 10px;
		background-color: $body-bg;
		padding: 0 5px;
		margin: 0;
	    text-transform: uppercase;
	    font-size: 12px;
	}
}