header{
	background-color: $secondary;
	padding: 4px 20px;
	// box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0 5px 10px 3px rgba(16,17,35,0.6);
	position: relative;
	z-index: 1;
	.list-inline{
		cursor: default;
	}
}

.logo {
	display: block;
	max-width: 160px;
	height: 32px;
	width: 100%;	

	&-wrap {
		padding-left: 10px;
	}
}