//Toast Styling
.test-toast{
    border: 0.7px solid rgba(121,181,107,0.53);
    border-radius: 2px;
    background-color: #1F212C;
    box-shadow: 28px 28px 28px 3px rgba(0,0,0,0.68);
    box-sizing: border-box;
    height: 60.7px;
    width: 435.7px;
    position: absolute;
    bottom: -91px;
    left: 50%;
    transform: translate(-50%,0);
    z-index: 501;
    .toast-body{
        .toast-wrap{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .toast-img{
                height: 30px;
                width: 30px;
                border: 1.5px solid #79B56B;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    vertical-align: middle;
                }
                i.tick{
                    color: #79B56B;
                    font-size: 14px;
                }
            }
            .toast-msg{
                text-align: left;
                margin-left: 15px;
                h3{         
                    // height: 20px;
                    // width: 107px;
                    color: #FFFFFF;
                    font-family: "Avenir";
                    font-size: 15px;
                    font-weight: 900;
                    letter-spacing: 0;
                    line-height: 20px;
                    margin: 0 0 4px;
                }
                p{
                    opacity: 0.8;
                    color: #FFFFFF;
                    font-family: "Avenir";
                    font-size: 12px;
                    font-weight: 300;
                    letter-spacing: 0;
                    line-height: 16px;
                    margin: 0px;
                }
            }
        }
    }
    &.error{
        top: 152px;
        border: 0.7px solid rgba(211, 110, 46, 0.53);
        .toast-body{
            .toast-wrap{
                .toast-img{
                    border: 1.5px solid #D36E2E;
                    i.exclam{
                        color:  #D36E2E;
                        font-size: 14px;
                    }
                }
            }
        }
    }
    &.wait{
        top: 243px;
        border: 0.7px solid rgba(255, 219, 0, 0.53);
        .toast-body{
            .toast-wrap{
                .toast-img{
                    // border: 1.5px solid #FFDB00;
                    border: none;
                    i.clock-ic{
                        color:  #FFDB00;
                        font-size: 30px;
                    }
                }
            }
        }
    }
}


//Hub management styling start

.content{
    .hub-mngmnt-cont{
        .hub-upper{
            .hubs-add{
                padding: 20px;
                background-color: #0F1226;
                box-shadow: 0 2px 40px 2px rgba(0,0,0,0.24);
                h3{
                    color: #FFFFFF;
                    font-family: "Nunito Sans";
                    font-size: 12px;
                    font-weight: 800;
                    letter-spacing: 0;
                    line-height: 16px;
                }
                .addrem-hub{
                    display: flex;                    
                    .hubs-btn{
                        width: 116px;
                        height: 30px;
                        border: 1px solid #1391FF;
                        border-radius: 2px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 20px;
                        cursor: pointer;
                        padding: 10px;
                        i.icon-add-hub{
                            margin-right: 5px;
                        }
                        i.icon-rem-hub{
                            margin-right: 5px;
                        }
                        &:last-child{
                            margin-right: 0px;
                        }
                    }
                }
            }
        }
    }
    .hub-info-cont{
        padding: 10px 20px;
        .container{
            width: 100%;
            max-width: 1100px;
            padding: 0px;
            margin-left: 0px;
            .h-row{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 16px 45.90% 16px 15px;
                background-color: #151B39;
                box-shadow: 0 2px 4px 0 rgba(0,0,0,0.46);
                border-radius: 2px;
                opacity: 0.77;
                margin-bottom: 6px;
                height: 50px;
                .nam{
                    display: flex;
                    align-items: center;
                    position: relative;
                    // margin-right: auto;
                    img{
                        display: inline-block;
                        // margin-right: 6px;
                        position: absolute;
                        left: 23px;
                    }
                    .row-chkbox{
                        margin-right: 8px;
                        opacity: 0;
                        position: absolute;
                        left: -9999px;
                    }
                    p{
                        margin: 0px;
                        color: #FFFFFF;
                        font-family: "Nunito Sans";
                        font-size: 12px;                        
                        letter-spacing: 0;
                        line-height: 16px;                                               
                        &.hub{
                            font-weight: bold;
                            position: relative;
                            cursor: pointer;
                            padding-left: 38px; 
                            &:before{
                                content: ' ';
                                position: absolute;
                                width: 17px;
                                height: 17px;
                                left: -1px;
                                border: 1px solid #F0F0F0;
                                border-radius: 2px;
                            }
                        }                        
                    }
                    input[type="checkbox"]:checked ~ label::after{
                        transform: rotate(-45deg) scale(1);
                    }
                    label.hub-lavel{
                        margin: 0px;
                        color: #FFFFFF;
                        font-family: "Nunito Sans";
                        font-size: 12px;                        
                        letter-spacing: 0;
                        line-height: 16px;
                        font-weight: bold;
                        position: relative;
                        cursor: pointer;
                        padding-left: 38px;                            
                        &::before{
                            content: ' ';
                            position: absolute;
                            width: 17px;
                            height: 17px;
                            left: -1px;
                            border: 1px solid #F0F0F0;
                            border-radius: 2px;
                        }
                        &::after{
                            content: ' ';
                            position: absolute;
                            left: 3px;
                            top: 4px;
                            transform: rotate(-45deg) scale(0);
                            width: 10px;
                            height: 5px;
                            border-left: 1px solid #FFFFFF;
                            border-bottom: 1px solid #FFFFFF;
                        }        
                    }
                    &:last-child{
                        // margin-right: 0%;
                    }
                }
                &.hdr{
                    box-shadow: 0 2px 40px 2px rgba(0,0,0,0.24);
                    background-color: #20284C;
                    opacity: 0.65;
                    border-radius: 2px 2px 2px 0;
                    height: 40px;
                    margin-bottom: 0px;
                    .nam{
                        p{
                            color: #FFFFFF;
                            font-family: "Nunito Sans";
                            font-size: 11px;
                            font-weight: bold;
                            letter-spacing: 0;
                            line-height: 15px;
                        }
                        .row-chkbox{
                            margin-right: 20px;
                        }
                    }                    
                }
            }
        }
        &.channel{
            .h-row{
                padding: 16px 15px 16px 15px;
            }
        }
    }
}