//Toast Styling
.test-toast{
    border: 0.7px solid rgba(121,181,107,0.53);
    border-radius: 2px;
    background-color: #1F212C;
    box-shadow: 28px 28px 28px 3px rgba(0,0,0,0.68);
    box-sizing: border-box;
    height: 60.7px;
    width: 435.7px;
    position: absolute;
    bottom: -91px;
    // left: 50%;
    left: -999px;
    transform: translate(-50%,0);
    z-index: 501;
    .toast-body{
        .toast-wrap{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .toast-img{
                height: 30px;
                width: 30px;
                border: 1.5px solid #79B56B;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    vertical-align: middle;
                }
                i.tick{
                    color: #79B56B;
                    font-size: 14px;
                }
            }
            .toast-msg{
                text-align: left;
                margin-left: 15px;
                h3{         
                    // height: 20px;
                    // width: 107px;
                    color: #FFFFFF;
                    font-family: "Nunito Sans";
                    font-size: 15px;
                    font-weight: 900;
                    letter-spacing: 0;
                    line-height: 20px;
                    margin: 0 0 4px;
                }
                p{
                    opacity: 0.8;
                    color: #FFFFFF;
                    font-family: "Nunito Sans";
                    font-size: 12px;
                    font-weight: 300;
                    letter-spacing: 0;
                    line-height: 16px;
                    margin: 0px;
                }
            }
        }
    }
    &.error{
        top: 152px;
        border: 0.7px solid rgba(211, 110, 46, 0.53);
        .toast-body{
            .toast-wrap{
                .toast-img{
                    border: 1.5px solid #D36E2E;
                    i.exclam{
                        color:  #D36E2E;
                        font-size: 14px;
                    }
                }
            }
        }
    }
    &.wait{
        top: 243px;
        border: 0.7px solid rgba(255, 219, 0, 0.53);
        .toast-body{
            .toast-wrap{
                .toast-img{
                    // border: 1.5px solid #FFDB00;
                    border: none;
                    i.clock-ic{
                        color:  #FFDB00;
                        font-size: 30px;
                    }
                }
            }
        }
    }
    &.show{
        left: 50%;
    }
}


//Hub management styling start

.content{
    .hub-mngmnt-cont{
        .hub-upper{
            .hubs-add{
                padding: 20px;
                background-color: #0F1226;
                box-shadow: 0 2px 40px 2px rgba(0,0,0,0.24);
                h3{
                    color: #FFFFFF;
                    font-family: "Nunito Sans";
                    font-size: 12px;
                    font-weight: 800;
                    letter-spacing: 0;
                    line-height: 16px;
                }
                .addrem-hub{
                    display: flex;                                    
                    .hubs-btn{
                        width: 116px;
                        height: 30px;
                        border: 1px solid #1391FF;
                        border-radius: 2px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 20px;
                        cursor: pointer;
                        padding: 0px;
                        text-decoration: none;
                        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                        i.icon-add-hub{
                            margin-right: 5px;
                        }
                        i.icon-add{
                            margin-right: 5px;
                            // border: 1px solid #1391FF;
                            // border-radius: 50%;
                            font-size: 9px;
                            padding: 1px;
                            height: 12px;
                            &::before{
                                font-size: 7px;
                                border: 1px solid #1391FF;
                                border-radius: 50%;
                                padding: 2px;
                            }
                        }
                        i.icon-rem-hub{
                            margin-right: 5px;
                        }
                        i.icon-rem-hov{
                            display: none;
                            // margin-right: 5px;
                        }
                        &:last-child{
                            margin-right: 0px;
                        }
                        &:hover{
                            color: #FFFFFF;
                            background-color: #1391FF;
                            i.icon-add{                                
                                &::before{
                                    color: #fffffF;
                                    border: 1px solid #fffffF;
                                }
                            }
                            i.icon-rem-hub{
                                display: none;
                            }
                            i.icon-rem-hov{
                                display: inline;
                                margin-right: 5px;
                            }
                        }
                        &:focus {
                            box-shadow: 0 0 0 0.2rem rgba(61, 144, 247, 0.5);
                        }
                    }
                }
                &.bg-remove{
                    background-color: transparent;
                }
            }
        }
    }
    .hub-info-cont{
        padding: 10px 20px;
        overflow-x: auto;
        .container{
            width: 100%;
            max-width: 1100px;
            padding: 0px;
            margin-left: 0px;
            .h-row{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 16px 28% 16px 15px;
                background-color: rgba(21,27,57,0.77);
                box-shadow: 0 2px 4px 0 rgba(0,0,0,0.46);
                border-radius: 2px;
                // opacity: 0.77;
                margin-bottom: 6px;
                height: 50px;
                min-width: 631px;
                .nam{
                    display: flex;
                    align-items: center;
                    position: relative;
                    // margin-right: auto;
                    a{
                        position: absolute;
                        left: 23px;
                        z-index: 100;
                        img{
                            display: inline-block;
                            // margin-right: 6px;                            
                        }
                    }                    
                    .row-chkbox{
                        margin-right: 8px;
                        opacity: 0;
                        position: absolute;
                        left: -9999px;
                    }
                    p{
                        margin: 0px;
                        color: #FFFFFF;
                        font-family: "Nunito Sans";
                        font-size: 12px;                        
                        letter-spacing: 0;
                        line-height: 16px;
                        width: 100%;
                        text-align: left;                                              
                        &.hub{
                            font-weight: bold;
                            position: relative;
                            cursor: pointer;
                            padding-left: 38px; 
                            &:before{
                                content: ' ';
                                position: absolute;
                                width: 17px;
                                height: 17px;
                                left: -1px;
                                border: 1px solid #F0F0F0;
                                border-radius: 2px;
                            }
                        }                        
                    }
                    input[type="checkbox"]:checked ~ label::after{
                        transform: rotate(-45deg) scale(1);
                    }
                    label.hub-lavel{
                        margin: 0px;
                        color: #FFFFFF;
                        font-family: "Nunito Sans";
                        font-size: 12px;                        
                        letter-spacing: 0;
                        line-height: 16px;
                        font-weight: bold;
                        position: relative;
                        cursor: pointer;
                        padding-left: 38px;                            
                        &::before{
                            content: ' ';
                            position: absolute;
                            width: 17px;
                            height: 17px;
                            left: -1px;
                            border: 1px solid #F0F0F0;
                            border-radius: 2px;
                        }
                        &::after{
                            content: ' ';
                            position: absolute;
                            left: 3px;
                            top: 4px;
                            transform: rotate(-45deg) scale(0);
                            width: 10px;
                            height: 5px;
                            border-left: 1px solid #FFFFFF;
                            border-bottom: 1px solid #FFFFFF;
                        }        
                    }
                    &:last-child{
                        // margin-right: 0%;
                    }
                    &.col1{
                        min-width: 94px;
                    }
                    &.col2{
                        min-width: 108px;
                    }
                    &.col3{
                        min-width: 161px;
                    }
                    &.col4{
                        min-width: 102px;
                    }
                }
                &.hdr{
                    box-shadow: 0 2px 40px 2px rgba(0,0,0,0.24);
                    background-color: rgba(32,40,76,0.65);
                    // opacity: 0.65;
                    border-radius: 2px 2px 2px 0;
                    height: 40px;
                    margin-bottom: 0px;
                    .nam{
                        p{
                            color: #FFFFFF;
                            font-family: "Nunito Sans";
                            font-size: 11px;
                            font-weight: bold;
                            letter-spacing: 0;
                            line-height: 15px;
                        }
                        .row-chkbox{
                            margin-right: 20px;
                        }
                    }                    
                }
                &.selected{
                    background-color: #202854;
                }
            }
        }
        &.channel{
            .h-row{
                padding: 16px 15px 16px 15px;
            }
        }
    }
}


#addhubmodal{
    .modal-dialog{
        @media screen and (min-width:768px) {
            max-width: 838px;
        }
        .modal-content{
            padding: 20px;
            min-height: 557px;
            .modal-header{
                margin: 0px;
                padding: 0 0 16px;
                .left{
                    display: flex;
                    align-items: center;
                    h4{
                        color: #FFFFFF;
                        font-family: "Nunito Sans";
                        font-size: 15px;
                        font-weight: 900;
                        letter-spacing: 0;
                        line-height: 20px;
                        margin-right: 52px;
                    }
                }
                .close{
                    color: #1391FF;
                    text-shadow: none;
                }
            }
            .modal-body{
                padding: 40px 0 0;
                .add-hub-cont{
                    margin-bottom: 30px;
                    .particular{
                        display: flex;
                        align-items: center;
                        @media screen and (max-width:768px) {
                            flex-direction: column;
                            align-items: flex-start;
                        }
                        p{
                            margin: 0 48px 0 0;
                            min-width: 58px;
                            opacity: 0.7;
                            color: #FFFFFF;
                            font-family: "Nunito Sans";
                            font-size: 15px;
                            font-weight: bold;
                            letter-spacing: 0;
                            line-height: 20px;
                            margin-bottom: 8px;
                        }
                        .part-inp{
                            border: 1px solid #5D5E72;
                            border-radius: 2px;
                            background-color: #191A35;
                            width: 300px;
                            height: 40px;
                            color: #FFFFFF;
                            padding: 2px 8px;
                            @media screen and (max-width:340px) {
                                width: 270px !important;
                            }                          
                        }
                    }
                    &:last-child{
                        margin-bottom: 0px;
                    }
                }
            }
            .modal-footer{
                border-top: 1px solid;
                border-top-color: rgba(151, 151, 151, 0.25);
                padding: 16px 0 0 0px;
                .modal-ok{
                    background-color: #1391FF;
                    border-radius: 2px;
                    width: 120px;
                    height: 30px;
                    color: #0A0C1B;
                    font-family: "Nunito Sans";
                    font-size: 12px;
                    font-weight: 900;
                    letter-spacing: 0;
                    line-height: 16px;
                }
            }
        }
    }
}


#addchannelmodal{
    .modal-dialog{
        @media screen and (min-width:768px) {
            max-width: 838px;
        }
        .modal-content{
            padding: 20px;
            min-height: 557px;
            .modal-header{
                margin: 0px;
                padding: 0 0 16px;
                .left{
                    display: flex;
                    align-items: center;
                    h4{
                        color: #FFFFFF;
                        font-family: "Nunito Sans";
                        font-size: 15px;
                        font-weight: 900;
                        letter-spacing: 0;
                        line-height: 20px;
                        margin-right: 52px;
                    }
                }
                .close{
                    color: #1391FF;
                    text-shadow: none;
                }
            }
            .modal-body{
                padding: 40px 0 0;
                .add-hub-cont{
                    margin-bottom: 30px;
                    .particular{
                        display: flex;
                        align-items: center;
                        @media screen and (max-width:768px) {
                            flex-direction: column;
                            align-items: flex-start;
                        }
                        p{
                            margin: 0 25px 0 0;
                            min-width: 181px;
                            opacity: 0.7;
                            color: #FFFFFF;
                            font-family: "Nunito Sans";
                            font-size: 15px;
                            font-weight: bold;
                            letter-spacing: 0;
                            line-height: 20px;
                            margin-bottom: 8px;
                        }
                        .part-inp{
                            border: 1px solid #5D5E72;
                            border-radius: 2px;
                            background-color: #191A35;
                            width: 300px;
                            height: 40px;
                            color: #FFFFFF;
                            padding: 2px 8px;
                            @media screen and (max-width:340px) {
                                width: 270px !important;
                            }
                        }
                        .selec2-drpdwn{
                            width: 369px;
                            position: relative;
                            @media screen and (max-width:440px) {
                                width: 300px !important;
                            }
                            @media screen and (max-width:340px) {
                                width: 270px !important;
                            }
                            .select2-container{
                                max-width: 369px !important;
                                // @media screen and (max-width:991px) and (min-width:768px) {
                                //     width: 369px !important;
                                // }
                                @media screen and (min-width:768px) {
                                    width: 369px !important;
                                }
                                @media screen and (max-width:768px) {
                                    width: 369px !important;
                                }
                                @media screen and (max-width:440px) {
                                    width: 300px !important;
                                }
                                @media screen and (max-width:340px) {
                                    width: 270px !important;
                                }
                                .select2-selection--multiple{
                                    background-color: #191A35;
                                    min-height: 41px;
                                    border: 1px solid #5D5E72;
                                    .select2-selection__rendered{
                                        padding-right: 66px;
                                        .select2-selection__choice{
                                            background-color: #191A35;
                                            flex-direction: row-reverse;
                                            display: flex;
                                            align-items: center;
                                            padding: 5px 7.5px;
                                            border: 1px solid #1391FF;
                                            border-radius: 2px;
                                            .select2-selection__choice__remove{
                                                border-right: none;
                                                color: #1391FF;
                                                height: 12px;
                                                width: 12px;
                                                padding: 0px;
                                                margin-right: 0px;
                                                span{
                                                    display: flex;
                                                    justify-content: center;
                                                    align-items: center;
                                                    font-size: 21px;
                                                    width: 12px;
                                                    height: 12px;
                                                }
                                                &:hover{
                                                    background-color: transparent;
                                                }
                                            }
                                            .select2-selection__choice__display{
                                                color: #44A8FF;
                                                font-family: "Nunito Sans";
                                                font-size: 12px;
                                                letter-spacing: 0;
                                                line-height: 16px;
                                            }
                                        }
                                    }
                                    .select2-search--inline{
                                        float: none;
                                        display: none;
                                        .select2-search__field{
                                            border: none;
                                            outline: none;
                                        }
                                    }
                                }
                                .select2-results{
                                    background-color: #191A35;
                                }
                            }
                            .add-new{
                                display: flex;
                                align-items: center;
                                position: absolute;
                                cursor: pointer;
                                top: 11px;
                                right: 0px;
                                i.icon-add-item{
                                    margin-right: 6px;
                                }
                                p{
                                    color: #1391FF;
                                    font-family: "Nunito Sans";
                                    font-size: 12px;
                                    font-weight: bold;
                                    letter-spacing: 0;
                                    line-height: 16px;
                                    margin: 0px;
                                    max-width: 40px;
                                    min-width: 40px;
                                }
                            }
                        }
                    }
                    &:last-child{
                        margin-bottom: 0px;
                    }
                }
            }
            .modal-footer{
                border-top: 1px solid;
                border-top-color: rgba(151, 151, 151, 0.25);
                padding: 16px 0 0 0px;
                .modal-ok{
                    background-color: #1391FF;
                    border-radius: 2px;
                    width: 120px;
                    height: 30px;
                    color: #0A0C1B;
                    font-family: "Nunito Sans";
                    font-size: 12px;
                    font-weight: 900;
                    letter-spacing: 0;
                    line-height: 16px;
                }
            }
        }
    }
}


.select2-container{
    .select2-results{
        background-color: #191A35;
        ul{
            li.select2-results__option--selected{
                background-color: #5D5E72;
            }
        }
    }
}
