@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?qw1uq9');
  src:  url('../fonts/icomoon.eot?qw1uq9#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?qw1uq9') format('truetype'),
    url('../fonts/icomoon.woff?qw1uq9') format('woff'),
    url('../fonts/icomoon.svg?qw1uq9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ic_av_timer:before {
  content: "\e911";
  color: #fff;
}
.icon-stop:before {
  content: "\e912";
  color: #fff;
}
.icon-check_box:before {
  content: "\e913";
  color: #fff;
}
.icon-code-white:before {
  content: "\e914";
  color: #fff;
}
.icon-ic_notifications:before {
  content: "\e915";
  color: #5c5e79;
}
.icon-ic_settings:before {
  content: "\e916";
  color: #5c5e79;
}
.icon-radio-icon:before {
  content: "\e917";
  color: #fff;
}
.icon-text:before {
  content: "\e918";
}
.icon-toggle:before {
  content: "\e919";
  color: #fff;
}
.icon-icon-dots-hr:before {
  content: "\e90f";
  color: #3c92ff;
}
.icon-icon-filter:before {
  content: "\e910";
  color: #5d5e72;
}
.icon-preview:before {
  content: "\e90e";
  color: #8b8da5;
}
.icon-arrow-right-light:before {
  content: "\e90d";
  color: #fff;
}
.icon-add:before {
  content: "\e900";
  color: #3c92ff;
}
.icon-arrow-down-sm:before {
  content: "\e902";
  color: #1391ff;
}
.icon-account-circle:before {
  content: "\e903";
  color: #1391ff;
}
.icon-add-circle:before {
  content: "\e904";
  color: #3c92ff;
}
.icon-comment:before {
  content: "\e905";
  color: #3c92ff;
}
.icon-edit:before {
  content: "\e906";
  color: #3c92ff;
}
.icon-notification:before {
  content: "\e907";
  color: #5c5e79;
}
.icon-dots:before {
  content: "\e908";
  color: #659cc8;
}
.icon-setting:before {
  content: "\e909";
  color: #5c5e79;
}
.icon-close:before {
  content: "\e90a";
  color: #659cc8;
}
.icon-arrow-down-lg:before {
  content: "\e90b";
  color: #1391ff;
}
.icon-arrow-top-lg:before {
  content: "\e90b";
  color: #FFFFFF;
}
.icon-check-circle:before {
  content: "\e901";
  color: #fff;
}
.icon-arrow-left-light:before {
  content: "\e90c";
  color: $text-white-05;
  font-size: 12px;
}

.icon {
    &-wrap {
      padding: 0 8px;
    }
}

.icon-hamburger {
  padding: 5px;
  margin-right: 10px;
  cursor: pointer;
  
  span {
    background: $white-5;
    width: 22px;
    height: 2px;
    margin-bottom: 4px;
    display: block;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.icon-add-hub{
  background: url("/binary-flux/images/plus.png") no-repeat;
  background-size: 100%;
  height: 13px;
  width: 15px;
}

.icon-rem-hub{
  background: url("/binary-flux/images/delete-hub.svg") no-repeat;
  background-size: 100%;
  height: 13.5px;
  width: 10.5px;
}

.icon-rem-hov{
  background: url("/binary-flux/images/remove-hub.svg") no-repeat;
  background-size: 100%;
  height: 13.5px;
  width: 10.5px;
}

.icon-add-item{
  background: url("/binary-flux/images/add-item.png") no-repeat;
  background-size: 100%;
  height: 20px;
  width: 20px;
}