@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?juycdz');
    src:  url('../fonts/icomoon.eot?juycdz#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?juycdz') format('truetype'),
      url('../fonts/icomoon.woff?juycdz') format('woff'),
      url('../fonts/icomoon.svg?juycdz#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-ic_check_circle:before {
    content: "\e901";
    color: $grey;
  }
  .icon-arrow-left:before {
    content: "\e900";
    color: $grey;
  }

  .icon {
      &-wrap {
        padding: 0 8px;
      }
  }
  