@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?2sljro');
  src:  url('../fonts/icomoon.eot?2sljro#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?2sljro') format('truetype'),
    url('../fonts/icomoon.woff?2sljro') format('woff'),
    url('../fonts/icomoon.svg?2sljro#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-dots-hr:before {
  content: "\e90f";
  color: #3c92ff;
}
.icon-icon-filter:before {
  content: "\e910";
  color: #5d5e72;
}

.icon-arrow-right-light:before {
  content: "\e90d";
  color: #fff;
}

.icon-preview:before {
  content: "\e90e";
  color: #5b5d71;
}

.icon-add:before {
  content: "\e900";
  color: inherit;
}
.icon-arrow-down-sm:before {
  content: "\e902";
  color: #1391ff;
}
.icon-account-circle:before {
  content: "\e903";
  color: #1391ff;
}
.icon-add-circle:before {
  content: "\e904";
  color: #3c92ff;
}
.icon-comment:before {
  content: "\e905";
  color: #3c92ff;
}
.icon-edit:before {
  content: "\e906";
  color: #3c92ff;
}
.icon-notification:before {
  content: "\e907";
  color: #5c5e79;
}
.icon-dots:before {
  content: "\e908";
  color: inherit;
}
.icon-setting:before {
  content: "\e909";
  color: #5b5d71;
}
.icon-close:before {
  content: "\e90a";
  color: rgba(#ffffff,0.5);
}
.icon-arrow-down-lg:before {
  content: "\e90b";
  color: #1391ff;
}
.icon-check-circle:before {
  content: "\e901";
  color: $grey;
}
.icon-arrow-left-light:before {
  content: "\e90c";
  color: $grey;
}

  .icon {
      &-wrap {
        padding: 0 8px;
      }
  }

  .icon-hamburger {
    padding: 5px;
    margin-right: 10px;
    cursor: pointer;
    
    span {
      background: $white-5;
      width: 22px;
      height: 2px;
      margin-bottom: 4px;
      display: block;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  