body{
	background-color: $body-bg;
}

.three-col{
	.number-col{
		margin-right: 15px;
		span{
			width: 25px;
			height: 25px;
			padding: 2px;
		}
	}
	.image-col{
		margin-right: 10px;
		span{
			padding: 7px 8px;
			border-radius: 3.57px;
			border-width: 2px;
		}
		img{
			max-width: 17px;
		}
	}
}

.tab-inner-ontent{
	border-bottom: 2px solid #44475A;
	.tab-body{
		.table-bordered{
			th, td{
				border: 1px solid $white-7;
				padding: 5px;
				input{
					width: 100%;
					height: 35px;
					padding: 0 5px;
					border: 0;
					border: 2px solid transparent;
					&:focus{
						border: 2px solid #afb5ba;
					}
				}
			}
			tr{
				&:last-child{
					border-bottom: 2px solid #44475A;	
				}
			}
			th{
				padding: 11px 12px;
				color: #8B8DA5;
				vertical-align: middle;
			    .action-btn{
			    	display: inline-block;
			    	float: right;
					white-space: nowrap;
					line-height: 16px;
			    	.tab-btn-dots{
				    	i{
				    		color: #3D90F7;
				    		&.icon-dots{
			    				border: 2px solid #44475A;
			    	 			border-top:0;
				    	 		border-bottom:0;
				    	 		padding: 2px 5px;
			    	 		}
				    	}
			    	}
			    	@media (max-width: 865px) and (min-width: 768px){
			    		float: none;
			    		margin-left: -6px;
			    	}
			    	@media (max-width: 605px){
			    		float: none;
			    		margin-left: -6px;
			    	}
			    }
			}
		}
	}
	@media (max-width: 767px){
		margin: 0 10px;
	    border: 2px solid #44475A;
	}
}
.text-grey{
	opacity: 0.5;	
	color: #8B8DA5;
}
.swagger-item{
	width: 100%;
	white-space: nowrap;

	&.start-col{
		img{
			position: relative;
			top: -2px;
		}
		&-active{
			.n-image{
				display: none !important;
			}
			.h-image{
				display: inline-block !important;
			}
			.text-white--5{
				color: #3d90f7;
			}
			img{
				position: relative;
				top: -2px;
			}
		}
	}
	&.time-col{
		img{
			position: relative;
			top: -1px;
		}
	}
	&.code-col{
		img{
			position: relative;
			top: -1px;
		}
	}
	&.fail-col{
		img{
			position: relative;
			top: -2px;
		}
	}
	&.stop-col{
		img{
			position: relative;
			top: -1px;
		}
	}
	span{
		padding-left: 2px;
	}
}
.event{
	padding: 0 30px;
	.table-wrapper{
		height: 360px;		
		table{
			margin-bottom: 0;
			tbody{
				background: $black2;
				width: 100%;
				border-bottom: 	1px solid $white-7;
				font-size: 10px;
			}
			tr{
				position: relative;
				.jojo{
					color: $orange-dark;
				}
				.pump-loop{
					color: $blue;
				}
				@media (max-width: 767px){
					display: block;
				}
				&:hover{
					background-color:$grey9;
					box-shadow: 0 16px 20px 3px rgba(0, 0, 0, 0.77);
					td{
						&:last-child{
							padding-right: 1.8rem;
						}
						.next{
							&:after{
								content: '';
								background: url('../images/ic_chevron_right.svg') no-repeat;
								width: 22px;
							    height: 36px;
							    display: table-cell;
							    background-color: #3B92FF;
							    background-position-x: center;
							    background-position-y: center;
							    position: absolute;
							    right: 0px;
							    top:0;
							    @media (max-width: 1368px){
							    	height: 50px;
							    }
							}
						}
						.next1{
							&:after{
								content: '';
								background: url('../images/ic_chevron_right.svg') no-repeat;
								width: 22px;
							    height: 45px;
							    display: table-cell;
							    background-color: #3B92FF;
							    background-position-x: center;
							    background-position-y: center;
							    position: absolute;
							    right: 0px;
							    top:0;
							    @media (max-width: 1368px){
							    	height: 60px;
							    }
							}
						}		
					}
				}
			}
			td{
				border-top: 0;
				border-bottom: 1px solid $white-7;
				padding: 10px 0.75rem;
				position: relative;
			}
			@media (max-width: 1228px){
				width: 900px;
			}
		}
		&::-webkit-scrollbar {
	     	width: 8px;
    		height: 8px;
		}

		/* Track */
		&::-webkit-scrollbar-track {
		  background: $black2; 
		}
		 
		/* Handle */
		&::-webkit-scrollbar-thumb {
		  background: $grey2; 
		}
	}
	@media (max-width: 767px) {
		padding: 0 15px;
	}
}
.tab-border{
	border: 1px solid #5D5E72;
	border-radius: 0.15rem;
	i{
		padding: 0 0.4rem;
	}
}

.left-content{
	width: 30%;
	padding: 0 1rem;
	@media (min-width: 1400px){
		width: 25%;
	}
}

.content{
	@media (min-width: 768px){
 		width: 100%;
		padding-left: 255px;
		&.p-320{
			padding-left: 320px;
		}
	}
}

.colum{
	&-row{
		border-top: 1px solid $grey10;
		border-bottom: 1px solid $grey10;
		flex-wrap: wrap;
		&.ipad{
			@media (min-width: 768px) and (max-width: 1024px) {
				border-top: 0;
				border-bottom: 0;
				.colum-1{
					width: 50%;
					padding-bottom: 15px;
					padding-top: 15px;
					border-top: 1px solid $grey10;
					border-bottom: 1px solid $grey10;
					&:nth-child(even){
						width: 60% !important;
					}
					&:nth-child(odd){
						width: 40% !important;
					}
				}				
			}
		}
		@media (max-width: 767px) {
			flex-wrap: wrap;
		}
	}
	&-1{
		@media (min-width: 768px) {
			padding-right: 25px;
		}
		@media (max-width: 767px) {
			width: 100%;
			margin-bottom: 15px;
			padding-bottom: 15px;
			border-bottom: 1px solid $grey10;
		}
	}
	
}
.end-user-swagger{
	.btn-text{
		font-size: 12px;
		padding: 6px 10px !important;
	}
	.custom-btn{
		border: 2px solid $primary;
		&:hover{
			border: 2px solid $blue;
		}
	}
	.text-right{
		cursor: default;
	}
	.sort{
		position: absolute;
		right: 4px;
	}
}

.hover-row{
	.swagger-item{
		.n-image{
			display: inline-block;
		}
		.h-image{
			display: none;
		}
		&:hover{
			span{
				color: #fff;
			}
			.n-image{
				display: none;
			}
			.h-image{
				display: inline-block;
			}
		}
	}
}

.landing{
	&-main{
		// min-height: calc(100vh - 40px);
		min-height: 100vh;
		flex-wrap: wrap;
		position: relative;
		overflow: hidden;
		&:before{
			content: '';
			position: absolute;
			top: -70px;
			background: url('../images/patterntop.png') no-repeat;
			background-position: top center;
		    width: 100%;
		    height: 200px;
		    @media(max-width: 767px){
		    	background-image: url('../images/patterntopmobile.png');
		    	background-position: top right;
		    	height: 150px;
		    	top: 0;
		    }
		}
		&:after{
			content: '';
			position: absolute;
			bottom: -50px;
			background: url('../images/patternbottom.png') no-repeat;
			background-position: bottom center;
		    width: 100%;
		    height: 200px;
		    @media(max-width: 767px){
		    	background-image: url('../images/patternbottommobile.png');
		    	background-position: bottom left;
		    	height: 100px;
		    	bottom: 0;
		    }
		}
	}
	&-col{
		&-40{
			background-color: #08182E;
			padding: 30px;
			padding-top: 125px;
			width: 100%;
			@media (min-width: 1200px) {
				padding: 100px;				
			}
			@media (min-width: 992px) {
				width: 40%;				
			}
			@media (max-width: 991px) {
				padding-top: 100px;			
			}
			.welcom-text{
				position: relative;
				z-index: 1;
			}
		}
		&-60{
			background-color: #3F6A87;
			background: linear-gradient(220.59deg, #455B99 0%, #5C90A7 35.29%, #102A52 100%);
			box-shadow: -10px 2px 50px 0 rgba(0,0,0,0.5);
			padding: 30px;
			width: 100%;
			padding-bottom: 100px;
			@media (min-width: 1200px) {
				padding: 100px 60px 100px 50px;
				padding-top: 125px;
			}
			@media (min-width: 992px) {
				width: 60%;
				padding-top: 125px;
			}
			@media (max-width: 767px) {
				background-image: linear-gradient(221.85deg, #455B99 0%, #5C90A7 21.55%, #102A52 100%);
			}
		}
	}
}

.slick-slider{
	.slick-list{
		.slick-track{
			.slide-item{
				img{
					width: 100%;
					height: auto;
				}
			}
		}
	}
	.slick-arrow{
		width: 30px;
		height: 30px;
		background-repeat: no-repeat !important;
    	background-position: center !important;
		border: 0;
		outline: 0;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 1;
	}
	.slick-prev{
		background: url('../images/slide_left.svg') no-repeat;
		left: -42px;
		@media (max-width: 1199px) {
			left: -30px;
			top: 35%;
		}
	}
	.slick-next{
		background: url('../images/slide_right.svg') no-repeat;
		right: -35px;
		@media (max-width: 1199px) {
			right: -30px;
			top: 35%;
		}
	}
	.slide-item {
		display: none;
		img, > div {
			opacity: 0;
			visibility: hidden;
			transition: opacity 1s ease;
			-webkit-transition: opacity 1s ease;
		}
		&:first-child{
		  display: block;
		}
	}
	&.slick-initialized{
		.slide-item{
			display: block;
			img, > div {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	h6{
		font-size: 12px;
	}
}

.site-logo{
	.first-image{
		@media (max-width: 480px) {
			width: 40px;
		}
	}
	.second-image{
		@media (max-width: 480px) {
			width: 190px;
		}
	}
}

.welcom-text{
	h1{
		@media (max-width: 991px) {
			font-size: 30px;
			line-height: 35px;
		}
	}
	.f-18 {
		@media (max-width: 991px) {
			font-size: 14px;
			line-height: 22px;
		}
	}
}

.login{
	&-main{
		// min-height: calc(100vh - 40px);
		min-height: 100vh;
		flex-wrap: wrap;
		position: relative;
		overflow: hidden;
		background-color: #0a0c1b;
		&:before{
			content: '';
			position: absolute;
			top: -70px;
			left: 30px;
			background: url(../images/patterntop.png) no-repeat;
			background-position: top left;
			width: 100%;
			height: 200px;
		    @media(max-width: 767px){
		    	background-image: url('../images/patterntopmobile.png');
		    	background-position: top right;
		    	height: 150px;
		    	top: 0;
		    }
		}
		&:after{
			content: '';
			position: absolute;
			bottom: -50px;
			background: url('../images/patternbottom.png') no-repeat;
			background-position: bottom center;
		    width: 100%;
		    height: 200px;
		    @media(max-width: 767px){
		    	background-image: url('../images/patternbottommobile.png');
		    	background-position: bottom left;
		    	height: 100px;
		    	bottom: 0;
		    }
		}
		.form{
			&-login{
				background-color: #121631;
				padding: 80px;
			    border-radius: 6px;
			    .submit{
				    border-radius: 0;
				    background-color: #1391FF;
				    color: #0A0C1B;
				    font-size: 15px;
			      	border-radius: 4px;
  					background-color: #1391FF;
				    height: 40px;
				    margin-top: 40px;
			    }
			}
			&-layout{
				padding-top: 80px;
			}
			&-header{
				color: #1391FF;
				font-size: 40px;
				padding-bottom: 20px;
			}
			&-control{
			    border: 1px solid rgba(255, 255, 255, 0.3);
			    background: transparent;
			    border-radius: 0;
			    &:active, &:focus{
			    	border-color: #1391FF;
			    	background-color: transparent;
			    	box-shadow: none;
			    }
			}
			&-group{
				label{
					color: rgba(255,255,255,0.7);
					font-weight: bold;
				}
			}
		}
	}
}