body{
	background-color: $body-bg;
}

.three-col{
	.number-col{
		margin-right: 15px;
		span{
			width: 25px;
			height: 25px;
			padding: 2px;
		}
	}
	.image-col{
		margin-right: 10px;
		span{
			padding: 7px 8px;
			border-radius: 3.57px;
		}
		img{
			max-width: 17px;
		}
	}
}

.tab-inner-ontent{
	border-bottom: 1px solid $white-7;
	.tab-body{
		.table-bordered{
			th, td{
				border: 1px solid $white-7;
				padding: 5px;
				input{
					width: 100%;
					height: 35px;
					padding: 0 5px;
					border: 0;
					border: 2px solid transparent;
					&:focus{
						border: 2px solid #afb5ba;
					}
				}
			}
			th{
				padding: 11px 12px;
			    color: #8B8DA5;
			}
		}
	}
}