body{
	background-color: $body-bg;
}

.three-col{
	.number-col{
		margin-right: 15px;
		span{
			width: 25px;
			height: 25px;
			padding: 2px;
		}
	}
	.image-col{
		margin-right: 10px;
		span{
			padding: 7px 8px;
			border-radius: 3.57px;
			border-width: 2px;
		}
		img{
			max-width: 17px;
		}
	}
}

.tab-inner-ontent{
	border-bottom: 2px solid #44475A;
	.tab-body{
		.table-bordered{
			th, td{
				border: 1px solid $white-7;
				padding: 5px;
				input{
					width: 100%;
					height: 35px;
					padding: 0 5px;
					border: 0;
					border: 2px solid transparent;
					&:focus{
						border: 2px solid #afb5ba;
					}
				}
			}
			tr{
				&:last-child{
					border-bottom: 2px solid #44475A;	
				}
			}
			th{
				padding: 11px 12px;
				color: #8B8DA5;
				vertical-align: middle;
			    .action-btn{
			    	display: inline-block;
			    	float: right;
					white-space: nowrap;
					line-height: 16px;
			    	.tab-btn-dots{
				    	i{
				    		color: #3D90F7;
				    		&.icon-dots{
			    				border: 2px solid #44475A;
			    	 			border-top:0;
				    	 		border-bottom:0;
				    	 		padding: 2px 5px;
			    	 		}
				    	}
			    	}
			    	@media (max-width: 865px) and (min-width: 768px){
			    		float: none;
			    		margin-left: -6px;
			    	}
			    	@media (max-width: 605px){
			    		float: none;
			    		margin-left: -6px;
			    	}
			    }
			}
		}
	}
	@media (max-width: 767px){
		margin: 0 10px;
	    border: 2px solid #44475A;
	}
}
.text-grey{
	opacity: 0.5;	
	color: #8B8DA5;
}
.swagger-item{
	width: 100%;
	white-space: nowrap;
	&.start-col{
		span{
			position: relative;
			padding-left: 0.8rem;
			&:before{
			    content: "\e902";
			    display: block;
			    color: rgba(101, 156, 200, 0.5);
			    font-family: 'icomoon';
			    position: absolute;
				left: 0;
				top: 0;
			    // top: 50%;
			    transform: rotate(-90deg);
			    font-size: 10px;
			}
		}
		&-active{
			img{
				position: relative;
				top: -2px;
			}
		}
	}
	&.time-col{
		img{
			position: relative;
			top: -1px;
		}
	}
	&.code-col{
		img{
			position: relative;
			top: -1px;
		}
	}
	&.fail-col{
		img{
			position: relative;
			top: -2px;
		}
	}
	&.stop-col{
		img{
			position: relative;
			top: -2px;
		}
	}
	span{
		padding-left: 2px;
	}
}
.event{
	padding: 0 30px;
	.table-wrapper{
		height: 360px;		
		table{
			margin-bottom: 0;
			tbody{
				background: $black2;
				width: 100%;
				border-bottom: 	1px solid $white-7;
				font-size: 10px;
			}
			tr{
				position: relative;
				.jojo{
					color: $orange-dark;
				}
				.pump-loop{
					color: $blue;
				}
				@media (max-width: 767px){
					display: block;
				}
				&:hover{
					background-color:$grey9;
					box-shadow: 0 16px 20px 3px rgba(0, 0, 0, 0.77);
					td{
						&:last-child{
							padding-right: 1.8rem;
						}
						.next{
							&:after{
								content: '';
								background: url('../images/ic_chevron_right.svg') no-repeat;
								width: 22px;
							    height: 36px;
							    display: table-cell;
							    background-color: #3B92FF;
							    background-position-x: center;
							    background-position-y: center;
							    position: absolute;
							    right: 0px;
							    top:0;
							    @media (max-width: 1368px){
							    	height: 50px;
							    }
							}
						}
						.next1{
							&:after{
								content: '';
								background: url('../images/ic_chevron_right.svg') no-repeat;
								width: 22px;
							    height: 45px;
							    display: table-cell;
							    background-color: #3B92FF;
							    background-position-x: center;
							    background-position-y: center;
							    position: absolute;
							    right: 0px;
							    top:0;
							    @media (max-width: 1368px){
							    	height: 60px;
							    }
							}
						}		
					}
				}
			}
			td{
				border-top: 0;
				border-bottom: 1px solid $white-7;
				padding: 10px 0.75rem;
				position: relative;
			}
			@media (max-width: 1228px){
				width: 900px;
			}
		}
		&::-webkit-scrollbar {
	     	width: 8px;
    		height: 8px;
		}

		/* Track */
		&::-webkit-scrollbar-track {
		  background: $black2; 
		}
		 
		/* Handle */
		&::-webkit-scrollbar-thumb {
		  background: $grey2; 
		}
	}
	@media (max-width: 767px) {
		padding: 0 15px;
	}
}
.tab-border{
	border: 1px solid #5D5E72;
	border-radius: 0.15rem;
	i{
		padding: 0 0.4rem;
	}
}

.left-content{
	width: 30%;
	padding: 0 1rem;
	@media (min-width: 1400px){
		width: 25%;
	}
}

.content{
	@media (min-width: 768px){
 		width: 100%;
		padding-left: 255px;
		&.p-320{
			padding-left: 320px;
		}
	}
}

.colum{
	&-row{
		border-top: 1px solid $grey10;
		border-bottom: 1px solid $grey10;
		flex-wrap: wrap;
		&.ipad{
			@media (min-width: 768px) and (max-width: 1024px) {
				border-top: 0;
				border-bottom: 0;
				.colum-1{
					width: 50%;
					padding-bottom: 15px;
					padding-top: 15px;
					border-top: 1px solid $grey10;
					border-bottom: 1px solid $grey10;
					&:nth-child(even){
						width: 60% !important;
					}
					&:nth-child(odd){
						width: 40% !important;
					}
				}				
			}
		}
		@media (max-width: 767px) {
			flex-wrap: wrap;
		}
	}
	&-1{
		@media (min-width: 768px) {
			padding-right: 25px;
		}
		@media (max-width: 767px) {
			width: 100%;
			margin-bottom: 15px;
			padding-bottom: 15px;
			border-bottom: 1px solid $grey10;
		}
	}
	
}
.end-user-swagger{
	.btn-text{
		font-size: 12px;
		padding: 6px 10px !important;
	}
	.custom-btn{
		border: 2px solid $primary;
		&:hover{
			border: 2px solid $blue;
		}
	}
	.text-right{
		cursor: default;
	}
	.sort{
		position: absolute;
		right: 4px;
	}
}