body{
	background-color: $body-bg;
}

.three-col{
	.number-col{
		margin-right: 15px;
		span{
			width: 25px;
			height: 25px;
			padding: 2px;
		}
	}
	.image-col{
		margin-right: 10px;
		span{
			padding: 7px 8px;
			border-radius: 3.57px;
			border-width: 2px;
		}
		img{
			max-width: 17px;
		}
	}
}

.tab-inner-ontent{
	border-bottom: 2px solid #44475A;
	.tab-body{
		.table-bordered{
			th, td{
				border: 1px solid $white-7;
				padding: 5px;
				input{
					width: 100%;
					height: 35px;
					padding: 0 5px;
					border: 0;
					border: 2px solid transparent;
					&:focus{
						border: 2px solid #afb5ba;
					}
				}
			}
			tr{
				&:last-child{
					border-bottom: 2px solid #44475A;	
				}
			}
			th{
				padding: 11px 12px;
			    color: #8B8DA5;
			    .action-btn{
			    	display: inline-block;
			    	float: right;
			    	white-space: nowrap;
			    	.tab-btn-dots{
				    	i{
				    		color: #3D90F7;
				    		&.icon-dots{
			    				border: 2px solid #44475A;
			    	 			border-top:0;
				    	 		border-bottom:0;
				    	 		padding: 2px 5px;
			    	 		}
				    	}
			    	}
			    	@media (max-width: 865px) and (min-width: 768px){
			    		float: none;
			    	}
			    	@media (max-width: 605px){
			    		float: none;
			    	}
			    }
			}
		}
	}
	@media (max-width: 767px){
		margin: 0 10px;
	    border: 2px solid #44475A;
	}
}
.text-grey{
	opacity: 0.5;	
	color: #8B8DA5;
}
.swagger-item{
	width: 100%;
	white-space: nowrap;
	&.start-col{
		span{
			position: relative;
			padding-left: 0.8rem;
			&:before{
			    content: "\e902";
			    display: block;
			    color: rgba(101, 156, 200, 0.5);
			    font-family: 'icomoon';
			    position: absolute;
			    left: 0px;
			    top: 50%;
			    transform: translateY(-50%) rotate(-90deg);
			    font-size: 10px;
			}
		}
	}
}
.tab-border{
	border: 1px solid #5D5E72;
	border-radius: 0.15rem;
	i{
		padding: 0 0.4rem;
	}
}

.left-content{
	width: 30%;
	padding: 0 1rem;
	@media (min-width: 1400px){
		width: 25%;
	}
}
.sidebar{
	@media (min-width: 768px){
		width: 255px;
	    margin: 0;
	    position: fixed;
	    left: 0;
    }
}
.content{
	@media (min-width: 768px){
 		width: 100%;
 		padding-left: 255px;
	}
}

.colum{
	&-row{
		border-top: 1px solid $grey10;
		border-bottom: 1px solid $grey10;
		@media (max-width: 767px) {
			flex-wrap: wrap;
		}
	}
	&-1{
		@media (min-width: 768px) {
			padding-right: 25px;
		}
		@media (max-width: 767px) {
			width: 100%;
			margin-bottom: 15px;
		}
	}
	
}