ul,ol {
    padding-left: 10px;
}
.liststyle {
    &-bullet {
        list-style: none;
        li {
            position: relative;
            &:after {
                content: "";
                display: block;
                width: 4px;
                height: 4px;
                border-radius: 56%;
                background: rgba(#FFFFFF, 0.5);
                position: absolute;
                left: -10px;
                top: 6px;
            }
        }
    }
}

.reactangular-list{
    padding-left: 0;
    list-style: none;
    li{
        position: relative;
        padding-left: 17px;
        color: $light-blue;
        margin-bottom: 10px;
        &:after{
            width: 7px;
            height: 7px;
            position: absolute;
            left: 0;
            top: 6px;
            content: "";
            background: $light-blue-2;
        } 
    }
}
