hr{
	border-top: 2px solid $grey2;
	&.grey {
		border-top: 2px solid $grey7;
		opacity: 0.5;
	}
}

.page-wrapper {
	padding-top: 30px;
	padding-bottom: 35px;
}

.m{
	&l-05 {
		margin-left: 5px !important;	
	}
	&r-05 {
		margin-right: 5px !important;
	}
	&t-05 {
		margin-top: 5px !important;	
	}
	&b-05 {
		margin-bottom: 5px !important;
	}
	&l-15 {
		margin-left: 15px !important;	
	}
	&r-15 {
		margin-right: 15px !important;
	}
	&t-15 {
		margin-top: 15px !important;	
	}
	&b-15 {
		margin-bottom: 15px !important;
	}
	&t-25{
		margin-top: 25px;
	}
}

.text {
	&-white {
		color: #ffffff;
		&--5 {
			color: rgba(#ffffff, 0.5);
		}
		&--8 {
			color: rgba(#ffffff, 0.8);
		}
	}
}

.fw-cont-mobile {
	@include media-max(md){
		max-width: 100%;
	}
}

.rotate {
	&-180 {
		transform: rotate(180deg);
	}
}

.text {
	&-decoration {
		&-none {
			text-decoration: none;
		}
	}
}

.logo-data-source {
	max-width: 94px;
}

.padding-md-0 {
	@include media-between(lg,xxl){
		padding: 0;
	}
}

.f-12 {
	font-size: 12px;
	line-height: 16px;
}

.fw {
	&-300 {
		font-weight: 300;
	}
	&-900 {
		font-weight: 900;
	}
}

.p{
	&-t{
		&-130{
			padding-top: 130px;
			@media (max-width: 767px) {
				padding-top: 40px;
			}
		}
		&-140{
			padding-top: 140px;
			@media (max-width: 767px) {
				padding-top: 40px;
			}
		}
	}
}

.mh-md-100{
	@media (min-width: 768px) {
		min-height: calc(100vh - 80px);
	}
}

.max {
	&-935 { 
		max-width: 935px;
		margin: 0 auto;
	}
}