.nav {
    &-tabs {
        border-bottom: 0;
        position: relative;
        &:after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 2px;
            border-bottom: 2px solid rgba($grey7, 0.5);
            z-index: -1;
        }
        .nav {
            &-link {
                color: rgba(#FFFFFF, 0.5);
                font-weight: 300 !important;
                border-radius: 0;
                border: 0;
                border-bottom: 3px solid transparent;
                padding: 0 15px 10px;

                .icon-checked {
                    font-size: 15px;
                    margin-left: 5px;
                    vertical-align: middle;
                }
                
                &:hover {
                    border-bottom: 0;
                }

                &.active {
                    background: transparent;
                    font-weight: 900;
                    color: #fff;     
                    border-bottom-color: $primary;
                    &:hover {
                        border-bottom: 3px solid $primary;
                    }
                }
            }
        }
    }
}