.nav {
    &-tabs {
        border-bottom: 0;
        position: relative;
        &:after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 2px;
            border-bottom: 2px solid rgba($grey7, 0.5);
            z-index: 1;
        }
        .nav-item{
            &:first-child{
                a{
                    //padding-left: 0;
                }
            }
        }
        &-left{
            .nav-item{
                padding-right: 15px;
                a{
                    padding-left: 0;
                }
            }
        }
        .nav {
            &-link {
                color: rgba(#FFFFFF, 0.5);
                font-weight: 300 !important;
                border-radius: 0;
                border: 0;
                border-bottom: 3px solid transparent;
                padding: 10px 15px 10px;
                position: relative;
                z-index: 2;

                .icon-checked {
                    font-size: 15px;
                    margin-left: 5px;
                    vertical-align: middle;
                }
                
                &:hover {
                    border-bottom: 3px solid transparent;
                }

                &.active {
                    background: transparent;
                    font-weight: 900 !important;
                    color: #fff;     
                    border-bottom-color: $primary;
                    &:hover {
                        border-bottom: 3px solid $primary;
                    }
                    .sticky-badge {
                        background: $primary;
                        color: #fff;
                    }
                }
                .sticky-badge {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 0;

                    &-text {
                        position: relative;
                        padding-right: 35px;
                        display: inline-block;
                    }
                }
            }
        }
    }
    &-divider-dark {
        &:after {
            border-bottom-color: rgba(#191A35, 0.3);
        }
    }
    &-fill {
        &-50 {
            .nav-item {
                flex: 1 0 50%;
            }
        }
    }
    &.no-border{
        &:after{
            display: none;
        }
    }
    &.blue-bg{
        background: $bg-blue;
    }
}

.nav {
    &-list-items {
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
        }
    }
    &-lists {
        padding: 0;
        margin: 0;
        > li{
            border-top: 2px solid $grey10; 
            &:last-child {
                border-bottom: 2px solid $grey10;
            }
        }
        .sub-ul{
            li{
                a{
                    padding: 4px 6px 4px 20px !important;
                    padding-left: 50px !important;
                    label{
                        font-weight: 300;
                        text-transform: capitalize;
                        text-align: center;
                        &.sub-label{
                            color: #b0b0b7;
                            font-weight: 300;
                        }
                    }
                }
            }
        }
        .list-item {
            .list-item-a{
                position: relative;
                padding: 8px 8px 8px 30px;                   
                cursor: pointer;
                display: block;
                text-decoration: none;
                &:hover, &.active{
                    background: $darkblue;
                }
                .action-icons{
                    position: absolute;
                    right: 0;
                    i{
                        color: #3D90F7;
                    }
                }
                .nav-icons{
                    flex-direction: column;
                    position: absolute;
                    right: 0;
                    span{
                        border: 1px solid #44475A;
                        padding: 6px;
                        border-top: 0;
                        &:last-child{
                            padding-bottom: 2px;
                        }
                    }
                }
            }   
            &-wrap{
                display: flex;
                align-items: center;
                position: relative;

                &:before {
                    content: "\e902";
                    display: block;
                    color: rgba($blue-light, 0.5);
                    font-family: 'icomoon';
                    position: absolute;
                    left: -20px;
                    top: 50%;
                    transform: translateY(-50%) rotate(-90deg);
                    font-size: 10px;
                }
            }
            &-logo {
                img {
                    max-width: 23px;
                    height: auto;
                    display: block;
                    width: 100%;
                }
            }
            &-label {
                padding-left: 10px;
            }
            // > ul {
            //     padding-top: 5px;
            //     padding-left: 20px;
            // }
            // ul {
            //     .request {
            //         &-label {
            //             color: $white-6;
            //         }
            //     }

            //     li {
            //         ul li {
            //             .list-item-wrap:before {
            //                 display: none;
            //             }
            //         }
            //     }
            // }
        }
        .request {
            &-label,
            &-count {
                font-size: 12px;
                line-height: 16px;
                text-transform: uppercase;
                cursor: pointer;
            }
            &-label {
                color: #FFFFFF;
                font-weight: 900;
            }
            &-count {
                color: $white-6;
                font-weight: 300;
            }
            // &-type {
            //     font-size: 7px;
            //     &.post {
            //         color: $orange;
            //     }
            //     &.get {
            //         color: $blue2;
            //     }
            // }
        }
    }
    &-right{
        @media (max-width: 1053px){
            width: 100%;
            text-align: right;
        }
        @media (max-width: 991px) {
            padding: 15px;
        }
        @media(min-width: 992px){
            margin-top: 1rem;
        }
    }
    &-wrap{
        border-bottom: 1px solid $white-7;
        padding-right: 15px;
        .horizontal-scroll{
            @media (max-width: 991px) {
                border-bottom: 1px solid $white-7;
            }
        }
        @media (max-width: 991px) {
            border-bottom: 0;
            padding-right: 0;
        }
    }
    &-items{
        @media (max-width: 767px){
            margin: 0 10px;
        }
    }
}

.nav-pills{
    .nav-link{
        background-color: transparent;
        padding: 10px 15px;
        padding-left: 43px;
        border-radius: 0;
        font-weight: 300;
        border-top: 1px solid rgba(93, 94, 114, 0.5);
        position: relative;
        img{
            position: absolute;
            left: 15px;
            top: 50%;
            transform: translateY(-50%);
        }
        &.active{
            background-color: #3C92FF;
            color: #27293D;
            font-weight: 900;
            border-top: 1px solid #3C92FF;
            &:hover{
                color: #27293D;
            }
        }
        &:hover{
            color: rgba(255, 255, 255, 0.5);
        }
    }
}

.tab-content{
    .tab-pane{
        .tab-header{
            //border-bottom: 1px solid rgba(93, 94, 114, 0.5);
        }
        .tab-content{
            .form-field{
                @media (max-width: 767px) {
                    width: 100%;
                }
            }
        }
    }
}

.navpills{
    .nav-pills {
        display:none;
    }
    .card{
        .nav-link{
            background-color: transparent;
            padding: 10px 15px;
            border-radius: 0;
            font-weight: 900;
            border-top: 1px solid rgba(93, 94, 114, 0.5);
            &[aria-expanded="true"]{
                background-color: #3C92FF;
                color: #27293D;
                border-top: 1px solid #3C92FF;
            }
        }
        .tab-content{
            .field-row{
                @media (max-width: 767px) {
                    padding: 15px !important;
                }
            }
        }
    }
    @media(min-width:768px) {
        .nav-pills {
            display: flex;
        }
        
        .card {
            border: none;
        }
    
        .card .card-header {
            display:none;
        }  
    
        .card .collapse{
            display:block;
        }
    }
    
    @media(max-width:767px){
        .tab-content > .tab-pane {
            display: block !important;
            opacity: 1;
        }
    }
}
