.navigation {
    &-navs {
        ul {
            list-style: none;
            display: flex;
            justify-content: space-between;
            padding: 0;
            margin: 0;
        }
        .prev-nav,
        .next-nav {
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                color: $grey;
               // text-decoration: none;

                font-size: 15px;
                font-weight: 900;
                line-height: 20px;
            }
        }
    }
}

a.block-link{
    display: block;
    padding: 17px 15px;
    background-color: #2D3046;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid $grey7;
    border-radius: 2px;
    margin-bottom: 15px;
    &:hover{
        color: #fff;
        background-color: #5A5B6B;
        border-color: #5A5B6B;
    }
}