.navigation {
    &-navs {
        ul {
            list-style: none;
            display: flex;
            justify-content: space-between;
            padding: 0;
            margin: 0;
        }
        .prev-nav,
        .next-nav {
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                color: $grey;
               // text-decoration: none;

                font-size: 15px;
                font-weight: 900;
                line-height: 20px;
            }
        }
    }
}