.nav {
    &-tabs {
        border-bottom: 0;
        position: relative;
        &:after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 2px;
            border-bottom: 2px solid rgba($grey7, 0.5);
            z-index: 1;
        }
        .nav {
            &-link {
                color: rgba(#FFFFFF, 0.5);
                font-weight: 300 !important;
                border-radius: 0;
                border: 0;
                border-bottom: 3px solid transparent;
                padding: 10px 15px 10px;
                position: relative;
                z-index: 2;

                .icon-checked {
                    font-size: 15px;
                    margin-left: 5px;
                    vertical-align: middle;
                }
                
                &:hover {
                    border-bottom: 0;
                }

                &.active {
                    background: transparent;
                    font-weight: 900 !important;
                    color: #fff;     
                    border-bottom-color: $primary;
                    &:hover {
                        border-bottom: 3px solid $primary;
                    }
                    .sticky-badge {
                        background: $primary;
                        color: #fff;
                    }
                }
                .sticky-badge {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 0;

                    &-text {
                        position: relative;
                        padding-right: 35px;
                        display: inline-block;
                    }
                }
            }
        }
    }
    &-divider-dark {
        &:after {
            border-bottom-color: rgba(#191A35, 0.3);
        }
    }
    &-fill {
        &-50 {
            .nav-item {
                flex: 1 0 50%;
            }
        }
    }
    &.no-border{
        &:after{
            display: none;
        }
    }
    &.blue-bg{
        background: $bg-blue;
    }
}