.navigation {
    &-navs {
        ul {
            list-style: none;
            display: flex;
            justify-content: space-between;
            padding: 0;
            margin: 0;
        }
        .prev-nav,
        .next-nav {
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                color: $grey;
                text-decoration: none;
                font-size: 15px;
                font-weight: 900;
                line-height: 20px;
                transition: all 0.3s ease-in;
                &:hover{
                    color: #fff;
                    i{
                        color: $light-blue;
                        &::before{
                            color: $light-blue;
                        }
                    }
                }                
            }
        }
    }
}

a.block-link{
    display: block;
    padding: 17px 15px;
    /*background-color: #2D3046;*/
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    /*border: 1px solid $grey7;*/
    border-radius: 4px;
    margin-bottom: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(18, 22, 49, 0.3);
    &:hover{
        color: #fff;
        background-color: #2D3046;
        border-color: #5A5B6B;
    }
}