.search-query__modal{
    .modal-content{
        height: 635px;
        .modal-body{
            .table__cont{
                width: 100%;
                overflow: scroll;
                .searchquery-tbl{
                    width: 100%;
                    min-width: 1200px;
                    .header-bg{
                        background-color: #20284C;
                    }
                    th,td{
                        border: none !important;
                        vertical-align: middle;
                    }
                    tbody{
                        background-color: #11152F;
                        tr{
                            td{
                                &.icons{
                                    color: #1391FF;
                                    vertical-align: middle;
                                    i{
                                        font-size: 15px;
                                    }
                                }
                            }
                        }
                    }
                    th{
                        color: #659CC8;
                        text-transform: uppercase;
                    }
                    td{
                        color: #FFFFFF;
                
                    }
                    .drpdwn-dtsrc{
                        .drop-display,.drop-list{
                            width:140px;
                        }
                
                    } 
                }
            }
        }
    }
}


.savedquery{
    .modal-body{
        .form-group{
            padding-right: 90px;
            .drpdwn-dtsrc{
                &.save__pop--dpdown{
                    .drop-list{
                        width: 100%;
                    }
                }
            } 
            .textarea--query{
                height: 100px;
                resize: none;
            }           
        }
    }
    .modal-footer{
        opacity: 0.47;
    }
    label{
        font-size: 15px;
        line-height: 20px;
        text-align: left;
        color: #FFFFFF;
        opacity: 70%;
        cursor: pointer;
    }
    ::placeholder{
        font-size: 14px;
        text-align: left;
        color: #FFFFFF;
        opacity: 20%;
    }
    .form-control{
        background-color: #191A35;
        border-color: #5D5E72;
        height: 40px;
    }
    .drop-display{
        width: auto;
        border-width: 2px;
    }
    .drop-list{
        width: 246px;
    }
    .drpdwn-dtsrc{
        font-size: 14px;
    }
    textarea.form-control{
        height: auto;
    }
}


//Easy Search popup page

.savedquery{
    .modal-content{
        .modal-body{
            .easy-search {
                display: flex;
                gap: 58px;
                justify-content: space-between;
                .easy-search__log{
                    display: flex;
                    align-items: center;
                    width: 25%;
                    
                    &:first-child{
                        margin-left: 0px;
                    }
                    &.fb-33{
                        // flex: 0 0 33%;
                        width: 345px;
                        .drpdwn-dtsrc {
                            width: 200px;
                            margin-left: 15px;
                            ul{
                                width: 100%;
                            }
                        }
                        
                    }
                    &.fb-28{
                        // flex: 0 0 28%;
                        width: 290px;
                        .contein{
                            width: 220px;
                            margin-left: 15px;
                        }
                    }
                    &.fb-22{
                        // flex: 0 0 22%;
                        width: 230px;
                        .drpdwn-dtsrc{
                            margin-left: 15px;
                            width: 153px;
                            ul{
                                width: 100%;
                            }
                        }
                    }
                    &.data-feld{
                        width: 130px;
                        i{
                            margin-right: 11px;
                            font-size: 20px;
                            color: #1391FF;
                        }
                        a{
                            color: #FFFFFF;
                            font-family: "Nunito Sans";
                            font-size: 14px;
                            letter-spacing: 0;
                            line-height: 19px;
                        }
                    }
                }
            }
            .easy-search__selector{
                background-color: #12122B;
                box-shadow: inset 0 2px 20px 0 #070816;
                padding: 20px;
                .srch-selector__ocom{
                    .srch-selector__ocom__drop{
                        display: flex;
                        margin-bottom: 20px;
                        .drpdwn-dtsrc{
                            margin-right: 20px;
                            &:last-child{
                                margin-right: 0px;
                            }
                        }
                    }
                    .srch-selector__ocom__feat{
                        padding-left: 30px;
                        .ocom__feat__optn{
                            border-radius: 2px;
                            background-color: #151B39;
                            box-shadow: 0 2px 4px 0 rgba(0,0,0,0.46);
                            padding: 10px;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            .optn__left{
                                display: flex;
                                align-items: center;
                                .drpdwn-dtsrc{
                                    margin-right: 20px;
                                    &:last-child{
                                        margin-right: 0px;
                                    }
                                }
                            }
                            .optn__right{

                            }
                        }
                    }
                }
            }
        }
    }
}