.sidear {
    &-container {
        background: $grey9;
        box-shadow: 0 16px 20px 3px rgba(16,17,35,0.6), 0 6px 20px 5px rgba(40,41,62,0.3), 0 8px 5px 0 rgba(0,0,0,0.33);
        &.mobile-slide-in{
            @media (max-width: 767px) {
                height: 100%;
                width: 0;
                position: fixed;
                z-index: 9;
                top: 0;
                left: 0;
                opacity: 0;
                background-color: #27283D;
                overflow-x: hidden;
                transition: all 100ms ease-in-out;
                padding-top: 40px;
                button.close{
                    position: absolute;
                    top: 5px;
                    right: 15px;
                    cursor: pointer;
                    i{
                        font-size: 15px;
                    }
                }
                &.show{
                    width: 100%;
                    opacity: 1;
                }
            }
        }
        @media (min-width: 1350px) and (max-width: 1400px) {
            padding: 10px 10px 10px;
        }
        @media (min-width: 768px) {
            height: 100%;
        }
    }
}

.sidear-container{
    .nav{
        &-item{
            a{
                @media (min-width: 1200px) and (max-width: 1400px) {
                    padding: 10px 5px 10px;
                }
            }
        }
    }
}
.sidebar{
    @media (min-width: 768px){
        width: 255px;
        margin: 0;
        position: fixed;
        left: 0;
        top: 40px;
        height: 100%;
        &-320{
            width: 320px;
        }
    }
}
.sidebar-scroll{
    position: absolute;
    top:0;
}

//Dashboard Sidebar

.custom-dashboard{
    .sidear{
        &-container{
            background-color: #191a35;
            .menu-item{
                position: relative;
                padding-left: 8px;
                font-weight: 600;
                margin-bottom: 10px;
                &:before{
                    content: '';
                    width: 6px;
                    height: 6px;
                    background-color: #A3BAFF;
                    position: absolute;
                    left: -10px;
                }
                &:after{
                    content: '';
                    width: 3px;
                    height: 24px;
                    background-color: #1391FF;
                    position: absolute;
                    right: -18px;
                }
                &-one{
                    &:before{
                        background-color: #F7594B;
                    }
                }
                &-two{
                    &:before{
                        background-color: #F76196;
                    }
                    &:after{
                        display: none;
                    }
                }
                &-three{
                    &:before{
                        background-color: #816DFD;
                    }
                    &:after{
                        display: none;
                    }
                }
                &-four{
                    &:before{
                        background-color: #85C685;
                    }
                    &:after{
                        display: none;
                    }
                }
                &-five{
                    &:before{
                        background-color: #97ACED;
                    }
                    &:after{
                        display: none;
                    }
                }
                &:not(:first-child){
                    color: #9A9A9A;
                }
            }
        }
    }
}