.font-weight-bolder{
    font-weight: 900 !important;
}
.font-weight-semibold{
	font-weight: 500 !important;
}
.text-darkblue{
	color: $darkblue1;
}
.text-darkblue2{
	color: $darkblue2;
}
.text-black1{
	color: $body-bg;
}
.text-black2{
	color: $black1;
}


.text-ltblue1{
	color: $light-blue-2 !important;
}

.fs-15{
	font-size: 15px;
}

