.content{
    .workspace-header-bar{
        &.head-space{
            height: 60px;
            align-items: center;
        }
        .workspace-bar-tabs{
            &.fl-end{
                // align-items: flex-end;
                margin-top: 16px;
            }
        }
    }
}

.event{
    &.pb-3{
        .event-header{
            h6.mr-t7{
                margin-top: 7px;
            }
            .mr-l25{
                margin-left: 25px;
            }
        }
    }
    .table-wrapper{
        table{
            tbody{
                tr{
                    td{
                        line-height: 12px;
                        padding: 10px 4px;
                        color: #ffffff;
                        &.dates{
                            opacity: 0.7;
                            min-width: 110px;
                            // color: #ffffff;                   
                            // padding: 10px;
                        }
                        &.data-src{
                            opacity: 0.7;
                            min-width: 117px;
                        }
                        &.jojo-pump{
                            color: #D36E2E !important;
                            min-width: 129px;                 
                        }
                        &.url-logs{
                            min-width: 715px;
                            opacity: 0.7;
                        }
                        span{
                            &.event-logs{
                                color: #FFDB00;
                            }
                        }
                        &:first-child{
                            padding: 10px 4px 10px 7px;
                        }
                    }
                    
                }
            }
        }
    }
}

.sidear-container{
    .pd-space{
        padding: 20px 15px 20px 30px;
        .btn-wd{
            padding: 6px 8px;
        }
    }
    .search-wd{
        width: 190px;
    }
    .pos-shift{
        right: 18px;
    }
    .nav-list-items{
        ul{
            li{
                a.lft-nav{
                    height: 53px;
                    .nav-icons{
                        .ic-no-border{
                            border: none;
                        }
                    }
                }
                .sub-ul{
                    .pets{
                        height: 40px;
                        display: flex;
                    }
                }
            }
        }
    }
}

.header-section{
    .wrap{
        .mr-l35{
            margin-left: 35px;
        }
    }
}

#siderbar-content{
    .button-center{
        width: 100%;
        padding: 3px 15px;
    }
}

#web_api-tab,#custom_api-tab{
    padding: 15px 10px 12px 16px;
}

.workspace-tab-header{
    .colum-row{
        .colum-1{
            p.top-data{
                opacity: 0.5;
                color: #FFFFFF;
                font-family: "Avenir";
                font-size: 12px;
                font-weight: 300;
                letter-spacing: 0;
                line-height: 16px;
                margin-bottom: 5px;
            }
            .drpdwn-cont{
                position: relative;
                .drop-display{
                    display: flex;
                    // border: 1px solid #1391FF;
                    border: 1px solid #5D5E72;
                    border-radius: 2px;
                    justify-content: space-between;
                    align-items: center;
                    padding: 2px 10px;
                    width: 140px;
                    cursor: pointer;
                    .left{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 74px;
                        p{
                            margin-bottom: 0px;
                            font-size: 18px;
                        }
                        .capt-img{
                            max-width: 47px;
                            max-height: 12px;
                        }
                    }
                    .right{
                        .drop-up{
                            display: none;
                        }
                        .drop-down{
                            display: block;
                        }
                    }
                    &.shown{
                        border: 1px solid #1391FF;
                        .left{
                            .capt-txt{
                                color: #3C92FF;
                            }
                        }
                        .right{
                            .drop-down{
                                display: none;
                            }
                            .drop-up{
                                display: block;
                            }
                        }
                    }                 
                }
                .drop-list{
                    list-style-type: none;
                    padding: 0px;
                    margin: 0px;
                    border: 1px solid rgba(19,145,255,0.54);
                    position: absolute;
                    top: 31px;
                    width: 140px;
                    display: none;
                    cursor: pointer;
                    li{
                        list-style-type: none;
                        display: flex;
                        padding: 2px 10px;
                        border-bottom: 1px solid #979797;
                        background-color: #191A35;                        
                        .left{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            width: 74px;
                            p{
                                margin: 0px;
                                font-size: 18px;
                                // color: #3C92FF;
                            }
                            .capt-img{
                                max-width: 47px;
                                max-height: 12px;                                
                            }
                        }
                        &:hover{
                            background-color: rgba(19,145,255, 1);
                        }
                        &:first-child{
                            position: relative;
                            img.top-arrw{
                                position: absolute;
                                top: -7px;
                                right: 8px;
                                width: 16px;

                            }
                        }
                    }
                    // &.hide{
                    //     display: none !important;
                    // }
                    &.show{
                        display: block !important;
                        z-index: 5;
                    }
                }
            }
        }
    }
}


// Task Schedule Modal

#schedulemodal{
    .modal-dialog{
        @media screen and (min-width:768px) {
            max-width: 838px;
        }
        .modal-content{
            padding: 20px;
            height: 616px;
            .modal-header{
                margin: 0px;
                padding: 0 0 16px;
                .left{
                    display: flex;
                    align-items: center;
                    h4{
                        color: #FFFFFF;
                        font-family: "Nunito Sans";
                        font-size: 15px;
                        font-weight: 900;
                        letter-spacing: 0;
                        line-height: 20px;
                        margin-right: 52px;
                    }
                    .drpdwn-dtsrc{
                        position: relative;
                        .drop-display{
                            display: flex;          
                            border: 1px solid #5D5E72;
                            border-radius: 2px;
                            justify-content: space-between;
                            align-items: center;
                            padding: 7px 10px;
                            width: 264px;
                            cursor: pointer;
                            .left{
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                // width: 74px;
                                p{
                                    margin-bottom: 0px;
                                    margin-left: 20px;
                                    font-size: 15px;
                                    font-weight: 900;
                                    letter-spacing: 0;
                                    line-height: 20px;
                                    font-family: "Avenir";
                                    color: #FFFFFF;
                                }
                                .capt-img{
                                    max-width: 47px;
                                    max-height: 12px;
                                }
                            }
                            .right{
                                .drop-up{
                                    display: none;
                                }
                                .drop-down{
                                    display: block;
                                }
                            }
                            &.shown{
                                border: 1px solid #1391FF;
                                .left{
                                    .capt-txt{
                                        color: #3C92FF;
                                    }
                                }
                                .right{
                                    .drop-down{
                                        display: none;
                                    }
                                    .drop-up{
                                        display: block;
                                    }
                                }
                            }                 
                        }
                        .drop-list{
                            list-style-type: none;
                            padding: 0px;
                            margin: 0px;
                            border: 1px solid rgba(19,145,255,0.54);
                            position: absolute;
                            top: 31px;
                            width: 264px;
                            display: none;
                            cursor: pointer;
                            li{
                                list-style-type: none;
                                display: flex;
                                padding: 2px 10px;
                                border-bottom: 1px solid #979797;
                                background-color: #191A35;                        
                                .left{
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    // width: 74px;
                                    p{
                                        margin: 0 0 0 20px;
                                        font-size: 15px;
                                        font-weight: 900;
                                        letter-spacing: 0;
                                        line-height: 20px;
                                        font-family: "Avenir";
                                        color: #FFFFFF;
                                    }
                                    .capt-img{
                                        max-width: 47px;
                                        max-height: 12px;                                
                                    }
                                }
                                &:hover{
                                    background-color: rgba(19,145,255, 1);
                                }
                                &:first-child{
                                    position: relative;
                                    img.top-arrw{
                                        position: absolute;
                                        top: -7px;
                                        right: 8px;
                                        width: 16px;
        
                                    }
                                }
                            }
                            // &.hide{
                            //     display: none !important;
                            // }
                            &.show{
                                display: block !important;
                                z-index: 5;
                            }
                        }
                    }
                }
                .close{
                    color: #1391FF;
                    text-shadow: none;
                }               
            }
            .modal-body{
                padding: 0px;
                ul.task-tab{
                    padding-top: 24px;
                    .nav-item{
                        margin-right: 0px;                        
                        padding-bottom: 10px;                        
                        .nav-link{
                            padding: 0px;
                            border-right: 1px solid;
                            border-right-color: rgba(255, 255, 255, 0.5);
                            padding-right: 31px;
                            opacity: 0.5;
                            &.active{
                                border-bottom: 0px;
                                opacity: 1;
                            }                            
                        }
                        &:last-child{
                            .nav-link{
                                padding-left: 30px;
                                border-right: none;
                                padding-right: none;
                            }
                        }
                    }
                }
                .tab-content{
                    .tab-pane{
                        .onetime-report{
                            padding: 30px 0;
                            .s-row{
                                display: flex;
                                align-items: center;
                                .lside{
                                    width: 170px;
                                    p{
                                        color: #FFFFFF;
                                        font-family: "Avenir";
                                        margin: 20px 0 0;
                                        font-size: 15px;
                                        font-weight: 900;
                                        letter-spacing: 0;
                                        line-height: 20px;
                                    }
                                }
                                .rside{
                                    display: flex;
                                    .fist{
                                        p{
                                            margin: 0 0 6px;
                                        }
                                        .input-group{
                                            width: 204px;
                                            .date-pick1{
                                                background-color: #191A35;
                                                margin-right: 28px;
                                                &:last-child{
                                                    margin-right: 0px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .recur-report{
                            padding: 30px 0;
                        }
                    }
                }
            }
            .modal-footer{
                border-top: 1px solid;
                border-top-color: rgba(151, 151, 151, 0.25);
                padding-bottom: 0px;
                .modal-ok{
                    background-color: #1391FF;
                    border-radius: 2px;
                    width: 120px;
                    height: 30px;
                    color: #0A0C1B;
                    font-family: "Avenir";
                    font-size: 12px;
                    font-weight: 900;
                    letter-spacing: 0;
                    line-height: 16px;
                }
            }      
        }
    }
}