.dashboard-filter {
    p {
        opacity: 0.7;
        color: #ffffff;
        font-family: "Nunito Sans";
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 20px;
    }
    input[type="text"] {
        background-color: #20284c;
        color: #ffffff;
    }
    .drop-list {
        background-color: #20284c;
        box-shadow: 1px 7px 40px 2px rgba(0, 0, 0, 0.6);
    }
    .dropbtn {
        background-color: #191a35;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: 1px solid #5d5e72;
        border-radius: 2px;
        cursor: pointer;
        opacity: 90%;
    }

    .dropbtn:hover,
    .dropbtn:focus {
        background-color: #191a35;
    }

    #myInput {
        box-sizing: border-box;
        background-image: url("ic_search.svg");
        background-position: 14px 12px;
        background-repeat: no-repeat;
        font-size: 16px;
        padding: 7px 20px 12px 45px;
        border: none;
        border-bottom: 1px solid rgba(151, 151, 151, 0.5);
    }

    #myInput:focus {
        outline: 0px solid #ddd;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f6f6f6;
        min-width: 230px;
        overflow: auto;
        z-index: 1;
    }

    .dropdown-content a {
        color: rgba(255, 255, 255, 0.5);
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-size: 13px;
        border-bottom: 1px solid rgba(151, 151, 151, 0.5);
    }
    .dropdown-content a:last-child {
        border: none;
    }

    .dropdown a:hover {
        opacity: 0.4;
        background-color: #1391ff;
    }

    .show {
        display: block;
    }
    input[type="text"]::placeholder {
        font-size: 12px;
        color: #659cc8;
        font-weight: 800;
    }
    .search-box {
        caret-color: #ffffff;
    }
}

.create-dashboard{
    label{
        color: #ffffff;
    }
    .form-control{
        background-color: #191a35;
        border-color: #5D5E72;
        border-radius: 2px;
    }
    input[type=text]::placeholder{
        color: #ffffff;
        opacity: 20%;
    }
    .btn-primary{
        background-color: #1391FF;
        color: #0A0C1B;
        font-weight: 800;
    }
    .disabled{
        opacity: 0.5;
    }
}
