.w-200{
    width: 200px;
}
.dropdown-list:after{
    content: '';
    position: absolute;
    right: 12px;
    width: 13px;
    height: 13px;
    color: #fff;
    background: url(../images/ic_chevron_left.svg)no-repeat;
    background-size: 13px 13px;
    top: 13px;
}
.dropdown-list #myInput {
    box-sizing: border-box;
    background-image: url(../images/ic_search.svg);
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 7px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid rgba(151, 151, 151, .5);
    width: 100%;
}
.dropdown-list input[type=text] {
    background-color: #20284c;
    color: #fff;
}
.dropdown-list .drop-list {
    background-color: #20284c;
    box-shadow: 1px 7px 40px 2px rgba(0, 0, 0, .6);
}
.dropdown-list .dropbtn {
    color: #fff;
    font-size: 14px;
    background-color: transparent;
    background-clip: padding-box;
    border: 2px solid #34364a;
    border-radius: 2px;
    cursor: pointer;
    opacity: 90%;
    padding: 8px 10px;
    width: 100%;
    text-align: left;
    position: relative;
    z-index: 1;
}
.dropdown-list #myInput:focus {
    outline: 0 solid #ddd;
}
.dropdown-list .dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-list .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    width: 100%;
    overflow: auto;
    z-index: 1;
}
.dropdown-list .dropdown-content a {
    color: rgba(255, 255, 255, .5);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 13px;
    border-bottom: 1px solid rgba(151, 151, 151, .5);
}
.dropdown-list .dropdown-content a:last-child {
    border: none;
}
.dropdown-list.dropdown a:hover {
    opacity: .4;
    background-color: #1391ff;
}
.dropdown-list .show {
    display: block;
}
.dropdown-list input[type=text]::placeholder {
    font-size: 12px;
    color: #659cc8;
    font-weight: 800;
}
.dropdown-list.search-box {
    caret-color: #fff;
}

/*
.progressbar {
    margin: 0;
    padding: 0;
    width:100%;
    float: left; 
  }
  .first-li{
    text-align: right;
    padding-right: 160px;
    input[type=radio]{
        position: relative;
        left: 6px;
        top: 2px;
    }
  }
  .second-li{
    text-align: left;
    padding-left: 160px;
    input[type=radio]{
        position: relative;
        right: 6px;
        top: 2px;
    }
}
  .progressbar li {
    list-style-type: none;
    width: 50%;
    float: left;
    font-size: 13px;
    position: relative;
  }
  .progressbar li:after {
    width: 100%;
    height: 1px;
    content: '';
    position: absolute;
    background-color: #fff;
    top: 8px;
    left: -50%;
  }
  .progressbar li:first-child:after {
    content: none;
  }
  .progressbar li.active {
    color: #fff;
    font-weight: bold;
  }
*/

.progressbar-content{
    display: flex;
    font-size: 14px;
    @media screen and (max-width: 991px){
        padding-bottom: 27px;
        padding-top: 20px;
    }
    .progress__field{
        label.radio-input{
            position: relative;
            padding-right: 20px;
            top:-5px;
            &::before{
                content: ' ';
                // position: absolute;
                // right: 0;
                // border-radius: 50%;
                // width: 17px;
                // height: 17px;
                // border: 2px solid #fff;
                width: 19px;
                height: 19px;
                border-radius: 50%;
                background-color: #8C8C9A;
                position: absolute;
                left: 0;
                top: -2px;
            }
            &::after{
                content: ' ';
                width: 7.5px;
                height: 7.5px;
                border-radius: 50%;
                background-color: #fff;
                position: absolute;
                left: 5.5px;
                top: 3.5px;
            }
        }
        &.active{
            label.radio-input {
                &::before{
                    background-color: #1391FF;
                }
            }
        }
    }
    .first-child{
        @media screen and (max-width: 991px){
            position: relative;
            right: -13px;
            top: -20px;
        }
        &.active{
            span{
                font-weight: bold;
                color:#fff;
            }
        }
        label.radio-input{
            position: relative;
            padding-right: 20px;
            top:-5px;
            
            &.active{
                &:before{
                    // border:2px solid #1391ff !important;
                }
                &:after{
                    content: ' ';
                    // position: absolute;
                    // left: 7.5px;
                    // top: 4.5px;
                    // border-radius: 50%;
                    // width: 7.5px;
                    // height: 7.5px;
                    // background-color: #1391ff;
                }
            }
        } 
    }
    .last-child{
        @media screen and (max-width: 991px){
            position: absolute;
            bottom: 0;
            right: 4px;
        }
        &.active{
            span{
                font-weight: bold;
                color:#fff;
            }
        }
        label.radio-input{
            position: relative;
            // padding-left: 20px;
            top:-5px;
            // &:before{
            //     content: ' ';
            //     position: absolute;
            //     right: 0;
            //     border-radius: 50%;
            //     width: 17px;
            //     height: 17px;
            //     border: 2px solid #fff;
            // }
            &.active{
                &:before{
                    border:2px solid #1391ff !important;
                }
                &:after{
                    content: ' ';
                    position: absolute;
                    left: 7.5px;
                    top: 4.5px;
                    border-radius: 50%;
                    width: 7.5px;
                    height: 7.5px;
                    background-color: #1391ff;
                }
            }
        }
    }
    .line{
        width: 300px;
        background-color: #fff;
        height: 1px;
        position: relative;
        top: 10px;
        margin-left: 5px;
        margin-right: 5px;
        @media screen and (max-width: 991px){
            width: 1px;
            top: 3px;
            height: 130px;
        }
    }
}


.toast--extrainfo{
    height: 67.7px;
    width: 446.7px;
    max-width: 450px;
    .toast-body{
        .toast-wrap{
            .toast-msg{
                ul{
                    padding-left: 0px;
                    margin-bottom: 0px;
                    display: flex;
                    list-style-type: none;
                    li{
                        color: #8B8DA5;
                        padding: 0 15px 0 15px ;
                        font-weight: 600;
                        letter-spacing: 0;
                        line-height: 16px;
                        position: relative;
                        &::after{
                            content: ' ';
                            position: absolute;
                            width: 1px;
                            height: 12px;
                            top: 2px;
                            right: 0;
                            background-color: #8B8DA5;
                        }
                        &:last-child{
                            &::after{
                                content: none;
                            }
                        }
                        &:first-child{
                            padding-left: 0px;
                        }
                        span{
                            color: #1391FF;
                        }
                        a{
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}


.dashboard-widget{
    .modal-body{
        .btn--saveboard{
            color: #0A0C1B;
        }
        .dashboard--share{
            text-decoration: none;
            i{
                font-size: 20px;
                vertical-align: middle;                
            }
            &:hover{
                i{
                    color: #fff;
                }                
            }            
        }        
    }
}


.gen__widget{
    background-color: #0F1226;
    box-shadow: 0 2px 40px 2px rgba(0,0,0,0.24);
    padding: 20px;
    .gen__widget__control{
        .gen__widget__save{
            display: flex;
            justify-content: space-between;
            .widget__save__lft{
                display: flex;
                &.widget__save__rt{
                    display: none;
                    &.show{
                        display: flex;
                    }
                }
            }
        }
        .gen__widget__info{
            display: none;
            // margin-top: 45px;
            .widget__item {
                p{
                    min-height: 36px;
                    opacity: 0.4;
                }
                &.fb-160{
                    max-width: 166px;
                    width: 20%;
                }
                &.fb-200{
                    max-width: 200px;
                    width: 20%;
                }
                &.fb-625{
                    max-width: 625px;
                    width: 60%;
                }
            }
            &.show{
                display: flex;
            }
        }        
    }
}

.gen-widget-prev{
    min-height: 250px;
}