.workspace {
    &-header-bar {
        padding: 5px 15px 0;
        background: $black2;
        @media (max-width: 767px) {
            padding: 5px 15px 5px;
        }
    }
    &-bar-tabs {
        display: flex;
        align-items: center;
    }
    &-actions {
        padding: 0 15px;
        text-align: right;
        @media (max-width: 767px) {
            text-align: left;
        }
    }
    &-info {
        ul {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .icon {
                vertical-align: middle;
                margin-right: 10px;
            }
            .icon-arrow-down-sm {
                font-size: 5px;
            }
            li {                
                padding: 0 5px;
                position: relative;
                color: $grey;
                &:after {
                    content: "";
                    display: block;
                    background: $white-5;
                    position: absolute;
                    right: -1px;
                    top: 5px;
                    bottom: 5px;
                    width: 2px;
                }
                &:last-child {
                    &:after {
                        display: none;
                    }
                }
            }
            @media (max-width: 767px) {
                justify-content: flex-start;
                padding-left: 0;
            }
        }
    }
    &-actiions{
        a.mr-15{
            @media (max-width: 480px) {
                margin-right: 5px !important;
            }
        }
        .icon{
            &-preview{
                font-size: 13px;
            }
            &-setting{
                font-size: 15px;
            }
        }
    }
}

.tab {
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    color: $white-5;
    text-transform: uppercase;
    padding: 8px 20px 8px 8px;
    position: relative;
    cursor: pointer;

    &.active {
        color: #fff;
        border-bottom: 3px solid $primary;
        font-weight: 900;
    }
    &-close {
        position: absolute;
        right: 3px;
        text-decoration: none !important;
        top: 50%;
        transform: translateY(-50%);
        i {
            font-size: 9px;
        }
    }
    &-list {
        display: flex;
        &-action {
            padding-left: 25px;
            position: relative;
            top: -2px;
        }   
    }
    &-btn {
        border: 0;
        background: transparent;
        box-shadow: none;
        outline: 0;

        &-add {
            margin-right: 15px;
        }

        &-add,
        &-more {
            padding: 0;
            outline: 0 !important;
            i {
                color: $white-5;
                font-size: 9px;
                font-weight: 300;
            }
        }
    }    
}

.wordspace-tabs{
    .nav-item{
        position: relative;
        &::after{
            position: absolute;
            right: -17px;
            top: 7px;
            content: "";
            width: 1px;
            height: 23px;
            background: $white-7;
        }
    }
}