.workspace {
    &-header-bar {
        padding: 5px 15px 0;
        background: $black2;
        @media (max-width: 767px) {
            padding: 5px 15px 5px;
        }
    }
    &-bar-tabs {
        display: flex;
        align-items: center;
        @media (max-width: 575px) {
            justify-content: flex-start;
        }
    }
    &-actions {
        padding: 0 15px;
        text-align: right;
        @media (max-width: 767px) {
            text-align: left;
        }
        @media (max-width: 575px) {
            text-align: right;
        }
        .btn-primary{
            @media (max-width: 575px){
                margin-top: 0.5rem;
            }
        }
        .btn-115{
            @media (max-width: 575px){
                min-width: auto !important;
            }
        }

    }
    &-info {
        ul {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .icon {
                vertical-align: middle;
                margin-right: 10px;
            }
            .icon-arrow-down-sm {
                font-size: 5px;
            }
            li {                
                padding: 0 5px;
                position: relative;
                color: $grey;
                cursor: pointer;
                &:after {
                    content: "";
                    display: block;
                    background: $white-5;
                    position: absolute;
                    right: -1px;
                    top: 5px;
                    bottom: 5px;
                    width: 2px;
                }
                &:last-child {
                    &:after {
                        display: none;
                    }
                }
                &:hover{
                    color: #fff;
                }
            }
            @media (max-width: 767px) {
                justify-content: flex-start;
                padding-left: 0;
            }
        }
    }
    &-actiions{
        a.mr-15{
            @media (max-width: 480px) {
                margin-right: 5px !important;
            }
        }
        .icon{
            &-preview{
                font-size: 13px;
            }
            &-setting{
                font-size: 15px;
            }
        }
        @media (max-width: 575px) {
            margin-bottom: 5px;
            margin-top: 10px;
        }
    }
    &-border{
        border-bottom: 2px solid #44475a;
    }
}

.tab {
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    color: $white-5;
    text-transform: uppercase;
    padding: 8px 8px 8px 8px;
    position: relative;
    cursor: pointer;

    &.active {
        color: #fff;
        border-bottom: 3px solid $primary;
        font-weight: 900;
    }
    &-close {
        position: absolute;
        right: 3px;
        text-decoration: none !important;
        top: 50%;
        transform: translateY(-50%);
        i {
            font-size: 9px;
            &::before{
                color: #fff;
            }
        }
    }
    &-list {
        display: flex;
        &-action {
            padding-left: 25px;
            position: relative;
            top: -2px;
        }   
    }
    &-btn {
        border: 0;
        background: transparent;
        box-shadow: none;
        outline: 0;
        font-weight: 600;
        &-add {
            margin-right: 15px;
        }

        &-add,
        &-more {
            padding: 0;
            outline: 0 !important;
            i {
                color: $white-5;
                font-size: 9px;
                font-weight: 300;
            }
        }
    }
    @media (min-width: 768px){
        padding: 8px 40px 8px 8px;
    }    
}

.wordspace-tabs{
    .nav-item{
        position: relative;
        &::after{
            position: absolute;
            right: -17px;
            top: 7px;
            content: "";
            width: 1px;
            height: 23px;
            background: $white-7;
        }
    }
}

.request{
    width: 100%;
    position: relative;
    &-select{
        position: absolute;
        top: 0;
        left: 0;
        .select2{
            &.select2-container{
                max-width: 100px !important;
                width: 100px !important;
                text-align: left;
            }
            .selection{
                .select2-selection{
                    border: 2px solid #415F65;
                    background: #415F65;
                    border-radius: 0;
                    color: #B0BCBF;
                    height: 31px;
                    border-radius: 0.25rem;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    &__rendered{
                        font-size: 15px;
                        color: #B0BCBF;
                        line-height: 31px;
                        padding-left: 15px;
                    }
                    &__clear{
                        display: none;
                    }
                    &__arrow{
                        right: 10px;
                        b{
                            border-color: #B0BCBF transparent transparent transparent;
                            border-width: 6px 5px 0 5px;
                        }
                    }
                }
            }
        }  
    }
    &-input{
        .form-control{
            padding-left: 115px;
            height: 31px;
        }
    }
}

.responsive-tabs{
    .tab-list{
        .tab-btn{
            img{
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

.green-select .select2 .selection .select2-selection{
    border: 2px solid #415f65;
    background: #415f65;
    color: #B0BCBF;
    &__placeholder{
        color: #B0BCBF;
    }
    &__rendered{
        color: #B0BCBF;
    }
    &__clear{
        display: none;
    }
}