{{ define "main" }}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-3 col-lg-2 p-0">
			<div class="sidear-container">
				<ul class="nav nav-tabs nav-divider-dark nav-fill-50" id="siderbar-tabs" role="tablist">
					<li class="nav-item">
						<a class="nav-link sticky-badge-wrap" id="web_api-tab" data-toggle="tab" href="#web_api" role="tab" aria-controls="home" aria-selected="true"><span class="sticky-badge-text">WEB API <span class="badge sticky-badge">12</span></span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link active sticky-badge" id="custom_api-tab" data-toggle="tab" href="#custom_api" role="tab" aria-controls="custom_api" aria-selected="false"><span class="sticky-badge-text">CUSTOM <span class="badge sticky-badge">12</span></span></a>
					</li>
				</ul>
				<div class="tab-content pt-1" id="siderbar-content">
					<div class="tab-pane fade" id="web_api" role="tabpanel" aria-labelledby="web_api-tab">
						<div class="pl-1 pr-1 pt-1 pb-2 pb-md-3">
							<button class="btn btn-small btn-outline-primary"><i class="icon icon-add"></i>Add New</button>
						</div>
					</div>
					<div class="tab-pane fade show active" id="custom_api" role="tabpanel" aria-labelledby="custom_api-tab">
						<div class="pl-1 pr-1 pt-1 pb-2 pb-md-3">
							<button class="btn btn-small btn-outline-primary"><i class="icon icon-add"></i>Add New</button>
						</div>
						<div class="nav-list-items">
							<ul class="nav-lists">
								<li class="list-item">
									<div class="list-item-wrap">
										<div class="list-item-logo">
											<img src="{{"images/logo_aws.svg" | relURL }}" alt>
										</div>
										<div class="list-item-label">
											<label class="request-label d-block mb-0">Swagger Pet Store 2</label>
											<label class="request-count d-block mb-0">3 requests</label>
										</div>
									</div>
									<!-- <ul>
										<li>
											<div class="list-item-wrap">
												<div class="list-item-logo">
													<img src="{{"images/logo_aws.svg" | relURL }}" alt>
												</div>
												<div class="list-item-label">
													<label class="request-label d-block mb-0">Pets</label>
												</div>
											</div>
											<ul>
												<li>
													<div class="list-item-wrap">
														<div class="list-item-logo">
															<label class="request-type d-block mb-0 post">POST</label>
														</div>
														<div class="list-item-label">
															<label class="request-label d-block mb-0">Create Pets</label>
														</div>
													</div>
												</li>
												<li>
													<div class="list-item-wrap">
														<div class="list-item-logo">
															<label class="request-type d-block mb-0 get">GET</label>
														</div>
														<div class="list-item-label">
															<label class="request-label d-block mb-0">List of Pets</label>
														</div>
													</div>
												</li>
											</ul>
										</li>
									</ul> -->
								</li>
								<li class="list-item">
									<div class="list-item-wrap">
										<div class="list-item-logo">
											<img src="{{"images/logo_aws.svg" | relURL }}" alt>
										</div>
										<div class="list-item-label">
											<label class="request-label d-block mb-0">Swagger Pet Store 2</label>
											<label class="request-count d-block mb-0">3 requests</label>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-9 col-lg-10 p-0">
			<div class="d-flex justify-content-between workspace-header-bar">
				<div class="workspace-bar-tabs">	
					<div class="side-menu-toggle icon-hamburger d-lg-none">
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="tab-list">
						<div class="tab-btn tab active">Custom Source <a href="#" class="tab-close"><i class="icon-close"></i></a></div>
					</div>
					<div class="tab-list-action">
						<button class="tab-btn tab-btn-add"><i class="icon-add"></i></button>
						<button class="tab-btn tab-btn-more"><i class="icon-dots"></i></button>
					</div>
				</div>
				<div>
					<div class="workspace-actiions d-flex align-items-center">
						<div class="workspace-environment mr-1">
							<select class="select2-outline-dark" data-placeholder="No Environment">
								<option></option>	
								<option>Environment 1</option>	
								<option>Environment 2</option>	
							</select>
						</div>
						<a href="#" target="_self" class="mr-1 text-decoration-none"><i class="icon-preview"></i></a>
						<a href="#" target="_self" class="text-decoration-none"><i class="icon-setting"></i></a>
					</div>
				</div>
			</div>
			
			<div class="workspace-tab-container">
				<div class="workspace-tab-content">
					<div class="workspace-tab-header">
						<div class="d-flex flex-wrap mt-15">
							<div class="col-12 col-lg-8">
								<h6 class="workspace-name text-white f-12 fw-900 mb-0">B086 Connection</h6>
								<h6 class="workspace-name text-white--5 f-12 fw-300">Custom SQL Source connection for Petzilla <button class="text-white-5 ml-1 btn-edit"><span class="icon-edit"></button> Edit</span></h6>
							</div>
							<div class="col-12 col-lg-4">
								<div class="workspace-info">
									<ul>
										<li><i class="icon-comment icon"></i> Comments <span>(3)</span></li>
										<li>Examples <span>(3)</span> <i class="icon-arrow-down-sm icon"></i></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="workspace-actions">
							<div class="btn-group btn-primary mr-1">
								<button type="button" class="btn">Save</button>
								<button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								</button>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</div>
							<div class="btn-group btn-outline-dark">
								<button type="button" class="btn">Preview</button>
								<button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								</button>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</div>
						</div>
						<ul class="nav nav-tabs mt-1" id="myTab" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="jdedwards-tab" data-toggle="tab" href="#jdedwards" role="tab" aria-controls="jdedwards" aria-selected="true">JD Edwards</a>
							</li>
							<button class="btn-icon ml-15"><i class="icon-add-circle mr-05"></i> Add New Field</button>
						</ul>

						<div class="tab-content pt-0" id="myTabContent">
							<div class="tab-pane fade show active" id="jdedwards" role="tabpanel" aria-labelledby="jdedwards-tab">
								<div class="element-fields-wrapper pb-2 pb-md-0">
									<div class="element-field-row d-flex flex-wrap align-items-center">
										<div class="col-lg-9">
											<div class="row align-items-center">
												<div class="col-lg-4">
													<h6 class="f-12 mb-05 fw-900 text-white">JD EDWARDS <button class="text-white-5 ml-1 btn-edit"><span class="icon-edit"></span> Edit</button></h6>
													<p class="f-12 fw-300 mb-0">Add description <button class="text-white-5 ml-1 btn-edit"><span class="icon-edit"></span> Edit</button></p>
												</div>
												<div class="col-lg-5">
													<div class="field-wrapper"><div class="form-field mb-0 mt-1 mt-md-0"><input class="form-control form-control-dark input-small" type="text" placeholder="Enter Help Text"></div></div></div>
												<div class="col-lg-3">
												</div>
											</div>
										</div>
										<div class="col-lg-3">
											<div class="element-field-setting text-md-right text-lg-left mt-1 mt-md-0">
												<button class="btn-icon mr-1"><i class="icon-icon-filter"></i></button>
												<button class="btn-icon text-white">Advanced Settings <i class="icon-icon-dots-hr ml-05"></i></button>
											</div>
										</div>
									</div>
									<div class="element-field-row d-flex flex-wrap align-items-center">
										<div class="col-lg-9">
											<div class="row align-items-center">
												<div class="col-lg-4">
													<h6 class="f-12 mb-05 fw-900 text-white">JAdd Text Field Name <button class="text-white-5 ml-1 btn-edit"><span class="icon-edit"></span> Edit</button></h6>
													<p class="f-12 fw-300 mb-0">Add description <button class="text-white-5 ml-1 btn-edit"><span class="icon-edit"></span> Edit</button></p>
												</div>
												<div class="col-lg-5">
													<div class="field-wrapper">
														<div class="form-field mb-0 mt-1 mt-md-0">
															<input class="form-control form-control-dark input-small" type="text" placeholder="Enter Help Text">                            
														</div>
													</div>
												</div>
												<div class="col-lg-3">
													<div class="custom-control custom-checkbox custom-checkbox-dark mt-1 mt-md-0">
														<input type="checkbox" class="custom-control-input" id="mandatory1">
														<label class="custom-control-label font-light" for="mandatory1">Mark field as mandatory</label>
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-3">
											<div class="element-field-setting text-md-right text-lg-left mt-0">
												<button class="btn-icon mr-1"><i class="icon-icon-filter"></i></button>
												<button class="btn-icon text-white">Advanced Settings <i class="icon-icon-dots-hr ml-05"></i></button>
											</div>
										</div>
									</div>
									<div class="element-field-row d-flex flex-wrap">
										<div class="col-lg-9">
											<div class="row">
												<div class="col-lg-4">
													<h6 class="f-12 mb-05 fw-900 text-white">Add Radio Field Name <button class="text-white-5 ml-1 btn-edit"><span class="icon-edit"></span> Edit</button></h6>
													<p class="f-12 fw-300 mb-0">Add description <button class="text-white-5 ml-1 btn-edit"><span class="icon-edit"></span> Edit</button></p>
												</div>
												<div class="col-lg-5">
													<div class="field-wrapper field-type-ratio field-repeat mt-1 mt-md-0">
														<div class="form-field fi mb-0 mt-0">
															<input class="form-control form-control-dark input-small" type="text" placeholder="Enter Value">
															<button class="btn-icon btn-field-remove"><i class="icon-close"></i></button>                          
														</div>
														<div class="form-field fi mb-0 mt-15">
															<input class="form-control form-control-dark input-small" type="text" placeholder="Enter Value">
															<button class="btn-icon btn-field-remove"><i class="icon-close"></i></button>                          
														</div>
														<div class="form-field fi mb-0 mt-15">
															<input class="form-control form-control-dark input-small" type="text" placeholder="Enter Value">
															<button class="btn-icon btn-field-remove"><i class="icon-close"></i></button>                          
														</div>
														<div class="field-repeat-btn-wrap">
															<button class="btn-icon"><i class="icon-add-circle mr-05"></i> Add Another</button>
														</div>
													</div>
												</div>
												<div class="col-lg-3">											
													<div class="custom-control custom-checkbox custom-checkbox-dark mt-1">
														<input type="checkbox" class="custom-control-input" id="mandatory2">
														<label class="custom-control-label font-light" for="mandatory2">Mark field as mandatory</label>
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-3">
											<div class="element-field-setting text-md-right text-lg-left mt-1">
												<button class="btn-icon mr-1"><i class="icon-icon-filter"></i></button>
												<button class="btn-icon text-white">Advanced Settings <i class="icon-icon-dots-hr ml-05"></i></button>
											</div>
										</div>
									</div>
									<div class="col-12 mt-1">
										<button class="btn-icon" data-toggle="modal" data-target="#addfieldsmodal"><i class="icon-add-circle mr-05"></i> Add New Field</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="addfieldsmodal" tabindex="-1" role="dialog" aria-labelledby="addfieldsmodal" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content rounded-0">
			<div class="modal-header rounded-0">
				<h5 class="modal-title section-title text-uppercase" id="addfieldsmodal">Add New Field</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<i class="icon-close"></i>
				</button>
			</div>
			<div class="modal-body rounded-0 p-0 navpills">
					<div class="row m-0">
						<div class="col-md-3 p-0 shadow">
							<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
								<div class="search-wrap p-15">
									<div class="position-relative">
										<img src="{{"images/ic_search.svg" | relURL }}" class="pa-lc" width="17" height="17" />
										<input class="form-control input-search input-small pl-4" type="search" q="googlesearch" placeholder="Search">
									</div>
								</div>
								<a class="nav-link active text-white--5" id="v-pills-textboxes-tab" data-toggle="pill" href="#v-pills-textboxes" role="tab" aria-controls="v-pills-textboxes" aria-selected="true">
									Text Boxes
								</a>
								<a class="nav-link text-white--5" id="v-pills-toggles-tab" data-toggle="pill" href="#v-pills-toggles" role="tab" aria-controls="v-pills-toggles" aria-selected="false">
									Toggles
								</a>
								<a class="nav-link text-white--5" id="v-pills-checkboxes-tab" data-toggle="pill" href="#v-pills-checkboxes" role="tab" aria-controls="v-pills-checkboxes" aria-selected="false">
									Checkboxes
								</a>
								<a class="nav-link text-white--5" id="v-pills-radio-tab" data-toggle="pill" href="#v-pills-radio" role="tab" aria-controls="v-pills-radio" aria-selected="false">
									Radio Buttons
								</a>
								<a class="nav-link text-white--5" id="v-pills-customcodetab" data-toggle="pill" href="#v-pills-customcode" role="tab" aria-controls="v-pills-customcode" aria-selected="false">
									Custom Code
								</a>
							</div>
						</div>
						<div class="col-md-9 p-0">
							<div class="tab-content" id="content" role="tablist">
								<div class="card tab-pane fade show active" id="v-pills-textboxes" role="tabpanel" aria-labelledby="v-pills-textboxes-tab">
									<div class="card-header" role="tab" id="heading-A">
										<a class="nav-link text-white--5" data-toggle="collapse" href="#collapse-A" aria-expanded="false" aria-controls="collapse-A">
											Text Boxes
										</a>
									</div>
									<!-- Note: New place of `data-parent` -->
									<div id="collapse-A" class="collapse" data-parent="#content" role="tabpanel" aria-labelledby="heading-A">
										<div class="card-body">
											<div class="tab-header p-15 pl-2 pr-2 d-none d-md-block">
												<h5 class="section-title text-uppercase mt-0 mb-0">Text Boxes</h5>
											</div>
											<div class="tab-content">
												<div class="field-row d-flex align-items-center justify-content-between flex-wrap border-top-grey pt-3 pb-4 pr-2 pl-2">
													<div class="d-flex align-items-center flex-wrap">
														<div class="form-field mb-0 mt-0 mt-md-0 mr-0 mr-md-1">
															<input class="form-control form-control-dark w-260" type="text" placeholder="abcdefghijklmnopqrstuvwxyz">                            
														</div>
														<div class="help-text text-white--5 mt-1 mt-md-0">
															<p class="m-0 font-weight-bolder">Alphabetic</p>
															<p class="m-0 font-weight-light">Allow only char a-z</p>
														</div>
													</div>
													<div class="btn-wrapper mt-1 mt-md-0">
														<button type="button" class="btn btn-primary rounded-0">Add</button>
													</div>
												</div>
												<div class="field-row d-flex align-items-center justify-content-between flex-wrap border-top-grey pt-3 pb-4 pr-2 pl-2">
													<div class="d-flex align-items-center flex-wrap">
														<div class="form-field mb-0 mt-0 mt-md-0 mr-0 mr-md-1">
															<input class="form-control form-control-dark w-260" type="text" placeholder="0123456789">                            
														</div>
														<div class="help-text text-white--5 mt-1 mt-md-0">
															<p class="m-0 font-weight-bolder">Numeric</p>
															<p class="m-0 font-weight-light">Allow only char 0-9</p>
														</div>
													</div>
													<div class="btn-wrapper mt-1 mt-md-0">
														<button type="button" class="btn btn-primary rounded-0">Add</button>
													</div>
												</div>
												<div class="field-row d-flex align-items-center justify-content-between flex-wrap border-top-grey pt-3 pb-4 pr-2 pl-2">
													<div class="d-flex align-items-center flex-wrap">
														<div class="form-field mb-0 mt-0 mt-md-0 mr-0 mr-md-1">
															<input class="form-control form-control-dark w-260" type="text" placeholder="0a1bcd2efg3ghtu344dku5d126s7s…">                            
														</div>
														<div class="help-text text-white--5 mt-1 mt-md-0">
															<p class="m-0 font-weight-bolder">Alpha Numeric String</p>
															<p class="m-0 font-weight-light">Allow both char a-z and 0-9</p>
														</div>
													</div>
													<div class="btn-wrapper mt-1 mt-md-0">
														<button type="button" class="btn btn-primary rounded-0">Add</button>
													</div>
												</div>
												<div class="field-row d-flex align-items-center justify-content-between flex-wrap border-top-grey pt-3 pb-4 pr-2 pl-2">
													<div class="d-flex align-items-center flex-wrap">
														<div class="form-field mb-0 mt-0 mt-md-0 mr-0 mr-md-1">
															<input class="form-control form-control-dark w-260" type="text" placeholder="***********************">                            
														</div>
														<div class="help-text text-white--5 mt-1 mt-md-0">
															<p class="m-0 font-weight-bolder">Password Field</p>
															<p class="m-0 font-weight-light">Allow both char a-z and 0-9</p>
														</div>
													</div>
													<div class="btn-wrapper mt-1 mt-md-0">
														<button type="button" class="btn btn-primary rounded-0">Add</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="card tab-pane fade" id="v-pills-toggles" role="tabpanel" aria-labelledby="v-pills-toggles-tab">
									<div class="card-header" role="tab" id="heading-B">
										<a class="nav-link text-white--5" data-toggle="collapse" href="#collapse-B" aria-expanded="false" aria-controls="collapse-C">
											Toggles
										</a>
									</div>
									<!-- Note: New place of `data-parent` -->
									<div id="collapse-B" class="collapse" data-parent="#content" role="tabpanel" aria-labelledby="heading-B">
										<div class="card-body">
											<div class="tab-header p-15 pl-2 pr-2 d-none d-md-block">
												<h5 class="section-title text-uppercase mt-0 mb-0">Toggles</h5>
											</div>
											<div class="tab-content">
												<div class="p-15">
													Toggles
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="card tab-pane fade" id="v-pills-checkboxes" role="tabpanel" aria-labelledby="v-pills-checkboxes-tab">
									<div class="card-header" role="tab" id="heading-C">
										<a class="nav-link text-white--5" data-toggle="collapse" href="#collapse-C" aria-expanded="false" aria-controls="collapse-C">
											Checkboxes
										</a>
									</div>
									<!-- Note: New place of `data-parent` -->
									<div id="collapse-C" class="collapse" data-parent="#content" role="tabpanel" aria-labelledby="heading-C">
										<div class="card-body">
											<div class="tab-header p-15 pl-2 pr-2 d-none d-md-block">
												<h5 class="section-title text-uppercase mt-0 mb-0">Checkboxes</h5>
											</div>
											<div class="tab-content">
												<div class="p-15">
													Checkboxes
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="card tab-pane fade" id="v-pills-radio" role="tabpanel" aria-labelledby="v-pills-radio-tab">
									<div class="card-header" role="tab" id="heading-D">
										<a class="nav-link text-white--5" data-toggle="collapse" href="#collapse-D" aria-expanded="false" aria-controls="collapse-D">
											Radio Buttons
										</a>
									</div>
									<!-- Note: New place of `data-parent` -->
									<div id="collapse-D" class="collapse" data-parent="#content" role="tabpanel" aria-labelledby="heading-D">
										<div class="card-body">
											<div class="tab-header p-15 pl-2 pr-2 d-none d-md-block">
												<h5 class="section-title text-uppercase mt-0 mb-0">Radio Buttons</h5>
											</div>
											<div class="tab-content">
												<div class="p-15">
													Radio Buttons
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="card tab-pane fade" id="v-pills-customcode" role="tabpanel" aria-labelledby="v-pills-customcodetab">
									<div class="card-header" role="tab" id="heading-E">
										<a class="nav-link text-white--5" data-toggle="collapse" href="#collapse-E" aria-expanded="false" aria-controls="collapse-E">
											Custom code
										</a>
									</div>
									<!-- Note: New place of `data-parent` -->
									<div id="collapse-E" class="collapse" data-parent="#content" role="tabpanel" aria-labelledby="heading-E">
										<div class="card-body">
											<div class="tab-header p-15 pl-2 pr-2 d-none d-md-block">
												<h5 class="section-title text-uppercase mt-0 mb-0">Custom code</h5>
											</div>
											<div class="tab-content">
												<div class="p-15">
													Custom code
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>
</div>


{{ end }}