{{ define "main" }}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-3 col-lg-2 p-0">
			<div class="sidear-container">
				<ul class="nav nav-tabs nav-divider-dark nav-fill-50" id="siderbar-tabs" role="tablist">
					<li class="nav-item">
						<a class="nav-link sticky-badge-wrap" id="web_api-tab" data-toggle="tab" href="#web_api" role="tab" aria-controls="home" aria-selected="true"><span class="sticky-badge-text">WEB API <span class="badge sticky-badge">12</span></span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link active sticky-badge" id="custom_api-tab" data-toggle="tab" href="#custom_api" role="tab" aria-controls="custom_api" aria-selected="false"><span class="sticky-badge-text">CUSTOM <span class="badge sticky-badge">12</span></span></a>
					</li>
				</ul>
				<div class="tab-content pt-1" id="siderbar-content">
					<div class="tab-pane fade" id="web_api" role="tabpanel" aria-labelledby="web_api-tab">
						<div class="pl-1 pr-1 pt-1 pb-2 pb-md-3">
							<button class="btn btn-small btn-outline-primary"><i class="icon icon-add"></i>Add New</button>
						</div>
					</div>
					<div class="tab-pane fade show active" id="custom_api" role="tabpanel" aria-labelledby="custom_api-tab">
						<div class="pl-1 pr-1 pt-1 pb-2 pb-md-3">
							<button class="btn btn-small btn-outline-primary"><i class="icon icon-add"></i>Add New</button>
						</div>
						<div class="nav-list-items">
							<ul class="nav-lists">
								<li class="list-item">
									<div class="list-item-wrap">
										<div class="list-item-logo">
											<img src="{{"images/logo_aws.svg" | relURL }}" alt>
										</div>
										<div class="list-item-label">
											<label class="request-label d-block mb-0">Swagger Pet Store 2</label>
											<label class="request-count d-block mb-0">3 requests</label>
										</div>
									</div>
									<!-- <ul>
										<li>
											<div class="list-item-wrap">
												<div class="list-item-logo">
													<img src="{{"images/logo_aws.svg" | relURL }}" alt>
												</div>
												<div class="list-item-label">
													<label class="request-label d-block mb-0">Pets</label>
												</div>
											</div>
											<ul>
												<li>
													<div class="list-item-wrap">
														<div class="list-item-logo">
															<label class="request-type d-block mb-0 post">POST</label>
														</div>
														<div class="list-item-label">
															<label class="request-label d-block mb-0">Create Pets</label>
														</div>
													</div>
												</li>
												<li>
													<div class="list-item-wrap">
														<div class="list-item-logo">
															<label class="request-type d-block mb-0 get">GET</label>
														</div>
														<div class="list-item-label">
															<label class="request-label d-block mb-0">List of Pets</label>
														</div>
													</div>
												</li>
											</ul>
										</li>
									</ul> -->
								</li>
								<li class="list-item">
									<div class="list-item-wrap">
										<div class="list-item-logo">
											<img src="{{"images/logo_aws.svg" | relURL }}" alt>
										</div>
										<div class="list-item-label">
											<label class="request-label d-block mb-0">Swagger Pet Store 2</label>
											<label class="request-count d-block mb-0">3 requests</label>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-9 col-lg-10 p-0">
			<div class="d-flex justify-content-between workspace-header-bar">
				<div class="workspace-bar-tabs">	
					<div class="side-menu-toggle icon-hamburger d-lg-none">
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="tab-list">
						<div class="tab-btn tab active">Custom Source <a href="#" class="tab-close"><i class="icon-close"></i></a></div>
					</div>
					<div class="tab-list-action">
						<button class="tab-btn tab-btn-add"><i class="icon-add"></i></button>
						<button class="tab-btn tab-btn-more"><i class="icon-dots"></i></button>
					</div>
				</div>
				<div>
					<div class="workspace-actiions d-flex align-items-center">
						<div class="workspace-environment mr-1">
							<select class="select2-outline-dark" data-placeholder="No Environment">
								<option></option>	
								<option>Environment 1</option>	
								<option>Environment 2</option>	
							</select>
						</div>
						<a href="#" target="_self" class="mr-1 text-decoration-none"><i class="icon-preview"></i></a>
						<a href="#" target="_self" class="text-decoration-none"><i class="icon-setting"></i></a>
					</div>
				</div>
			</div>
			
			<div class="workspace-tab-container">
				<div class="workspace-tab-content">
					<div class="workspace-tab-header">
						<div class="d-flex flex-wrap mt-1">
							<div class="col-12 col-lg-8">
								<h6 class="workspace-name text-white f-12 fw-900 mb-0">B086 Connection</h6>
								<h6 class="workspace-name text-white--5 f-12 fw-300">Custom SQL Source connection for Petzilla <button class="text-white-5 ml-1 btn-edit"><span class="icon-edit"></button> Edit</span></h6>
							</div>
							<div class="col-12 col-lg-4">
								<div class="workspace-info">
									<ul>
										<li><i class="icon-comment icon"></i> Comments <span>(3)</span></li>
										<li>Examples <span>(3)</span> <i class="icon-arrow-down-sm icon"></i></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="workspace-actions">
							<div class="btn-group btn-primary mr-1">
								<button type="button" class="btn">Save</button>
								<button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								</button>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</div>
							<div class="btn-group btn-outline-dark">
								<button type="button" class="btn">Preview</button>
								<button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								</button>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</div>
						</div>
						<ul class="nav nav-tabs mt-2" id="myTab" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="jdedwards-tab" data-toggle="tab" href="#jdedwards" role="tab" aria-controls="jdedwards" aria-selected="true">JD Edwards</a>
							</li>
							<button class="btn-icon ml-15"><i class="icon-add-circle mr-05"></i> Add New Field</button>
						</ul>

						<div class="tab-content pt-1" id="myTabContent">
							<div class="tab-pane fade show active" id="jdedwards" role="tabpanel" aria-labelledby="jdedwards-tab">
								<div class="element-fields-wrapper pb-2 pb-md-0">
									<div class="element-field-row d-flex flex-wrap">
										<div class="col-lg-9">
											<div class="row">
												<div class="col-lg-4">
													<h6 class="f-12 mb-05 fw-900 text-white">JD EDWARDS <button class="text-white-5 ml-1 btn-edit"><span class="icon-edit"></span> Edit</button></h6>
													<p class="f-12 fw-300 mb-0">Add description <button class="text-white-5 ml-1 btn-edit"><span class="icon-edit"></span> Edit</button></p>
												</div>
												<div class="col-lg-5">
													<div class="field-wrapper">
														<div class="form-field mb-0 mt-1">
															<input class="form-control form-control-dark" type="text" placeholder="Enter Help Text">                            
														</div> 
													</div> 
												</div>
												<div class="col-lg-3">
												</div>
											</div>
										</div>
										<div class="col-lg-3">
											<div class="element-field-setting text-md-right text-lg-left mt-15">
												<button class="btn-icon mr-1"><i class="icon-icon-filter"></i></button>
												<button class="btn-icon text-white">Advanced Settings <i class="icon-icon-dots-hr ml-05"></i></button>
											</div>
										</div>
									</div>
									<div class="element-field-row d-flex flex-wrap">
										<div class="col-lg-9">
											<div class="row">
												<div class="col-lg-4">
													<h6 class="f-12 mb-05 fw-900 text-white">JAdd Text Field Name <button class="text-white-5 ml-1 btn-edit"><span class="icon-edit"></span> Edit</button></h6>
													<p class="f-12 fw-300 mb-0">Add description <button class="text-white-5 ml-1 btn-edit"><span class="icon-edit"></span> Edit</button></p>
												</div>
												<div class="col-lg-5">
													<div class="field-wrapper">
														<div class="form-field mb-0 mt-1">
															<input class="form-control form-control-dark" type="text" placeholder="Enter Help Text">                            
														</div>
													</div>
												</div>
												<div class="col-lg-3">
													<div class="custom-control custom-checkbox custom-checkbox-dark mt-15">
														<input type="checkbox" class="custom-control-input" id="mandatory1">
														<label class="custom-control-label font-light" for="mandatory1">Mark field as mandatory</label>
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-3">
											<div class="element-field-setting text-md-right text-lg-left mt-15">
												<button class="btn-icon mr-1"><i class="icon-icon-filter"></i></button>
												<button class="btn-icon text-white">Advanced Settings <i class="icon-icon-dots-hr ml-05"></i></button>
											</div>
										</div>
									</div>
									<div class="element-field-row d-flex flex-wrap">
										<div class="col-lg-9">
											<div class="row">
												<div class="col-lg-4">
													<h6 class="f-12 mb-05 fw-900 text-white">Add Radio Field Name <button class="text-white-5 ml-1 btn-edit"><span class="icon-edit"></span> Edit</button></h6>
													<p class="f-12 fw-300 mb-0">Add description <button class="text-white-5 ml-1 btn-edit"><span class="icon-edit"></span> Edit</button></p>
												</div>
												<div class="col-lg-5">
													<div class="field-wrapper field-type-ratio field-repeat">
														<div class="form-field fi mb-0 mt-1">
															<input class="form-control form-control-dark" type="text" placeholder="Enter Value">
															<button class="btn-icon btn-field-remove"><i class="icon-close"></i></button>                          
														</div>
														<div class="form-field fi mb-0 mt-1">
															<input class="form-control form-control-dark" type="text" placeholder="Enter Value">
															<button class="btn-icon btn-field-remove"><i class="icon-close"></i></button>                          
														</div>
														<div class="form-field fi mb-0 mt-1">
															<input class="form-control form-control-dark" type="text" placeholder="Enter Value">
															<button class="btn-icon btn-field-remove"><i class="icon-close"></i></button>                          
														</div>
														<div class="field-repeat-btn-wrap">
															<button class="btn-icon"><i class="icon-add-circle mr-05"></i> Add Another</button>
														</div>
													</div>
												</div>
												<div class="col-lg-3">											
													<div class="custom-control custom-checkbox custom-checkbox-dark mt-15">
														<input type="checkbox" class="custom-control-input" id="mandatory2">
														<label class="custom-control-label font-light" for="mandatory2">Mark field as mandatory</label>
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-3">
											<div class="element-field-setting text-md-right text-lg-left mt-15">
												<button class="btn-icon mr-1"><i class="icon-icon-filter"></i></button>
												<button class="btn-icon text-white">Advanced Settings <i class="icon-icon-dots-hr ml-05"></i></button>
											</div>
										</div>
									</div>
									<div class="col-12 mt-1">
										<button class="btn-icon"><i class="icon-add-circle mr-05"></i> Add New Field</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

{{ end }}