{{ define "main" }}
<div class="">
    <div class="container-fluid">
        <div class="custom-container">
            <div class="breadcrumb-wrap d-flex align-items-center pt-3 pb-7">
                <img src="/binary-flux/images/arrow-left.svg" alt="Arrow left" class="d-inline-block"> <p class="m-0 ml-2 d-inline-block text-uppercase font-weight-bold text-white--05">All Data Sources</p>
            </div>
            <div class="">
                <h5 class="section-title text-uppercase mt-0 mb-05">ADD INPUTS</h5>
                <p class="mb-0 mb-15">Select a data source to integrate with Alooma:</p>
            </div>
            <div class="item-wrapper mb-4">
                <div class="item">
                    <div class="item-header d-flex align-items-center justify-content-between mb-4">
                        <div class="item-logo">
                            <img src="/binary-flux/images/forcepoint-logo.svg" alt="Force Point" class="d-inline-block"> <img src="/binary-flux/images/forcepoint-text.svg" alt="Force Point" class="d-inline-block">
                        </div>
                        <div class="item-edit">
                            <button class="text-white-5 btn-edit"><span class="icon-edit"></span> Edit</button>
                            <button class="text-white-5 ml-2 btn-edit btn-edit__test"> <img src="/binary-flux/images/ic_test.svg" alt="" class="d-inline-block"> Test</button>
                        </div>
                    </div>
                    <div class="item-content">
                        <h5 class="section-title m-0 text-light-blue font-weight-bold">Force Point</h5>
                        <p class="text-white-5 m-0 f-10">Import data from an Azure Blob Storage, or from Microsoft Application Insight</p>
                    </div>
                </div>
                <div class="item">
                    <div class="item-header d-flex align-items-center justify-content-between mb-4">
                        <div class="item-logo">
                            <img src="/binary-flux/images/symantec-logo.svg" alt="Symantec" class="d-inline-block"> <img src="/binary-flux/images/symantec.svg" alt="Symantec" class="d-inline-block">
                        </div>
                        <div class="item-edit">
                            <button class="text-white-5 btn-edit"><span class="icon-edit"></span> Edit</button>
                            <button class="text-white-5 ml-2 btn-edit btn-edit__test"> <img src="/binary-flux/images/ic_test.svg" alt="" class="d-inline-block"> Test</button>
                        </div>
                    </div>
                    <div class="item-content">
                        <h5 class="section-title m-0 text-light-blue font-weight-bold">Symantec</h5>
                        <p class="text-white-5 m-0 f-10">Import data from an Azure Blob Storage, or from Microsoft Application Insight</p>
                    </div>
                </div>
                <div class="item">
                    <div class="item-header d-flex align-items-center justify-content-between mb-4">
                        <div class="item-logo">
                            <img src="/binary-flux/images/sophos-text.svg" alt="Sophos" class="d-inline-block">
                        </div>
                        <div class="item-edit">
                            <button class="text-white-5 btn-edit"><span class="icon-edit"></span> Edit</button>
                            <button class="text-white-5 ml-2 btn-edit btn-edit__test"> <img src="/binary-flux/images/ic_test.svg" alt="" class="d-inline-block"> Test</button>
                        </div>
                    </div>
                    <div class="item-content">
                        <h5 class="section-title m-0 text-light-blue font-weight-bold">Sophos</h5>
                        <p class="text-white-5 m-0 f-10">Import data from an Azure Blob Storage, or from Microsoft Application Insight</p>
                    </div>
                </div>
                <div class="item">
                    <div class="item-header d-flex align-items-center justify-content-between mb-4">
                        <div class="item-logo">
                            <img src="/binary-flux/images/paloalto-text.svg" alt="Paloalto" class="d-inline-block">
                        </div>
                        <div class="item-edit">
                            <button class="text-white-5 btn-edit"><span class="icon-edit"></span> Edit</button>
                            <button class="text-white-5 ml-2 btn-edit btn-edit__test"> <img src="/binary-flux/images/ic_test.svg" alt="" class="d-inline-block"> Test</button>
                        </div>
                    </div>
                    <div class="item-content">
                        <h5 class="section-title m-0 text-light-blue font-weight-bold">Paloalto</h5>
                        <p class="text-white-5 m-0 f-10">Import data from an Azure Blob Storage, or from Microsoft Application Insight</p>
                    </div>
                </div>
                <div class="item">
                    <div class="item-header d-flex align-items-center justify-content-between mb-4">
                        <div class="item-logo">
                            <img src="/binary-flux/images/fireeye.svg" alt="Fire Eye" class="d-inline-block">
                        </div>
                        <div class="item-edit">
                            <button class="text-white-5 btn-edit"><span class="icon-edit"></span> Edit</button>
                            <button class="text-white-5 ml-2 btn-edit btn-edit__test"> <img src="/binary-flux/images/ic_test.svg" alt="" class="d-inline-block"> Test</button>
                        </div>
                    </div>
                    <div class="item-content">
                        <h5 class="section-title m-0 text-light-blue font-weight-bold">Fire Eye</h5>
                        <p class="text-white-5 m-0 f-10">Import data from an Azure Blob Storage, or from Microsoft Application Insight</p>
                    </div>
                </div>
                <div class="item">
                    <div class="item-header d-flex align-items-center justify-content-between mb-4">
                        <div class="item-logo">
                            <img src="/binary-flux/images/microsoft-logo.svg" alt="Microsoft" class="d-inline-block">
                            <img src="/binary-flux/images/microsoft-text.svg" alt="Microsoft" class="d-inline-block">
                        </div>
                        <div class="item-edit">
                            <button class="text-white-5 btn-edit"><span class="icon-edit"></span> Edit</button>
                            <button class="text-white-5 ml-2 btn-edit btn-edit__test"> <img src="/binary-flux/images/ic_test.svg" alt="" class="d-inline-block"> Test</button>
                        </div>
                    </div>
                    <div class="item-content">
                        <h5 class="section-title m-0 text-light-blue font-weight-bold">Microsoft</h5>
                        <p class="text-white-5 m-0 f-10">Import data from an Azure Blob Storage, or from Microsoft Application Insight</p>
                    </div>
                </div>
                <div class="item">
                    <div class="item-header d-flex align-items-center justify-content-between mb-4">
                        <div class="item-logo">
                         <!--    <img src="/binary-flux/images/carbonblack.svg" alt="" class="d-inline-block"> <img src="/binary-flux/images/forcepoint-text.svg" alt="" class="d-inline-block"> -->
                        </div>
                        <div class="item-edit">
                            <button class="text-white-5 btn-edit"><span class="icon-edit"></span> Edit</button>
                            <button class="text-white-5 ml-2 btn-edit btn-edit__test"> <img src="/binary-flux/images/ic_test.svg" alt="" class="d-inline-block"> Test</button>
                        </div>
                    </div>
                    <div class="item-content">
                        <h5 class="section-title m-0 text-light-blue font-weight-bold">Win Events</h5>
                        <p class="text-white-5 m-0 f-10">Import data from an Azure Blob Storage, or from Microsoft Application Insightt</p>
                    </div>
                </div>
                <div class="item">
                    <div class="item-header d-flex align-items-center justify-content-between mb-4">
                        <div class="item-logo">
                            <img src="/binary-flux/images/carbonblack.svg" alt="Carbon Black" class="d-inline-block">
                        </div>
                        <div class="item-edit">
                            <button class="text-white-5 btn-edit"><span class="icon-edit"></span> Edit</button>
                            <button class="text-white-5 ml-2 btn-edit btn-edit__test"> <img src="/binary-flux/images/ic_test.svg" alt="" class="d-inline-block"> Test</button>
                        </div>
                    </div>
                    <div class="item-content">
                        <h5 class="section-title m-0 text-light-blue font-weight-bold">Carbon Black</h5>
                        <p class="text-white-5 m-0 f-10">Import data from an Azure Blob Storage, or from Microsoft Application Insight</p>
                    </div>
                </div>
                <div class="item">
                    <div class="item-header d-flex align-items-center justify-content-between mb-4">
                        <div class="item-logo">
                            <img src="/binary-flux/images/radar-text.svg" alt="Radar" class="d-inline-block">
                        </div>
                        <div class="item-edit">
                            <button class="text-white-5 btn-edit"><span class="icon-edit"></span> Edit</button>
                            <button class="text-white-5 ml-2 btn-edit btn-edit__test"> <img src="/binary-flux/images/ic_test.svg" alt="" class="d-inline-block"> Test</button>
                        </div>
                    </div>
                    <div class="item-content">
                        <h5 class="section-title m-0 text-light-blue font-weight-bold">Qradar</h5>
                        <p class="text-white-5 m-0 f-10">Import data from an Azure Blob Storage, or from Microsoft Application Insight</p>
                    </div>
                </div>
                <div class="item">
                    <div class="item-header d-flex align-items-center justify-content-between mb-4">
                        <div class="item-logo">
                            <img src="/binary-flux/images/splunk-vector-logo.svg" alt="Splunk" class="d-inline-block">
                        </div>
                        <div class="item-edit">
                            <button class="text-white-5 btn-edit"><span class="icon-edit"></span> Edit</button>
                            <button class="text-white-5 ml-2 btn-edit btn-edit__test"> <img src="/binary-flux/images/ic_test.svg" alt="" class="d-inline-block"> Test</button>
                        </div>
                    </div>
                    <div class="item-content">
                        <h5 class="section-title m-0 text-light-blue font-weight-bold">Splunk</h5>
                        <p class="text-white-5 m-0 f-10">Import data from an Azure Blob Storage, or from Microsoft Application Insight</p>
                    </div>
                </div>
            </div>
            <div class="pagination mb-10">
                <ul class="nav">
                    <li><a href="#" class="active">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#" class="last"><img src="/binary-flux/images/arrow-pagination.svg" alt="" class="d-inline-block"></a></li>
                    <li><a href="#" class="last"><img src="/binary-flux/images/arrow-pagination.svg" alt="" class="d-inline-block"><img src="/binary-flux/images/arrow-pagination.svg" alt="" class="d-inline-block"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{{ end }}