{{ define "main" }}
<header class="header-section">
    <div class="d-flex justify-content-between align-items-center">
        <div class="logo-wrap">         
            <a href="#">
                <img src="{{"images/logo.svg" | relURL }}" alt="logo" class="logo">
            </a>
        </div>
        <div class="navbar-right dropdown">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="header-tab" data-toggle="tab" href="#header" role="tab" aria-controls="header" aria-selected="true">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="jd_edwards-tab" data-toggle="tab" href="#jd_edwards" role="tab" aria-controls="jd_edwards" aria-selected="false">Organisation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="documentation-tab" data-toggle="tab" href="#documentation" role="tab" aria-controls="documentation" aria-selected="false">Settings</a>
                </li>
            </ul>
        </div>
        <div class="user">
            <span class="text-white font-weight-bold">John Smith<img src="{{"images/notifications-outline.svg" | relURL }}" width="20" height="20" alt="notification" class="notification"></span>
        </div>
    </div>
</header>

<div class="container-fluid p-0">
    <div class="custom-dashboard position-relative">
        <div class="sidebar p-0">
            <div class="sidear-container mobile-slide-in px-2 py-4">
               <div class="d-flex align-items-center justify-content-between menu-item text-white">New Dashbaord <img src="{{"images/cancel.svg" | relURL }}" alt="close" class="close" width="12" height="12"></div>
            </div>
        </div>
        <div class="content">
            <div class="header-section">
                <img src="{{"images/ic_cubes.svg" | relURL }}" alt="enter query" class="enter">
                <h3 class="title font-weight-light">Enter a query</h3>
                <p class="sub-title">Stat typing your query and hit the go button to configure your widget.</p>
                <textarea id="query-field" name="query-field" rows="3" cols="50" class="query-field scroll-bar">
FIND COUNT(employeeid) ,eventtime IN events WHERE sourcename  = 'sharepoint' && filesize > 100 && extension MATCHES('.pdf','.ppt') BUCKET-ONeventtime SORT-ON eventtime DESC TRANSFORM-TO LINECHART
                </textarea>
                <div class="autosuggest-dropdown">
                    <div class="option">
                        <span class="value">Find Count<strong>(employeeid)*</strong></span>
                        <span class="label">Matching Search</span>
                    </div>
                    <div class="option">
                        <span class="value">Find Count<strong>(employeeid)*</strong> <span style="color:#F7594B;">OR</span> FIND COUNT<strong>(employeeid=909)</strong></span>
                        <span class="label">Matching Search</span>
                    </div>
                    <div class="option">
                        <span class="value">Find Count<strong> 670</strong></span>
                        <span class="label">Matching Search</span>
                    </div>
                </div>
                <button class="btn btn-lg btn-primary btn-ouline-light-blue mt-2">Generate Widget</button>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="../../plugins/lib/codemirror.css">
<script src="../../plugins/lib/codemirror.js"></script>
<script src="../../plugins/mode/sql/sql.js"></script>
<script src="../../plugins/addon/hint/show-hint.js"></script>
<script src="../../plugins/addon/hint/sql-hint.js"></script>
<link rel="stylesheet" type="text/css" href="../../plugins/addon/hint/show-hint.css">
<script type="text/javascript">
    document.body.classList.add("blue_bg");
    var editableCodeMirror = CodeMirror.fromTextArea(document.getElementById('query-field'), {
    mode: "text/x-mysql",
    lineNumbers: false,
    lineWrapping: true,
    indentWithTabs: true,
    smartIndent: true,
    autofocus: true,
    extraKeys: {"Ctrl-Space": "autocomplete"}
});
editableCodeMirror.on("keyup", function (cm, event) {
var inp = String.fromCharCode(event.keyCode);
if (/[a-zA-Z]/.test(inp) && !cm.state.completionActive && event.keyCode != 13) {     
        cm.showHint({completeSingle: false});
    }
});
</script>
{{ end }}