{{ define "main" }}

    <div id="content">
        <div class="">
            <header class="header-section pb-0">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="wrap d-flex">
                        <div class="logo-wrap">
                            <a href="#">
                                <img src="/binary-flux/images/logo.svg" alt="logo" class="logo">
                            </a>
                        </div>
                        <ul class="nav nav-tabs no-border pl-md-3 pr-md-3 blue-bg" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link font-weight-bold pt-1 active" id="configure-tab" data-toggle="tab"
                                    href="#configure" role="tab" aria-controls="configure"
                                    aria-selected="true">Configure</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link font-weight-bold pt-1" id="getstarted-tab" data-toggle="tab"
                                    href="#dashboards" role="tab" aria-controls="dashboards"
                                    aria-selected="true">Dashboards</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link font-weight-bold pt-1" id="organisation-tab" data-toggle="tab"
                                    href="#organisation" role="tab" aria-controls="organisation"
                                    aria-selected="true">Organisation</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link font-weight-bold pt-1" id="settings-tab" data-toggle="tab"
                                    href="#settings" role="tab" aria-controls="settings"
                                    aria-selected="true">Settings</a>
                            </li>
                        </ul>
                    </div>
                    <div class="user">
                        <span class="text-white font-weight-bold">John Smith<img
                                src="/binary-flux/images/notifications-outline.svg" width="20" height="20"
                                alt="notification" class="notification"></span>
                    </div>
                </div>
            </header>
            <div class="container-fluid">
                <div class="btn-group btn-outline-dark-blue mt-5">
                    <button type="button" data-toggle="modal" data-target="#schedulemodal"
                        class="btn btn-115 text-center d-flex align-items-center justify-content-center btn-text">
                        Search Query
                    </button>
                </div>
                <div id="schedulemodal" class="modal fade savedquery px-8" role="dialog">
                    <div class="modal-dialog mw-100">


                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="left">
                                    <h4 class="modal-title">EASY SEARCH</h4>


                                </div>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <div class="modal-body">
                                <form>
                                    <div class="form-group pt-4 px-2 easy-search">
                                        <div class="easy-search__log fb-33">
                                            <label for="dummy1" class="col-form-label">Search Log where</label>
                                            <div class="drpdwn-dtsrc" id="schedle-mod-drps">
                                                <div class="drop-display">
                                                    <div class="left">Log Message</div>
                                                    <div class="right">
                                                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                                    </div>

                                                </div>
                                                <ul class="drop-list">
                                                    <li>
                                                        <div class="left">
                                                            Last 1 month </div>
                                                    </li>
                                                    <li>
                                                        <div class="left">
                                                            Last 1 month </div>
                                                    </li>
                                                    <li>
                                                        <div class="left">
                                                            Last 1 month </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        
                                        <div class="easy-search__log fb-28">
                                            <label for="log2" class="col-form-label">Contains</label>
                                            <input placeholder="Log message" type="search" id="log2" class="form-control contein">
                                        </div>                                      

                                        <div class="easy-search__log fb-22">
                                            <label for="name" class="col-form-label">In</label>
                                            <div class="drpdwn-dtsrc" id="schedle-mod-drps">
                                                <div class="drop-display">
                                                    <div class="left">Last 1 month</div>
                                                    <div class="right">
                                                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                                    </div>

                                                </div>
                                                <ul class="drop-list">
                                                    <li>
                                                        <div class="left">
                                                            Select 1 </div>
                                                    </li>
                                                    <li>
                                                        <div class="left">
                                                            Select 2 </div>
                                                    </li>
                                                    <li>
                                                        <div class="left">
                                                            Select 3 </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>                                       
                                            
                                        <div class="easy-search__log data-feld" id="addDataField">
                                            <a href="#!">
                                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                            Add Data Feild</a>
                                        </div>
                                        <!-- <img src="/binary-flux/images/add.svg" alt="address"> -->
                                        
                                    </div>

                                    <div class="easy-search__selector">
                                        <div class="srch-selector__ocom">
                                            <div class="srch-selector__ocom__drop">
                                                <div class="drpdwn-dtsrc" id="schedle-mod-drps">
                                                    <div class="drop-display">
                                                        <div class="left">All of the following</div>
                                                        <div class="right">
                                                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                                        </div>
    
                                                    </div>
                                                    <ul class="drop-list">
                                                        <li>
                                                            <div class="left">
                                                                Select 1 </div>
                                                        </li>
                                                        <li>
                                                            <div class="left">
                                                                Select 2 </div>
                                                        </li>
                                                        <li>
                                                            <div class="left">
                                                                Select 3 </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="drpdwn-dtsrc" id="schedle-mod-drps">
                                                    <div class="drop-display">
                                                        <div class="left">Is</div>
                                                        <div class="right">
                                                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                                        </div>
    
                                                    </div>
                                                    <ul class="drop-list">
                                                        <li>
                                                            <div class="left">
                                                                Select 1 </div>
                                                        </li>
                                                        <li>
                                                            <div class="left">
                                                                Select 2 </div>
                                                        </li>
                                                        <li>
                                                            <div class="left">
                                                                Select 3 </div>
                                                        </li>
                                                    </ul>
                                                </div>

                                            </div>

                                            <div class="srch-selector__ocom__feat">
                                                <div class="ocom__feat__optn">
                                                    <div class="optn__left">
                                                        <div class="drpdwn-dtsrc" id="schedle-mod-drp">
                                                            <div class="drop-display">
                                                                <div class="left">All of the following</div>
                                                                <div class="right">
                                                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                                                </div>
            
                                                            </div>
                                                            <ul class="drop-list">
                                                                <li>
                                                                    <div class="left">
                                                                        Select 1 </div>
                                                                </li>
                                                                <li>
                                                                    <div class="left">
                                                                        Select 2 </div>
                                                                </li>
                                                                <li>
                                                                    <div class="left">
                                                                        Select 3 </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="drpdwn-dtsrc" id="schedle-mod-drps">
                                                            <div class="drop-display">
                                                                <div class="left">Is</div>
                                                                <div class="right">
                                                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                                                </div>
            
                                                            </div>
                                                            <ul class="drop-list">
                                                                <li>
                                                                    <div class="left">
                                                                        Select 1 </div>
                                                                </li>
                                                                <li>
                                                                    <div class="left">
                                                                        Select 2 </div>
                                                                </li>
                                                                <li>
                                                                    <div class="left">
                                                                        Select 3 </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="drpdwn-dtsrc drpdwn-dtsrcs" id="schedle-mod-drps">
                                                            <div class="drop-display">
                                                                <div class="left">123. 121.111</div>
                                                                <div class="right">
                                                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                                                </div>
            
                                                            </div>
                                                            <ul class="drop-list">
                                                                <li>
                                                                    <div class="left">
                                                                        Select 1 </div>
                                                                </li>
                                                                <li>
                                                                    <div class="left">
                                                                        Select 2 </div>
                                                                </li>
                                                                <li>
                                                                    <div class="left">
                                                                        Select 3 </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <a href="#!" id=""><i class="fa fa-times mr-30" aria-hidden="true"></i></a>
                                                        <a href="#!" id=""><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                                                    </div>

                                                    <div class="optn__right">
                                                        <a href="#!"><i class="fa fa-times" aria-hidden="true"></i></a>
                                                    </div>
                                                    
                                                    
                                                </div>
                                            </div>

                                        </div>

                                        <!-- Add Group & Add Filter Button -->
                                        <div class="srch-selector__btnhold">
                                            <button class="btn-primery" id="addgroup">Add Group</button>
                                            <button class="btn-primery" id="addfilter">Add Filter</button>
                                        </div>

                                    </div>
                                    
                                </form>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default modal-ok" data-dismiss="modal">OK</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer fixed-bottom">
        <div class="footer-row">
            <div class="footer-col d-lg-flex align-items-center">
                <div class="footer-logo pr-2  mb-2 mb-lg-0">
                    <img src="/binary-flux/images/footer_logo.png" alt="logo">
                </div>
                <div class="footer-address pr-2 text-blue position-relative pl-2  mb-2 mb-lg-0">
                    <div class="footer-address-icon p-abs">
                        <img src="/binary-flux/images/address_icon.svg" alt="address">
                    </div>
                    <div class="footer-address-text">
                        3 Pemimpin Drive, 4-01, Industrial Building, Singapore, 576147
                    </div>
                </div>
                <div class="footer-phone position-relative pl-2 mb-2 mb-lg-0">
                    <div class="footer-phone-icon p-abs">
                        <img src="/binary-flux/images/phone_icon.svg" alt="phone">
                    </div>
                    <div class="footer-phone-text">
                        <a href="tel:+12023908669">+1(202)390-8669</a>
                    </div>
                </div>
                <div class="footer-email-text pl-1 mb-2 mb-lg-0">
                    <a href="https://www.binaryflux.xyz" target="_blank"><span class="">•</span>www.binaryflux.xyz</a>
                </div>
            </div>
            <div class="footer-col">
                <div class="footer-copyright text-blue">
                    © Copyright Binaryflux
                </div>
            </div>
        </div>
    </footer>
    <script>

        var dropdisplay = document.getElementsByClassName("drop-display");

        function dropshow() {
            if (this.classList.contains("shown")) {
                this.classList.remove("shown");
                var closest = this.parentNode.querySelectorAll('.drop-list');
                for (var i = 0; i < closest.length; i++) {
                    closest[i].classList.remove("show");
                }
            }
            else {
                this.classList.add("shown");
                var closest = this.parentNode.querySelectorAll('.drop-list');
                for (var i = 0; i < closest.length; i++) {
                    closest[i].classList.add("show");
                }
            }
        }

        for (var i = 0; i < dropdisplay.length; i++) {
            dropdisplay[i].addEventListener('click', dropshow);

        }





        //Dropdown Closure on Options
        var droplists = document.querySelectorAll(".drpdwn-dtsrc .drop-list li");

        for (var i=0; i < droplists.length; i++) {
            droplists[i].addEventListener("click", closelist);       
        }

        function closelist () {
            this.parentNode.classList.remove("show");
            var dropdisp = this.parentNode.parentNode.getElementsByClassName("drop-display");
            for (var i=0; i < dropdisp.length; i++) {
                dropdisp[i].classList.remove("shown");       
            }
            console.log("hii");
        }
        //Dropdown Closure on Options

    </script>

    <!-- Easy search JS -->
    <script>
        
        
        // Showing the easy-search box on add data button click

        var adddatafld = document.getElementById("addDataField");

        adddatafld.addEventListener("click", showselector);

        function showselector () {
            var easyselect = document.getElementsByClassName("easy-search__selector");

            for (var i=0; i < easyselect.length; i++) {
                easyselect[i].classList.add("active");        
            }
        }

        // Showing the easy-search box on add data button click

        // Adding the code-block on add filter button click
        var addfilter = document.getElementById("addfilter");

        var ocomfeature = document.getElementsByClassName("srch-selector__ocom__feat");
        var ocomoptn = document.getElementsByClassName("ocom__feat__optn");

        addfilter.addEventListener("click", insertfield);
        
        function insertfield() {
            const div2 = document.createElement('div');

            div2.className = 'ocom__feat__optn';

            div2.innerHTML = `
            <div class="optn__left">
                                                        <div class="drpdwn-dtsrc" id="schedle-mod-drp">
                                                            <div class="drop-display">
                                                                <div class="left">Last 1 month</div>
                                                                <div class="right">
                                                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                                                </div>
            
                                                            </div>
                                                            <ul class="drop-list">
                                                                <li>
                                                                    <div class="left">
                                                                        Select 1 </div>
                                                                </li>
                                                                <li>
                                                                    <div class="left">
                                                                        Select 2 </div>
                                                                </li>
                                                                <li>
                                                                    <div class="left">
                                                                        Select 3 </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="drpdwn-dtsrc" id="schedle-mod-drps">
                                                            <div class="drop-display">
                                                                <div class="left">Last 1 month</div>
                                                                <div class="right">
                                                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                                                </div>
            
                                                            </div>
                                                            <ul class="drop-list">
                                                                <li>
                                                                    <div class="left">
                                                                        Select 1 </div>
                                                                </li>
                                                                <li>
                                                                    <div class="left">
                                                                        Select 2 </div>
                                                                </li>
                                                                <li>
                                                                    <div class="left">
                                                                        Select 3 </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="drpdwn-dtsrc" id="schedle-mod-drps">
                                                            <div class="drop-display">
                                                                <div class="left">Last 1 month</div>
                                                                <div class="right">
                                                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                                                </div>
            
                                                            </div>
                                                            <ul class="drop-list">
                                                                <li>
                                                                    <div class="left">
                                                                        Select 1 </div>
                                                                </li>
                                                                <li>
                                                                    <div class="left">
                                                                        Select 2 </div>
                                                                </li>
                                                                <li>
                                                                    <div class="left">
                                                                        Select 3 </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <a href="#!" id=""><i class="fa fa-times mr-30" aria-hidden="true"></i></a>
                                                        <a href="#!" id=""><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                                                    </div>

                                                    <div class="optn__right">
                                                        <a href="#!"><i class="fa fa-times" aria-hidden="true"></i></a>
                                                    </div>
                `;

            for (var i=0; i < ocomfeature.length; i++) {
                ocomfeature[i].appendChild(div2);              
                
            }
        }





    </script>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.min.js"></script>
    <script src="/binary-flux/js/app.js"></script>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.min.js"></script>
    <script src="/binary-flux/js/app.js"></script>
    
    
{{- partial "custom-footer.html" . -}}
{{ end }}