{{ define "main" }}

<div class="container-fluid p-0">
	<div class="end-user-swagger position-relative">
		<div class="sidebar p-0 sidebar-320">
			<div class="sidear-container mobile-slide-in px-0">
                <button type="button" class="close d-block d-md-none">
                    <i class="icon-close"></i>
                </button>
                <div class="data-wrap d-flex align-items-center justify-content-between  pl-3 pr-15 pt-1 pb-1">
                    <h5 class="section-title text-uppercase m-0 f-12">Data sources</h5>
                    <button class="btn btn-add-icon text-blue test-btn f-12"><i class="icon-add mr-1 f-9"></i>Add New </button>
				</div>    
				<div class="pr-2 pb-1 pl-3 pt-0 d-flex align-items-center justify-content-between">
					<div class="search-wrap">
						<div class="position-relative">
							<img src="{{"images/ic_search.svg" | relURL }}" class="pa-lc" width="17" height="17" />
							<input class="form-control input-search input-small pl-4 bg-transparent" type="search" q="googlesearch" placeholder="Search">
						</div>
					</div> 
					<div class="sort">
						<button class="reset"><img src="{{"images/ic_filter_list.svg" | relURL }}" class="mx-1"/></button>
						<button class="reset"><img src="{{"images/ic_sort.svg" | relURL }}" class="mx-1"/></button>
					</div>
				</div> 
				<div class="nav-list-items">
                    <ul class="nav-lists no-arrow">
                        <li class="list-item">
                            <a href="#" class="list-item-a">
                                <div class="list-item-wrap">
                                    <div class="list-item-logo">
                                        <img src="/binary-flux/images/logo_aws.svg" alt="">
                                    </div>
                                    <div class="list-item-label w-100">
                                        <label class="request-label d-block mb-0">Swagger Australia</label>
                                        <label class="f-8 d-block mb-0">AWS</label>
                                        <div class="d-flex align-items-start three-col f-8 mt-1">
                                            <div class="time-col swagger-item">
                                                <img src="/binary-flux/images/schedule.svg" width="12" height="12" alt="schedule">
                                                <span class="text-white--5">12:42 am</span>
                                            </div>
                                            <div class="code-col swagger-item">
                                                <img src="/binary-flux/images/code.svg" width="12" height="8" alt="code">
                                                <span class="text-white--5">2.5 m</span>
                                            </div>
                                            <div class="fail-col swagger-item">
                                                <img src="/binary-flux/images/ic-error.svg" width="12" height="12" alt="stop"> 
                                                <span class="text-white--5"> 75.42 k</span>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-start three-col">
                                            <div class="start-col-active swagger-item">
                                                <img src="/binary-flux/images/start-arrow.svg" width="8" height="9" alt="schedule">
                                                <span class="text-blue--5 stop">Start</span>
                                            </div>
                                            <div class="stop-col swagger-item">
                                                <img src="/binary-flux/images/stop.svg" width="9" height="10" alt="stop">                                                 
                                                <span class="text-white--5">Stop</span>
                                            </div>
                                            <div class="fail-col swagger-item">
                                                <img src="/binary-flux/images/schedule.svg" width="12" height="12" alt="schedule">                                                
                                                <span class="text-white--5 "> Schedule </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="list-item">
                            <a href="#" class="list-item-a active">
                                <div class="list-item-wrap">
                                    <div class="list-item-logo">
                                        <img src="/binary-flux/images/logo_aws.svg" alt="">
                                    </div>
                                    <div class="list-item-label w-100">
                                        <label class="request-label d-block mb-0">Swagger Australia</label>
                                        <label class="f-8 d-block mb-0">AWS</label>
                                        <div class="d-flex align-items-start three-col f-8 mt-1">
                                            <div class="time-col swagger-item">
                                                <img src="/binary-flux/images/schedule.svg" width="12" height="12" alt="schedule">
                                                <span class="text-white--5">12:42 am</span>
                                            </div>
                                            <div class="code-col swagger-item">
                                                <img src="/binary-flux/images/code.svg" width="12" height="8" alt="code">
                                                <span class="text-white--5">2.5 m</span>
                                            </div>
                                            <div class="fail-col swagger-item">
                                                <img src="/binary-flux/images/ic-error.svg" width="12" height="12" alt="stop"> 
                                                <span class="text-white--5"> 75.42 k</span>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-start three-col">
                                            <div class="start-col swagger-item">
                                                <span class="text-white--5">Start</span>
                                            </div>
                                            <div class="stop-col swagger-item">
                                                <img src="/binary-flux/images/stop.svg" width="9" height="10" alt="stop">                                                 
                                                <span class="text-white--5">Stop</span>
                                            </div>
                                            <div class="fail-col swagger-item">
                                                <img src="/binary-flux/images/schedule.svg" width="12" height="12" alt="schedule">                                                
                                                <span class="text-white--5 "> Schedule </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
						</li>
						<li class="list-item">
                            <a href="#" class="list-item-a">
                                <div class="list-item-wrap">
                                    <div class="list-item-logo">
                                        <img src="/binary-flux/images/logo_aws.svg" alt="">
                                    </div>
                                    <div class="list-item-label w-100">
                                        <label class="request-label d-block mb-0">Swagger Australia</label>
                                        <label class="f-8 d-block mb-0">AWS</label>
                                        <div class="d-flex align-items-start three-col f-8 mt-1">
                                            <div class="time-col swagger-item">
                                                <img src="/binary-flux/images/schedule.svg" width="12" height="12" alt="schedule">
                                                <span class="text-white--5">12:42 am</span>
                                            </div>
                                            <div class="code-col swagger-item">
                                                <img src="/binary-flux/images/code.svg" width="12" height="8" alt="code">
                                                <span class="text-white--5">2.5 m</span>
                                            </div>
                                            <div class="fail-col swagger-item">
                                                <img src="/binary-flux/images/ic-error.svg" width="12" height="12" alt="stop"> 
                                                <span class="text-white--5"> 75.42 k</span>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-start three-col">
                                            <div class="start-col swagger-item">
                                                <span class="text-white--5">Start</span>
                                            </div>
                                            <div class="stop-col swagger-item">
                                                <img src="/binary-flux/images/stop.svg" width="9" height="10" alt="stop">                                                 
                                                <span class="text-white--5">Stop</span>
                                            </div>
                                            <div class="fail-col swagger-item">
                                                <img src="/binary-flux/images/schedule.svg" width="12" height="12" alt="schedule">                                                
                                                <span class="text-white--5 "> Schedule </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
						</li>
						<li class="list-item">
                            <a href="#" class="list-item-a">
                                <div class="list-item-wrap">
                                    <div class="list-item-logo">
                                        <img src="/binary-flux/images/logo_aws.svg" alt="">
                                    </div>
                                    <div class="list-item-label w-100">
                                        <label class="request-label d-block mb-0">Swagger Australia</label>
                                        <label class="f-8 d-block mb-0">AWS</label>
                                        <div class="d-flex align-items-start three-col f-8 mt-1">
                                            <div class="time-col swagger-item">
                                                <img src="/binary-flux/images/schedule.svg" width="12" height="12" alt="schedule">
                                                <span class="text-white--5">12:42 am</span>
                                            </div>
                                            <div class="code-col swagger-item">
                                                <img src="/binary-flux/images/code.svg" width="12" height="8" alt="code">
                                                <span class="text-white--5">2.5 m</span>
                                            </div>
                                            <div class="fail-col swagger-item">
                                                <img src="/binary-flux/images/ic-error.svg" width="12" height="12" alt="stop"> 
                                                <span class="text-white--5"> 75.42 k</span>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-start three-col">
                                            <div class="start-col swagger-item">
                                                <span class="text-white--5">Start</span>
                                            </div>
                                            <div class="stop-col swagger-item">
                                                <img src="/binary-flux/images/stop.svg" width="9" height="10" alt="stop">                                                 
                                                <span class="text-white--5">Stop</span>
                                            </div>
                                            <div class="fail-col swagger-item">
                                                <img src="/binary-flux/images/schedule.svg" width="12" height="12" alt="schedule">                                                
                                                <span class="text-white--5 "> Schedule </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
						</li>
						<li class="list-item">
                            <a href="#" class="list-item-a">
                                <div class="list-item-wrap">
                                    <div class="list-item-logo">
                                        <img src="/binary-flux/images/logo_aws.svg" alt="">
                                    </div>
                                    <div class="list-item-label w-100">
                                        <label class="request-label d-block mb-0">Swagger Australia</label>
                                        <label class="f-8 d-block mb-0">AWS</label>
                                        <div class="d-flex align-items-start three-col f-8 mt-1">
                                            <div class="time-col swagger-item">
                                                <img src="/binary-flux/images/schedule.svg" width="12" height="12" alt="schedule">
                                                <span class="text-white--5">12:42 am</span>
                                            </div>
                                            <div class="code-col swagger-item">
                                                <img src="/binary-flux/images/code.svg" width="12" height="8" alt="code">
                                                <span class="text-white--5">2.5 m</span>
                                            </div>
                                            <div class="fail-col swagger-item">
                                                <img src="/binary-flux/images/ic-error.svg" width="12" height="12" alt="stop"> 
                                                <span class="text-white--5"> 75.42 k</span>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-start three-col">
                                            <div class="start-col swagger-item">
                                                <span class="text-white--5">Start</span>
                                            </div>
                                            <div class="stop-col swagger-item">
                                                <img src="/binary-flux/images/stop.svg" width="9" height="10" alt="stop">                                                 
                                                <span class="text-white--5">Stop</span>
                                            </div>
                                            <div class="fail-col swagger-item">
                                                <img src="/binary-flux/images/schedule.svg" width="12" height="12" alt="schedule">                                                
                                                <span class="text-white--5 "> Schedule </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
						</li>
						<li class="list-item">
                            <a href="#" class="list-item-a">
                                <div class="list-item-wrap">
                                    <div class="list-item-logo">
                                        <img src="/binary-flux/images/logo_aws.svg" alt="">
                                    </div>
                                    <div class="list-item-label w-100">
                                        <label class="request-label d-block mb-0">Swagger Australia</label>
                                        <label class="f-8 d-block mb-0">AWS</label>
                                        <div class="d-flex align-items-start three-col f-8 mt-1">
                                            <div class="time-col swagger-item">
                                                <img src="/binary-flux/images/schedule.svg" width="12" height="12" alt="schedule">
                                                <span class="text-white--5">12:42 am</span>
                                            </div>
                                            <div class="code-col swagger-item">
                                                <img src="/binary-flux/images/code.svg" width="12" height="8" alt="code">
                                                <span class="text-white--5">2.5 m</span>
                                            </div>
                                            <div class="fail-col swagger-item">
                                                <img src="/binary-flux/images/ic-error.svg" width="12" height="12" alt="stop"> 
                                                <span class="text-white--5"> 75.42 k</span>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-start three-col">
                                            <div class="start-col swagger-item">
                                                <span class="text-white--5">Start</span>
                                            </div>
                                            <div class="stop-col swagger-item">
                                                <img src="/binary-flux/images/stop.svg" width="9" height="10" alt="stop">                                                 
                                                <span class="text-white--5">Stop</span>
                                            </div>
                                            <div class="fail-col swagger-item">
                                                <img src="/binary-flux/images/schedule.svg" width="12" height="12" alt="schedule">                                                
                                                <span class="text-white--5 "> Schedule </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
						</li>
						<li class="list-item">
                            <a href="#" class="list-item-a">
                                <div class="list-item-wrap">
                                    <div class="list-item-logo">
                                        <img src="/binary-flux/images/logo_aws.svg" alt="">
                                    </div>
                                    <div class="list-item-label w-100">
                                        <label class="request-label d-block mb-0">Swagger Australia</label>
                                        <label class="f-8 d-block mb-0">AWS</label>
                                        <div class="d-flex align-items-start three-col f-8 mt-1">
                                            <div class="time-col swagger-item">
                                                <img src="/binary-flux/images/schedule.svg" width="12" height="12" alt="schedule">
                                                <span class="text-white--5">12:42 am</span>
                                            </div>
                                            <div class="code-col swagger-item">
                                                <img src="/binary-flux/images/code.svg" width="12" height="8" alt="code">
                                                <span class="text-white--5">2.5 m</span>
                                            </div>
                                            <div class="fail-col swagger-item">
                                                <img src="/binary-flux/images/ic-error.svg" width="12" height="12" alt="stop"> 
                                                <span class="text-white--5"> 75.42 k</span>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-start three-col">
                                            <div class="start-col swagger-item">
                                                <span class="text-white--5">Start</span>
                                            </div>
                                            <div class="stop-col swagger-item">
                                                <img src="/binary-flux/images/stop.svg" width="9" height="10" alt="stop">                                                 
                                                <span class="text-white--5">Stop</span>
                                            </div>
                                            <div class="fail-col swagger-item">
                                                <img src="/binary-flux/images/schedule.svg" width="12" height="12" alt="schedule">                                                
                                                <span class="text-white--5 "> Schedule </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
						</li>
						<li class="list-item">
                            <a href="#" class="list-item-a">
                                <div class="list-item-wrap">
                                    <div class="list-item-logo">
                                        <img src="/binary-flux/images/logo_aws.svg" alt="">
                                    </div>
                                    <div class="list-item-label w-100">
                                        <label class="request-label d-block mb-0">Swagger Australia</label>
                                        <label class="f-8 d-block mb-0">AWS</label>
                                        <div class="d-flex align-items-start three-col f-8 mt-1">
                                            <div class="time-col swagger-item">
                                                <img src="/binary-flux/images/schedule.svg" width="12" height="12" alt="schedule">
                                                <span class="text-white--5">12:42 am</span>
                                            </div>
                                            <div class="code-col swagger-item">
                                                <img src="/binary-flux/images/code.svg" width="12" height="8" alt="code">
                                                <span class="text-white--5">2.5 m</span>
                                            </div>
                                            <div class="fail-col swagger-item">
                                                <img src="/binary-flux/images/ic-error.svg" width="12" height="12" alt="stop"> 
                                                <span class="text-white--5"> 75.42 k</span>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-start three-col">
                                            <div class="start-col swagger-item">
                                                <span class="text-white--5">Start</span>
                                            </div>
                                            <div class="stop-col swagger-item">
                                                <img src="/binary-flux/images/stop.svg" width="9" height="10" alt="stop">                                                 
                                                <span class="text-white--5">Stop</span>
                                            </div>
                                            <div class="fail-col swagger-item">
                                                <img src="/binary-flux/images/schedule.svg" width="12" height="12" alt="schedule">                                                
                                                <span class="text-white--5 "> Schedule </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>   
            </div>
		</div>
		<div class="content p-320">
			<div class="d-flex justify-content-between workspace-header-bar flex-wrap">
				<div class="workspace-bar-tabs w-sm-100">	
					<div class="side-menu-toggle icon-hamburger d-md-none">
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="tab-list">
						<div class="tab-btn tab pl-0">Get Started</div>
						<div class="tab-btn tab active pl-1">
							<img src="{{"images/logo_aws.svg" | relURL }}" alt="" class="mr-05" width="17"> Swagger australia <a href="#" class="tab-close pr-1"><i class="icon-close"></i></a>
						</div>
					</div>
					<div class="tab-list-action">
						<button class="tab-btn tab-btn-add"><i class="icon-add"></i></button>
						<button class="tab-btn tab-btn-more"><i class="icon-dots"></i></button>
					</div>
				</div>
				
			</div>
			
			<div class="workspace-tab-container">
				<div class="workspace-tab-content">
					<div class="workspace-tab-header pl-2">
						<div class="d-flex flex-wrap mt-2">
							<div class="col-12 col-lg-5">
								<div class="d-flex">
									<div class="icon d-inline-block mr-2">
										<img src="/binary-flux/images/logo_aws.svg" alt="" width="24">
									</div>
									<div class="d-inline-block ">
										<h6 class="workspace-name text-white f-12 fw-900 mb-0 text-uppercase mb-05">Swagger australia</h6>
										<h6 class="workspace-name text-white--5 f-12 fw-300">PPost request form to collect pet information from the end user</h6>
									</div>
								</div>
							</div>
							<div class="col-12 col-lg-7">
								<div class="workspace-actions pr-0 pl-0">
									<div class="btn-group btn-primary mr-1 mt-0">
                                        <button type="button" class="btn btn-115 text-center d-flex align-items-center justify-content-center btn-text"><img src="/binary-flux/images/play-icon.svg" alt="" width="8" class="mr-1"> Start</button>         
									</div>
									<div class="btn-group btn-outline-dark btn-outline-dark__bl2 mr-1">
										<button type="button" class="btn btn-115 text-center d-flex align-items-center justify-content-center btn-text"><img src="/binary-flux/images/stop.svg" alt="" width="10" class="mr-1"> Stop</button>
									</div>
									<div class="btn-group btn-outline-dark btn-outline-dark__bl2">
										<button type="button" class="btn btn-115 text-center d-flex align-items-center justify-content-center btn-text"><img src="/binary-flux/images/ic_av_timer.svg" alt="" width="15" class="mr-1"> Schedule</button>
									</div>
								</div>
							</div>
						</div>
						<div class="d-flex action-btns mt-1 mt-lg-0">
							<div class="col-12 text-right">
								<a href="" class="d-inline-block">
									<img src="{{"images/icon_refresh.svg" | relURL }}" alt></a>
								<a href="" class="d-inline-block ml-3">
									<img src="{{"images/icon_print.svg" | relURL }}" alt>
								</a>
								<a href="" class="d-inline-block ml-3">
									<img src="{{"images/icon_more.svg" | relURL }}" alt>
								</a>
							</div>
						</div>
						<div class="p-15">
							<div class="d-flex colum-row pt-15 pb-15">
								<div class="colum-1">
									<p class="m-0 mb-05 text-white--5">Total Number of Lines</p>
									<h6 class="m-0 mb-05 text-light-blue text-capitalize font-weight-bold f-18">72.47 M</h6>
									<p class="m-0 text-white--5 d-flex align-items-center f-10"><img class="mr-05" src="{{"images/ic_av_timer.svg" | relURL }}" alt> 12:42 am (4 hours ago)</p>
								</div>
								<div class="colum-1">
									<p class="m-0 mb-05 text-white--5">Lines Parsed Successfully</p>
									<h6 class="m-0 text-light-blue text-capitalize font-weight-bold f-18">60.47 M</h6>
								</div>
								<div class="colum-1">
									<p class="m-0 mb-05 text-white--5">Lines Failed to Parse</p>
									<h6 class="m-0 text-orange text-capitalize font-weight-bold f-18">12 M</h6>
								</div>
							</div>
						</div>

						<div class="p-15">
							<div class="row d-flex align-items-center">
								<div class="col-md-4">
									<h6 class="event-name text-white f-12 fw-900 mb-0 text-capitalize">Run Time Chart</h6>
								</div>
								<div class="col-md-8 text-md-right pl-md-0">
									<div class="radio d-inline-block">
										<span class="mr-1">Show Real Time Data</span>
										<label class="switch top-7">
											<input type="checkbox" checked>
											<span class="slider round"></span>
										</label>
									</div>
									<div class="d-inline-block ml-2">
										<select class="select2-outline-dark select2-hidden-accessible form-control form-control-dark" tabindex="-1" aria-hidden="true">
											<option value="option1" >Option1</option>
											<option value="option2" >Option2</option>
											<option value="option3" >Option3</option>
											<option value="option4" selected="">Today (8 Nov, 2019)</option>
										</select>
									</div>
								</div>
							</div>
						</div>

						<div class="graph p-15 pb-0 mb-0">
							<figure class="highcharts-figure mb-0">
								<div id="container"></div>
							</figure>
						</div>
					</div>
				</div>
				<div class="event pb-3">
					<div class="event-header d-flex justify-content-between align-items-center pt-1">
						<h6 class="event-name text-white f-12 fw-900 mb-0 text-capitalize">Event Logs</h6>
		                <div class="search-wrap p-15 pt-0 pr-0">
		                    <div class="position-relative">
		                        <img src="{{"images/ic_search.svg" | relURL }}" class="pa-lc no-bg" width="17" height="17" />
		                        <input class="form-control input-search input-small pl-4" type="search" q="googlesearch" placeholder="Search Event Logs">
		                    </div>
		                </div>
	                </div>
	                <div class="table-wrapper" style="overflow-x: auto;">
	                 	<table class="table table-striped event-body">
						    <tbody>
						      	<tr>
							        <td class="text-white--8">Aug 19 16:43:54</td>
							        <td class="text-white"><span class="jojo"> jojo </span> <span class="pump-loop">pump-loop.log:</span></td>
							        <td class="text-white--8">{‘event’:”web_client_event”,”properties”,”properties’.{‘Sos’:”Android”’$browser’:”Chrome”,$current_url”:http//m.facbook.com/',</td>
							        <td class="text-white--5 text-right">2016-08-10T11 : 14 : 16 . 615</td>        
						      	</tr>
                                <tr>
                                    <td class="text-white--8">Aug 19 16:43:54</td>
                                    <td class="text-white"><span class="jojo"> jojo </span> <span class="pump-loop">pump-loop.log:</span></td>
                                    <td class="text-white--8">{‘event’:”web_client_event”,”properties”,”properties’.{‘Sos’:”Android”’$browser’:”Chrome”,$current_url”:http//m.facbook.com/',</td>
                                    <td class="text-white--5 text-right">2016-08-10T11 : 14 : 16 . 615</td>        
                                </tr>
                                <tr>
                                    <td class="text-white--8">Aug 19 16:43:54</td>
                                    <td class="text-white"><span class="jojo"> jojo </span> <span class="pump-loop">pump-loop.log:</span></td>
                                    <td class="text-white--8">{‘event’:”web_client_event”,”properties”,”properties’.{‘Sos’:”Android”’$browser’:”Chrome”,$current_url”:http//m.facbook.com/',</td>
                                    <td class="text-white--5 text-right">2016-08-10T11 : 14 : 16 . 615</td>        
                                </tr>
						      	<tr>
							        <td class="text-white--8">Aug 19 16:43:54</td>
							        <td class="text-white"><span class="jojo"> jojo </span> <span class="pump-loop">pump-loop.log:</span></td>
							        <td class="text-white--8">{‘event’:”web_client_event”,”properties”,”properties’.{‘Sos’:”Android”’$browser’:”Chrome”,$current_url”:http//m.facbook.com/',</td>
							        <td class="text-white--5 text-right">2016-08-10T11 : 14 : 16 . 615</td>        
						      	</tr>
								<tr>
							        <td class="text-white--8">Aug 19 16:43:54</td>
							        <td class="text-white"><span class="jojo"> jojo </span> <span class="pump-loop">pump-loop.log:</span></td>
							        <td class="text-white--8">{‘event’:”web_client_event”,”properties”,”properties’.{‘Sos’:”Android”’$browser’:”Chrome”,$current_url”:http//m.facbook.com/',</td>
							        <td class="text-white--5 position-relative text-right pr-4">2016-08-10T11 : 14 : 16 . 615<div class="next"> <img src="{{"images/ic_chevron_right.svg" | relURL }}" class="" width="7" height="10" /> </div></td>        
						      	</tr>
                                <tr>
                                    <td class="text-white--8">Aug 19 16:43:54</td>
                                    <td class="text-white"><span class="jojo"> jojo </span> <span class="pump-loop">pump-loop.log:</span></td>
                                    <td class="text-white--8">{‘event’:”web_client_event”,”properties”,”properties’.{‘Sos’:”Android”’$browser’:”Chrome”,$current_url”:http//m.facbook.com/',</td>
                                    <td class="text-white--5 text-right">2016-08-10T11 : 14 : 16 . 615</td>        
                                </tr>
                                <tr>
                                    <td class="text-white--8">Aug 19 16:43:54</td>
                                    <td class="text-white"><span class="jojo"> jojo </span> <span class="pump-loop">pump-loop.log:</span></td>
                                    <td class="text-white--8">{‘event’:”web_client_event”,”properties”,”properties’.{‘Sos’:”Android”’$browser’:”Chrome”,$current_url”:http//m.facbook.com/',</td>
                                    <td class="text-white--5 text-right">2016-08-10T11 : 14 : 16 . 615</td>        
                                </tr>
                                <tr>
                                    <td class="text-white--8">Aug 19 16:43:54</td>
                                    <td class="text-white"><span class="jojo"> jojo </span> <span class="pump-loop">pump-loop.log:</span></td>
                                    <td class="text-white--8">{‘event’:”web_client_event”,”properties”,”properties’.{‘Sos’:”Android”’$browser’:”Chrome”,$current_url”:http//m.facbook.com/',</td>
                                    <td class="text-white--5 text-right">2016-08-10T11 : 14 : 16 . 615</td>        
                                </tr>
								<tr>
							        <td class="text-white--8">Aug 19 16:43:54</td>
							        <td class="text-white"><span class="jojo"> jojo </span> <span class="pump-loop">pump-loop.log:</span></td>
							        <td class="text-white--8">{‘event’:”web_client_event”,”properties”,”properties’.{‘Sos’:”Android”’$browser’:”Chrome”,$current_url”:http//m.facbook.com/',</td>
							        <td class="text-white--5 text-right">2016-08-10T11 : 14 : 16 . 615</td>        
						      	</tr>
						    </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<script>
document.addEventListener('DOMContentLoaded', function () {
	Highcharts.chart('container', {
        chart: {
            type: 'area',
			borderWidth: 0,
			height: 250,
		},
        accessibility: {
            description: ''
        },
        title: {
            text: ''
        },
        credits: {
            enabled: false
        },
        yAxis: {
			tickInterval: 100,
			min: 0,
			title: {
				text: ''
			},
            labels: {
                formatter: function () {
                    return this.value; // clean, unformatted number for year
                }
            }
        },
        xAxis: {
            allowDecimals: false,
			tickInterval: 1,
			min: 0,
            labels: {
                formatter: function () {
                    return this.value; // clean, unformatted number for year
                }
            },
            accessibility: {
                rangeDescription: 'Range: 0 to 24.'
            }
        },
        tooltip: {
            color: '#455B99',
            pointFormat: '{point.y}',
            backgroundColor: '#000',
            borderRadius: 0
		},
		tooltip: {
			headerFormat: '<div class="">',
			pointFormat: '<div class="" style="font-size: 10px;">{point.x} </div><div class="" style="font-size: 10px;font-weight: 900;">{point.y}</div>',
			footerFormat: '</div>',
			backgroundColor: '#000',
			borderColor: '#fff',
			useHTML: true
		},
        plotOptions: {
            area: {
                pointStart: 0,
                color: '#ffffff00',
                fillColor: {
                    linearGradient: { x1: 0, x2: 0, y1: 0, y2: 1 },
                    stops: [
                        [0, '#72C2B3'],                      
                        [0.4173, '#455B99'],
                        [1, '#27293D']
                    ]
                },
                marker: {
                    enabled: false,
                    symbol: 'circle',
                    radius: 0,
                    states: {
                        hover: {
                            enabled: true
                        }
                    }
                }
            }
        },
        series: [{
            name: '',
            data: [100, 120, 175, 180, 130, 215, 285, 175, 150, 205, 140, 450, 310, 335, 200, 210, 25, 200, 160, 310, 175, 210, 225, 165,],
        }]
	});
});
</script>

{{ end }}