{{ define "main" }}
<header class="header-section pb-0">
    <div class="d-flex justify-content-between align-items-center">
        <div class="wrap d-flex">
            <div class="logo-wrap">         
                <a href="#">
                    <img src="{{"images/logo.svg" | relURL }}" alt="logo" class="logo">
                </a>
			</div>
			<ul class="nav nav-tabs no-border pl-md-4 pr-md-3 blue-bg mr-l35" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link font-weight-bold pt-1 " id="configure-tab" data-toggle="tab" href="#configureapi" role="tab" aria-controls="configure" aria-selected="true">Configure Web API</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold pt-1 active" id="getstarted-tab" data-toggle="tab" href="#hubmanage" role="tab" aria-controls="hubmanage" aria-selected="true">Hub management</a>
                </li>
            </ul>
        </div>
        <div class="user">
            <span class="text-white font-weight-bold">John Smith<img src="{{"images/notifications-outline.svg" | relURL }}" width="20" height="20" alt="notification" class="notification"></span>
		</div>
		<!-- Toasts Included -->
		<div class="toast test-toast">			
			<div class="toast-body">
				<div class="toast-wrap">
					<div class="toast-img">
						<i class="fa fa-check tick" aria-hidden="true"></i>
					</div>
					<div class="toast-msg">
						<h3>Test Successful</h3>
						<p>You successfully showed this notification.</p>
					</div>
				</div>			
			</div>
		</div>
		<div class="toast test-toast error">			
			<div class="toast-body">
				<div class="toast-wrap">
					<div class="toast-img">	
						<i class="fa fa-exclamation exclam"></i>					
					</div>
					<div class="toast-msg">
						<h3>Test Failed</h3>
						<p>You couldn't show this notification.</p>
					</div>
				</div>			
			</div>
		</div>
		<div class="toast test-toast wait">			
			<div class="toast-body">
				<div class="toast-wrap">
					<div class="toast-img">						
						<i class="far fa-clock clock-ic"></i>	
					</div>
					<div class="toast-msg">
						<h3>Test Wait</h3>
						<p>Please wait to show this notification.</p>
					</div>
				</div>			
			</div>
		</div>
    </div>
</header>
<div class="container-fluid p-0">
	<div class="add-interface-web p-0 position-relative">
		<div class="sidebar p-0">
			<div class="sidear-container mobile-slide-in px-0">
				<button type="button" class="close d-block d-md-none">
					<i class="icon-close"></i>
				</button> 
				<ul class="nav nav-tabs nav-divider-dark nav-fill-50" id="siderbar-tabs" role="tablist">
					<li class="nav-item">
						<a class="nav-link active sticky-badge-wrap" id="web_api-tab" data-toggle="tab" href="#web_api" role="tab" aria-controls="home" aria-selected="true"><span class="sticky-badge-text">WEB API <span class="badge sticky-badge">12</span></span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link  sticky-badge" id="custom_api-tab" data-toggle="tab" href="#custom_api" role="tab" aria-controls="custom_api" aria-selected="false"><span class="sticky-badge-text">CUSTOM <span class="badge sticky-badge">12</span></span></a>
					</li>
				</ul>
				<div class="tab-content pt-1" id="siderbar-content">
					<div class="tab-pane fade show active" id="web_api" role="tabpanel" aria-labelledby="web_api-tab">
						<div class="pl-1 pr-1 pt-1 pb-2 pb-md-3">
							<button class="btn btn-small btn-outline-primary button-border button-center btn-toast"><i class="icon icon-add"></i>New Collection</button>
							
						
						</div>
						<div class="nav-list-items">
							<ul class="nav-lists">
								<li class="list-item">
									<a href="#" class="list-item-a pr-0 lft-nav">
										<div class="list-item-wrap navlistwrap">
											<div class="list-item-logo">
												<img src="{{"images/logo_aws.svg" | relURL }}" alt>
											</div>
											<div class="list-item-label">
												<label class="request-label d-block mb-0">Swagger Pet Store</label>
												<label class="request-count d-block mb-0 text-white--6">3 requests</label>
											</div>
											<div class="d-flex nav-icons">
											 	<span class="icon-border ic-no-border"><img src="/binary-flux/images/start-arrow.svg" width="8" height="9" alt="arrow"></span>
												<span class="icon-border ic-no-border"><img src="/binary-flux/images/icon_more.svg" width="12" height="12" alt="more"></span>
											</div>
										</div>
									</a>
									<ul class="sub-ul">
										<li class="list-item">
											<a href="#" class="list-item-a pets">
												<div class="list-item-wrap">
													<div class="list-item-logo">
														<img src="{{"images/logo_aws.svg" | relURL }}" alt>
													</div>
													<div class="list-item-label">
														<label class="request-label sub-label d-block mb-0">Pets</label>
													</div>
													<button class="tab-btn tab-btn-dots action-icons p-0"><i class="icon-dots"></i></button>
												</div>
											</a>
											<ul class="submenu-ul">
												<li>
													<a href="#" class="list-item-a">
														<label class="request-type d-inline-block mb-0 text-yellow f-8 font-weight-bold min-25 mr-05">POST</label>
														<label class="request-label sub-label d-inline-block mb-0">Create Pets</label>	
														<button class="tab-btn tab-btn-dots action-icons"><i class="icon-dots"></i></button>
													</a>												
												</li>
												<li>
													<a href="#" class="list-item-a">
														<label class="request-type d-inline-block mb-0 text-light-blue f-8 font-weight-bold min-25 mr-05">GET</label>
														<label class="request-label sub-label d-inline-block mb-0">List of Pets</label>
													</a>
												</li>
												<li>
													<a href="#" class="list-item-a">
														<label class="request-type d-inline-block mb-0 get f-8 font-weight-bold min-25 mr-05">PATCH</label>
														<label class="request-label sub-label d-inline-block mb-0">Info for a specific Pet</label>
													</a>
												</li>
											</ul>
										</li>
									</ul>
								</li>
								<li class="list-item">
									<a href="#" class="list-item-a">
										<div class="list-item-wrap navlistwrap">
											<div class="list-item-logo">
												<img src="{{"images/logo_aws.svg" | relURL }}" alt>
											</div>
											<div class="list-item-label">
												<label class="request-label d-block mb-0">Swagger Pet Store</label>
												<label class="request-count d-block mb-0">3 requests</label>
											</div>
										</div>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="tab-pane fade" id="custom_api" role="tabpanel" aria-labelledby="custom_api-tab">
						<div class="pl-1 pr-1 pt-1 pb-2 pb-md-3">
							<button class="btn btn-small btn-outline-primary"><i class="icon icon-add"></i>Add New</button>
						</div>						
					</div>
				</div>
			</div>
		</div>
		<div class="content">

			<!-- <div class="d-flex justify-content-between workspace-header-bar flex-wrap head-space">
				<div class="workspace-bar-tabs w-sm-100 fl-end">	
					<div class="side-menu-toggle icon-hamburger d-md-none">
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="tab-list">
						<div class="tab-btn tab active pl-0"><span class="text-yellow text-uppercase small mr-1 f-7 font-weight-bolder">Post</span>Create Pets <a href="#" class="tab-close"><i class="icon-close"></i></a></div>
					</div>
					<div class="tab-list-action">
						<button class="tab-btn tab-btn-add"><img src="{{"images/ic-add.svg" | relURL }}" alt></button>
						<button class="tab-btn tab-btn-more"><i class="icon-dots"></i></button>
					</div>
				</div>
				<div class="d-flex align-items-center d-sm-block w-sm-100 justify-content-maxsm">
					<div class="workspace-actiions green-select d-flex align-items-center">
						<div class="workspace-environment mr-1">
							<select class="select2-outline-dark" data-placeholder="No Environment">
								<option>No Environment</option>	
								<option>Environment 1</option>	
								<option>Environment 2</option>	
							</select>
						</div>
						<a href="#" target="_self" class="mr-15 text-decoration-none"><i class="icon-preview"></i></a>
						<a href="#" target="_self" class="text-decoration-none"><i class="icon-setting"></i></a>
					</div>
				</div>
			</div> -->

			<div class="hub-mngmnt-cont">
				<div class="hub-upper">
					<div class="hubs-add">
						<h3>HUB MANAGEMENT</h3>
						<div class="addrem-hub">
							<a href="#!" class="hubs-btn" data-toggle="modal" data-target="#addhubmodal" ><i class="icon-add-hub"></i>Add Hub</a>
							<a href="#!" class="hubs-btn"><i class="icon-rem-hub"></i>Remove Hub</a>
						</div>
					</div>
					<div class="hub-info-cont">
						<div class="container">
							<div class="h-row hdr">
								<div class="nam col1">
									<input type="checkbox" value="name" class="row-chkbox" id="hrow1"/>
									<label for="hrow1" class="hub-lavel">NAME</label>
								</div>
								<div class="nam col2">
									<p>ADDRESS</p>
								</div>
								<div class="nam col3">
									<p>PORT</p>
								</div>
							</div>
							<div class="h-row">
								<div class="nam col1">
									<input type="checkbox" value="name" class="row-chkbox" id="hrow2"/>
									<a href="#"><img class="hub-editic" src="/binary-flux/images/edit-icon.svg" /></a>
									<label for="hrow2" class="hub-lavel">Hub 1</label>
								</div>
								<div class="nam col2">
									<p>192.168.20.2</p>
								</div>
								<div class="nam col3">
									<p>tcp6</p>
								</div>
							</div>
							<div class="h-row">
								<div class="nam col1">
									<input type="checkbox" value="name" class="row-chkbox" id="hrow3"/>
									<a href="#"><img class="hub-editic" src="/binary-flux/images/edit-icon.svg" /></a>
									<label for="hrow3" class="hub-lavel">Hub 1</label>
								</div>
								<div class="nam col2">
									<p>192.168.20.2</p>
								</div>
								<div class="nam col3">
									<p>tcp6</p>
								</div>
							</div>
							<div class="h-row">
								<div class="nam col1">
									<input type="checkbox" value="name" class="row-chkbox" id="hrow4"/>
									<a href="#"><img class="hub-editic" src="/binary-flux/images/edit-icon.svg" /></a>
									<label for="hrow4" class="hub-lavel">Hub 1</label>
								</div>
								<div class="nam col2">
									<p>192.168.20.2</p>
								</div>
								<div class="nam col3">
									<p>tcp6</p>
								</div>
							</div>
							<div class="h-row">
								<div class="nam col1">
									<input type="checkbox" value="name" class="row-chkbox" id="hrow5"/>
									<a href="#"><img class="hub-editic" src="/binary-flux/images/edit-icon.svg" /></a>
									<label for="hrow5" class="hub-lavel">Hub 1</label>
								</div>
								<div class="nam col2">
									<p>192.168.20.2</p>
								</div>
								<div class="nam col3">
									<p>tcp6</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="hub-upper ">
					<div class="hubs-add bg-remove">
						<h3>CHANNEL MANAGEMENT</h3>
						<div class="addrem-hub">
							<a href="#!" class="hubs-btn" data-target="#addchannelmodal" data-toggle="modal" ><i class="icon-add-hub"></i>Add Hub</a>
							<a href="#!" class="hubs-btn"><i class="icon-rem-hub"></i>Remove Hub</a>
						</div>
					</div>
					<div class="hub-info-cont channel">
						<div class="container">
							<div class="h-row hdr">
								<div class="nam col1">
									<input type="checkbox" value="name" class="row-chkbox" id="hrow11"/>
									<label for="hrow11" class="hub-lavel">NAME</label>
								</div>
								<div class="nam col2">
									<p>AVG. MESSAGE SIZE</p>
								</div>
								<div class="nam col3">
									<p>SEND/ RECEIVER BUFFER SIZE</p>
								</div>
								<div class="nam col4">
									<p>HUBS ATTACHED</p>
								</div>
							</div>
							<div class="h-row">
								<div class="nam col1">
									<input type="checkbox" value="name" class="row-chkbox" id="hrow6" />
									<a href="#!"><img class="hub-editic" src="/binary-flux/images/edit-icon.svg" /></a>
									<label for="hrow6" class="hub-lavel">Channel 1</label>
								</div>
								<div class="nam col2">
									<p>75 KB</p>
								</div>
								<div class="nam col3">
									<p>32768 bytes</p>
								</div>
								<div class="nam col4">
									<p>Hub1, Hub2, Hub3</p>
								</div>
							</div>
							<div class="h-row">
								<div class="nam col1">
									<input type="checkbox" value="name" class="row-chkbox" id="hrow7" />
									<a href="#!"><img class="hub-editic" src="/binary-flux/images/edit-icon.svg" /></a>
									<label for="hrow7" class="hub-lavel">Channel 1</label>
								</div>
								<div class="nam col2">
									<p>75 KB</p>
								</div>
								<div class="nam col3">
									<p>32768 bytes</p>
								</div>
								<div class="nam col4">
									<p>Hub1, Hub2, Hub3</p>
								</div>
							</div>
							<div class="h-row">
								<div class="nam col1">
									<input type="checkbox" value="name" class="row-chkbox" id="hrow8" />
									<a href="#!"><img class="hub-editic" src="/binary-flux/images/edit-icon.svg" /></a>
									<label for="hrow8" class="hub-lavel">Channel 1</label>
								</div>
								<div class="nam col2">
									<p>75 KB</p>
								</div>
								<div class="nam col3">
									<p>32768 bytes</p>
								</div>
								<div class="nam col4">
									<p>Hub1, Hub2, Hub3</p>
								</div>
							</div>
							<div class="h-row">
								<div class="nam col1">
									<input type="checkbox" value="name" class="row-chkbox" id="hrow9" />
									<a href="#!"><img class="hub-editic" src="/binary-flux/images/edit-icon.svg" /></a>
									<label for="hrow9" class="hub-lavel">Channel 1</label>
								</div>
								<div class="nam col2">
									<p>75 KB</p>
								</div>
								<div class="nam col3">
									<p>32768 bytes</p>
								</div>
								<div class="nam col4">
									<p>Hub1, Hub2, Hub3</p>
								</div>
							</div>
							<div class="h-row">
								<div class="nam col1">
									<input type="checkbox" value="name" class="row-chkbox" id="hrow10" />
									<a href="#!"><img class="hub-editic" src="/binary-flux/images/edit-icon.svg" /></a>
									<label for="hrow10" class="hub-lavel">Channel 1</label>
								</div>
								<div class="nam col2">
									<p>75 KB</p>
								</div>
								<div class="nam col3">
									<p>32768 bytes</p>
								</div>
								<div class="nam col4">
									<p>Hub1, Hub2, Hub3</p>
								</div>
							</div>

							

							
						</div>
					</div>
				</div>
			</div>					
			
		</div>
	</div>
</div>


<!-- Add Hub Modal -->
<div id="addhubmodal" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <div class="left">
            <h4 class="modal-title">ADD HUB</h4>
		</div>          
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
			<form action="/">
				<div class="add-hub-cont">
					<div class="particular">
						<p>Name*</p>
						<input type="text" class="part-inp" value="" />
					</div>
				</div>
				<div class="add-hub-cont">
					<div class="particular">
						<p>Address</p>
						<input type="text" class="part-inp" value="" />
					</div>
				</div>
				<div class="add-hub-cont">
					<div class="particular">
						<p>Port</p>
						<input type="text" class="part-inp" value="" />
					</div>
				</div>

			</form> 
       

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default modal-ok" data-dismiss="modal">Done</button>
        </div>
      </div>
  
    </div>
  </div>


  <!-- Add Channel Modal -->
<div id="addchannelmodal" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <div class="left">
            <h4 class="modal-title">CHANNEL MANAGEMENT</h4>
		</div>          
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
			<form action="/">
				<div class="add-hub-cont">
					<div class="particular">
						<p>Name*</p>
						<input type="text" class="part-inp" value="" />
					</div>
				</div>
				<div class="add-hub-cont">
					<div class="particular">
						<p>Avg. Message Size</p>
						<input type="text" class="part-inp" value="" />
					</div>
				</div>
				<div class="add-hub-cont">
					<div class="particular">
						<p>Send/ Receiver buffer size</p>
						<input type="text" class="part-inp" value="" />
					</div>
				</div>
				<div class="add-hub-cont">
					<div class="particular">
						<p>Hubs Attached*</p>
						<!-- <select class="js-example-basic-single form-control" multiple="multiple">
							<option selected="selected">orange</option>
							<option>white</option>
							<option selected="selected">purple</option>
						</select> -->
						<!-- <select class="js-example-basic-single" name="state">
							<option value="AL">Alabama</option>
							<option value="AL">Amar</option>
							<option value="AL">Ankit</option>							
							<option value="WY">Wyoming</option>
						</select> -->
						<input type="text" class="part-inp" value="" />
					</div>
				</div>

			</form> 
       

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default modal-ok" data-dismiss="modal">GO</button>
        </div>
      </div>
  
    </div>
  </div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

<script>
	$(document).ready(function(){
		$(".btn-toast").click(function(){
			$('.toast').toast('show');
		});

		$('.hub-info-cont .h-row .col1 .hub-lavel').on("click", function () {
			var inputbox = $(this).parent().find('.row-chkbox');
			var parntrow = $(this).parent().parent();
			var inpcheck = inputbox.prop('checked');
			
			if (inpcheck == false) {
				parntrow.addClass('selected');
			}
			else if(inpcheck) {
				parntrow.removeClass('selected');
			}
		});


		$('.hub-info-cont .h-row.hdr .col1 .hub-lavel').on("click", function () {
			var sibinputs = $(this).parent().parent().siblings('.h-row');
			var inputchking = sibinputs.children('.col1').children('.row-chkbox');
			var hdrinp = $(this).siblings('.row-chkbox');
			var hdrvalu = hdrinp.prop('checked');

			if(hdrvalu == false) {
				inputchking.prop('checked', true);
				sibinputs.addClass('selected');
			}
			else if(hdrvalu == true) {
				inputchking.prop('checked', false);
				sibinputs.removeClass('selected');
			}
			
		});		

	});

</script>

<script>

	var $k = jQuery.noConflict();
	$k('.js-example-basic-single').select2();

</script>


{{- partial "custom-footer.html" . -}}
{{ end }}