{{ define "main" }}

<div id="particles-js"></div>
<div id="particles-js-bottom"></div>
<div class="landing-main d-flex">
    <div class="landing-col landing-col-40">
        <div class="site-logo d-flex align-item-center mb-3 mb-lg-5">
            <img src="{{"images/logo_binary.svg" | relURL }}" width="48" alt="logo" class="mr-2 first-image">
            <img src="{{"images/text-logo.svg" | relURL }}" width="255" alt="logo" class="second-image">                
        </div>
        <div class="welcom-text">
            <h1 class="font-weight-light f-40 mb-2 max-275">Your data, like you never knew it.</h1>
            <div class="f-18 text-white--5 font-weight-light line-height-30 mb-2 mb-lg-5">
                Binary Flux enables IT Operations and Cyber Security Professionals to store, analyse and investigate their ecosystem data powered by deep learning & artificial neural networking.
            </div>
            <h5 class="f-18 font-weight-bold mb-3 mb-lg-2">Dive deep, to know more.</h5>
            <button class="btn btn-demo">Request a Demo</button>
        </div>
    </div>
    <div class="landing-col landing-col-60">
        <div class="front-slider">
            <div class="slide-item">
                <img src="{{"images/slide_1.jpg" | relURL }}" alt="Banner" class="w-100">
                <div class="mt-2 mt-lg-3 max-470">
                    <h6 class="font-weight-bold">Dashbard</h6>
                    <p class="font-weight-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                </div>
            </div>
            <div class="slide-item">
                <img src="{{"images/slide_2.jpg" | relURL }}" alt="Banner" class="w-100">
                <div class="mt-2 mt-lg-3 max-470">
                    <h6 class="font-weight-bold">Dashbard</h6>
                    <p class="font-weight-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                </div>
            </div>
            <div class="slide-item">
                <img src="{{"images/slide_3.jpg" | relURL }}" alt="Banner" class="w-100">
                <div class="mt-2 mt-lg-3 max-470">
                    <h6 class="font-weight-bold">Dashbard</h6>
                    <p class="font-weight-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                </div>
            </div>
            <div class="slide-item">
                <img src="{{"images/slide_4.jpg" | relURL }}" alt="Banner" class="w-100">
                <div class="mt-2 mt-lg-3 max-470">
                    <h6 class="font-weight-bold">Dashbard</h6>
                    <p class="font-weight-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                </div>
            </div>
            <div class="slide-item">
                <img src="{{"images/slide_5.jpg" | relURL }}" alt="Banner" class="w-100">
                <div class="mt-2 mt-lg-3 max-470">
                    <h6 class="font-weight-bold">Dashbard</h6>
                    <p class="font-weight-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                </div>
            </div>
        </div>
       
    </div>
</div>

{{ end }}