{{ define "main" }}
<header class="header-section">
    <div class="d-flex justify-content-between align-items-center">
        <div class="logo-wrap">         
            <a href="#">
                <img src="{{"images/logo.svg" | relURL }}" alt="logo" class="logo">
            </a>
        </div>
        <div class="navbar-right dropdown">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" id="header-tab" data-toggle="tab" href="#header" role="tab" aria-controls="header" aria-selected="true">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" id="jd_edwards-tab" data-toggle="tab" href="#jd_edwards" role="tab" aria-controls="jd_edwards" aria-selected="false">Organisation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="documentation-tab" data-toggle="tab" href="#documentation" role="tab" aria-controls="documentation" aria-selected="false">Settings</a>
                </li>
            </ul>
        </div>
        <div class="user">
            <span class="text-white font-weight-bold">John Smith<img src="{{"images/notifications-outline.svg" | relURL }}" width="20" height="20" alt="notification" class="notification"></span>
        </div>
    </div>
</header>
<div class="sub-header d-flex justify-content-between align-items-center">
    <span class="text-white"><img src="{{"images/organisation.svg" | relURL }}" alt="Organisation" class="sub-header-icon">Organisation</span>
    <div class="right-section">
        <div class="icons">
            <img src="{{"images/ic_search.svg" | relURL }}" alt="search" class="search mr-3">
            <img src="{{"images/ic_filter_list.svg" | relURL }}" alt="filter" class="filter mr-3">
        </div>
        <div class="action-block">
            <button type="button" data-toggle="modal" data-target="#addGroup" class="btn btn-small btn-outline-primary mr-1"><img src="{{"images/group-add.svg" | relURL }}" alt="group" class="group">Group</button>
            <button type="button" data-toggle="modal" data-target="#addRole" class="btn btn-small btn-outline-primary mr-1"><img src="{{"images/role.svg" | relURL }}" alt="Role" class="group">Role</button>
            <button type="button" data-toggle="modal" data-target="#addUser" class="btn btn-small btn-outline-primary mr-1"><img src="{{"images/add-user.svg" | relURL }}" alt="Add User" class="add">User</button>
        </div>
    </div>
</div>
<div class="container-fluid p-0">
	<div class="user-management list-view position-relative">
        <div class="table-wrapper"  style="overflow-x: auto">
            <table class="table">
                <thead class="table-head">
                    <tr>
                        <th>
                            <div class="custom-control custom-checkbox customized-checkbox">
                                <input type="checkbox" class="custom-control-input" id="check1">
                                <label class="custom-control-label" for="check1"></label>
                            </div>
                        </th>
                        <th>Name<img src="{{"images/arrows.svg" | relURL }}"  width="12" height="12" alt="arrows" class="arrows ml-1"></th>
                        <th>Email<img src="{{"images/arrows.svg" | relURL }}" width="12" height="12" alt="arrows" class="arrows ml-1"></th>
                        <th>Group<img src="{{"images/arrows.svg" | relURL }}"  width="12" height="12" alt="arrows" class="arrows ml-1"></th>
                        <th>Roles<img src="{{"images/arrows.svg" | relURL }}" width="12" height="12" alt="arrows" class="arrows ml-1"></th>
                        <th>Status<img src="{{"images/arrows.svg" | relURL }}" width="12" height="12" alt="arrows" class="arrows ml-1"></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="table-body">
                    <tr>
                         <td>
                            <div class="custom-control custom-checkbox customized-checkbox">
                                <input type="checkbox" class="custom-control-input" id="check2">
                                <label class="custom-control-label" for="check2"></label>
                            </div>
                        </td>
                        <td>John Doe</td>
                        <td>john@email.com</td>
                        <td>Cyber Security Account +2</td>
                        <td>Administration</td>
                        <td class="active">Active</td>
                        <td><button type="button" data-toggle="modal" data-target="#editUser" class="text-white ml-1 btn-edit"><span class="icon-edit"></span> Edit</button><i class="icon-icon-dots-hr ml-2"></i></td>
                    </tr>
                    <tr class="spacer"></tr>
                    <tr>
                        <td>
                            <div class="custom-control custom-checkbox customized-checkbox">
                                <input type="checkbox" class="custom-control-input" id="check3">
                                <label class="custom-control-label" for="check3"></label>
                            </div>
                        </td>
                        <td>Nina Aguilar</td>
                        <td>nina@gmail.com</td>
                        <td>Data Application</td>
                        <td>Administration</td>
                        <td class="in-active">InActive</td>
                        <td><button class="text-white ml-1 btn-edit"><span class="icon-edit"></span> Edit</button><i class="icon-icon-dots-hr ml-2"></i></td>
                    </tr>
                    <tr class="spacer"></tr>
                    <tr>
                        <td>
                            <div class="custom-control custom-checkbox customized-checkbox">
                                <input type="checkbox" class="custom-control-input" id="check4">
                                <label class="custom-control-label" for="check4"></label>
                            </div>
                        </td>
                        <td>David Bow</td>
                        <td>david@email.com</td>
                        <td>Business Rules Engine Composer</td>
                        <td>Management</td>
                        <td class="active">Active</td>
                        <td><button class="text-white ml-1 btn-edit"><span class="icon-edit"></span> Edit</button><i class="icon-icon-dots-hr ml-2"></i></td>
                    </tr>
                    <tr class="spacer"></tr>
                    <tr>
                        <td>
                            <div class="custom-control custom-checkbox customized-checkbox">
                                <input type="checkbox" class="custom-control-input" id="check5">
                                <label class="custom-control-label" for="check5"></label>
                            </div>
                        </td>
                        <td>Marc McGee</td>
                        <td>marc@gmail.com</td>
                        <td>ESB Exception Management</td>
                        <td>Management</td>
                        <td class="in-active">InActive</td>
                        <td><button class="text-white ml-1 btn-edit"><span class="icon-edit"></span> Edit</button><i class="icon-icon-dots-hr ml-2"></i></td>
                    </tr>
                    <tr class="spacer"></tr>
                    <tr>
                        <td>
                            <div class="custom-control custom-checkbox customized-checkbox">
                                <input type="checkbox" class="custom-control-input" id="check6">
                                <label class="custom-control-label" for="check6"></label>
                            </div>
                        </td>
                        <td>Russell Mathis</td>
                        <td>Russell@gmail.com</td>
                        <td>Data Application</td>
                        <td>Administration</td>
                        <td class="active">Active</td>
                        <td><button class="text-white ml-1 btn-edit"><span class="icon-edit"></span> Edit</button><i class="icon-icon-dots-hr ml-2"></i></td>
                    </tr>
                    <tr class="spacer"></tr>
                    <tr>
                         <td>
                            <div class="custom-control custom-checkbox customized-checkbox">
                                <input type="checkbox" class="custom-control-input" id="check7">
                                <label class="custom-control-label" for="check7"></label>
                            </div>
                        </td>
                        <td>John Doe</td>
                        <td>john@email.com</td>
                        <td>Cyber Security Account +2</td>
                        <td>Administration</td>
                        <td class="in-active">InActive</td>
                        <td><button type="button" data-toggle="modal" data-target="#editUser" class="text-white ml-1 btn-edit"><span class="icon-edit"></span> Edit</button><i class="icon-icon-dots-hr ml-2"></i></td>
                    </tr>
                    <tr class="spacer"></tr>
                    <tr>
                         <td>
                            <div class="custom-control custom-checkbox customized-checkbox">
                                <input type="checkbox" class="custom-control-input" id="check8">
                                <label class="custom-control-label" for="check8"></label>
                            </div>
                        </td>
                        <td>John Doe</td>
                        <td>john@email.com</td>
                        <td>Cyber Security Account +2</td>
                        <td>Administration</td>
                        <td class="active">Active</td>
                        <td><button type="button" data-toggle="modal" data-target="#editUser" class="text-white ml-1 btn-edit"><span class="icon-edit"></span> Edit</button><i class="icon-icon-dots-hr ml-2"></i></td>
                    </tr>
                    <tr class="spacer"></tr>
                    <tr>
                        <td>
                            <div class="custom-control custom-checkbox customized-checkbox">
                                <input type="checkbox" class="custom-control-input" id="check9">
                                <label class="custom-control-label" for="check9"></label>
                            </div>
                        </td>
                        <td>Nina Aguilar</td>
                        <td>nina@gmail.com</td>
                        <td>Data Application</td>
                        <td>Administration</td>
                        <td class="in-active">InActive</td>
                        <td><button class="text-white ml-1 btn-edit"><span class="icon-edit"></span> Edit</button><i class="icon-icon-dots-hr ml-2"></i></td>
                    </tr>
                    <tr class="spacer"></tr>
                    <tr>
                        <td>
                            <div class="custom-control custom-checkbox customized-checkbox">
                                <input type="checkbox" class="custom-control-input" id="check10">
                                <label class="custom-control-label" for="check10"></label>
                            </div>
                        </td>
                        <td>David Bow</td>
                        <td>david@email.com</td>
                        <td>Business Rules Engine Composer</td>
                        <td>Management</td>
                        <td class="active">Active</td>
                        <td><button class="text-white ml-1 btn-edit"><span class="icon-edit"></span> Edit</button><i class="icon-icon-dots-hr ml-2"></i></td>
                    </tr>
                    <tr class="spacer"></tr>
                    <tr>
                        <td>
                            <div class="custom-control custom-checkbox customized-checkbox">
                                <input type="checkbox" class="custom-control-input" id="check11">
                                <label class="custom-control-label" for="check11"></label>
                            </div>
                        </td>
                        <td>Marc McGee</td>
                        <td>marc@gmail.com</td>
                        <td>ESB Exception Management</td>
                        <td>Management</td>
                        <td class="in-active">InActive</td>
                        <td><button class="text-white ml-1 btn-edit"><span class="icon-edit"></span> Edit</button><i class="icon-icon-dots-hr ml-2"></i></td>
                    </tr>
                    <tr class="spacer"></tr>
                    <tr>
                        <td>
                            <div class="custom-control custom-checkbox customized-checkbox">
                                <input type="checkbox" class="custom-control-input" id="check12">
                                <label class="custom-control-label" for="check12"></label>
                            </div>
                        </td>
                        <td>Russell Mathis</td>
                        <td>Russell@gmail.com</td>
                        <td>Data Application</td>
                        <td>Administration</td>
                        <td class="active">Active</td>
                        <td><button class="text-white ml-1 btn-edit"><span class="icon-edit"></span> Edit</button><i class="icon-icon-dots-hr ml-2"></i></td>
                    </tr>
                </tbody>
            </table>
		</div>
    </div>
</div>
<!-- Add USer Modal -->
<div class="modal fade modal-multiselect" id="addUser" tabindex="-1" role="dialog" aria-labelledby="addUser" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-md" role="document">
        <div class="modal-content user-modal">
            <div class="modal-header rounded-0">
                <h5 class="modal-title text-uppercase font-weight-bold"><img src="{{"images/add-user.svg" | relURL }}" alt="Add User" class="add" width="22" height="15"> New User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <img src="{{"images/cancel.svg" | relURL }}" width="14" height="14" alt="cancel" class="close" />
                </button>
            </div>
            <div class="modal-divider">
                <hr>
            </div>
            <div class="modal-body rounded-0">
                <div class="row m-0">
                    <form class="w-100
                    ">
                        <div class="form-group row">
                            <div class="col-sm-2">
                                <label for="colFormLabelSm" class="col-form-label col-form-label-sm pt-0">Name</label>
                                <p class="tag">Enter User Name</p>
                            </div>
                            <div class="col-sm-5 margin-bottom">
                                <input type="text" class="form-control form-control-sm" id="firstname" placeholder="Fisrt Name">
                            </div>
                            <div class="col-sm-5">
                                <input type="text" class="form-control form-control-sm" id="lastname" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-2">
                                <label for="colFormLabel" class="col-form-label col-form-label-sm pt-0">Email ID</label>
                                <p class="tag">Enter Official Email ID</p>
                            </div>
                            <div class="col-sm-5">
                                <input type="email" class="form-control form-control-sm" id="organisation" placeholder="Enter Email">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="password" class="col-sm-2 col-form-label col-form-label-sm pt-0">Password</label>
                            <div class="icon position-relative col-sm-5">
                                <img src="{{"images/eye-outline.svg" | relURL }}" width="22" height="15" alt="preview" class="preview">     
                                <input type="password" class="form-control form-control-sm mb-1" id="password" placeholder="Enter Password">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-2">
                                <label for="colFormLabelLg"class="col-form-label col-form-label-sm pt-0">Assign Role</label>
                                <p class="tag">Give Your User a Role</p>
                            </div>
                            <div class="col-sm-5">
                                 <div class="multiselectDropdown">
                                    <input type="text" class="form-control form-control-sm" id="role" placeholder="Enter Role" 
                                    onclick="myFunction()">
                                    <img src="{{"images/ic_chevron_left.svg" | relURL }}" width="14" height="14" alt="dropdown" class="dropdown-arrow" style="right: 8px;" />
                                    <div id="myDropdown" class="dropdown-content">
                                        <div class="w-100 px-1">
                                            <input type="text" placeholder="Search.." id="searchRoles" onkeyup="filterFunction()">
                                        </div>
                                        <div class="dataList">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="custom-control custom-checkbox customized-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="check-all">
                                                    <label class="custom-control-label" for="check-all">All</label>
                                                </div>
                                                <span class="text-white">Clear</span>
                                            </div>
                                            <div class="custom-control custom-checkbox customized-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="check-admin" checked>
                                                <label class="custom-control-label" for="check-admin">Admin</label>
                                            </div>
                                            <div class="custom-control custom-checkbox customized-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="check-manager" checked>
                                                <label class="custom-control-label" for="check-manager">Manager</label>
                                            </div>
                                            <div class="custom-control custom-checkbox customized-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="check-ceo">
                                                <label class="custom-control-label" for="check-ceo">CEO</label>
                                            </div>
                                            <div class="custom-control custom-checkbox customized-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="check-lead">
                                                <label class="custom-control-label" for="check-lead">Project Lead</label>
                                            </div>
                                            <div class="custom-control custom-checkbox customized-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="check-ceo1" checked>
                                                <label class="custom-control-label" for="check-ceo1">CEO</label>
                                            </div>
                                        </div>
                                        <div class="dropdown-footer d-flex">
                                            <span>3 of 10</span>
                                            <div class="d-flex align-items-center">
                                                <a href="#" class="text-blue px-1">Cancel</a>
                                                 <div class="btn-group btn-primary add-btn my-1">                     
                                                    <button type="submit" class="btn btn-sm text-center">Done</button> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabelLg"class="col-sm-2 col-form-label col-form-label-sm pt-0">Assign Group</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control form-control-sm" id="role" placeholder="Select">
                                <img src="{{"images/ic_chevron_left.svg" | relURL }}" width="14" height="14" alt="dropdown" class="dropdown-arrow" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-divider">
                <hr>
            </div>
            <div class="btn-group btn-primary add-btn mr-2 my-2">
                <button type="submit" class="btn btn-sm text-center">Save</button>                           
            </div>
        </div>
    </div>
</div>


<!-- Edit User Modal -->
<div class="modal fade modal-multiselect" id="editUser" tabindex="-1" role="dialog" aria-labelledby="editUser" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-md" role="document">
        <div class="modal-content user-modal edit-user-modal">
            <div class="modal-header rounded-0">
                <h5 class="modal-title text-uppercase font-weight-bold">John Doe</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <img src="{{"images/cancel.svg" | relURL }}" width="14" height="14" alt="cancel" class="close" />
                </button>
            </div>
            <div class="modal-divider">
                <hr>
            </div>
            <div class="modal-body rounded-0">
                <div class="row m-0">
                    <form class="w-100
                    ">
                        <div class="form-group row">
                            <div class="col-sm-2">
                                <label for="colFormLabelSm" class="col-form-label col-form-label-sm pt-0">Name</label>
                                <p class="tag">Enter User Name</p>
                            </div>
                            <div class="col-sm-5 margin-bottom">
                                <input type="text" class="form-control form-control-sm" id="firstname" placeholder="Fisrt Name" value="John">
                            </div>
                            <div class="col-sm-5">
                                <input type="text" class="form-control form-control-sm" id="lastname" placeholder="Last Name" value="Doe">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-2">
                                <label for="colFormLabel" class="col-form-label col-form-label-sm pt-0">Email ID</label>
                                <p class="tag">Enter Official Email ID</p>
                            </div>
                            <div class="col-sm-5">
                                <input type="email" class="form-control form-control-sm" id="organisation" placeholder="Enter Email" value="johndoe@gmail.com">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="role" class="col-sm-2 col-form-label col-form-label-sm pt-0">Role</label>
                            <div class="icon position-relative col-sm-5">
                                <select class="form-control form-control-sm custom-select-dropdown mb-1" id="role">
                                    <option selected>Admin</option>
                                    <option>Manager</option>
                                    <option>Project Lead</option>
                                    <option>CEO</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="group"class="col-sm-2 col-form-label col-form-label-sm pt-0">Group</label>
                            <div class="col-sm-5">
                                <select class="form-control form-control-sm mb-1 custom-select-dropdown" id="group">
                                    <option selected>C Suite, Managers + 3</option>
                                    <option>Data Application</option>
                                    <option>Business Rules Engine Composer</option>
                                    <option>ESB Exception Management</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="status"class="col-sm-2 col-form-label col-form-label-sm pt-0">Status</label>
                            <div class="col-sm-5">
                                <select class="form-control form-control-sm mb-1 custom-select-dropdown" id="status" onchange="select.className = this.options[this.selectedIndex].className;">
                                    <option selected="selected" class="active">Active</option>
                                    <option class="in-active">InActive</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-divider">
                <hr>
            </div>
            <div class="btn-group btn-primary add-btn mr-2 my-2">
                <button type="submit" class="btn btn-sm text-center">Save</button>                           
            </div>
        </div>
    </div>
</div>

<!-- Add Role Modal -->
<div class="modal fade modal-multiselect" id="addRole" tabindex="-1" role="dialog" aria-labelledby="addRole" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-md" role="document">
        <div class="modal-content user-modal new-role-modal">
            <div class="modal-header rounded-0">
                <h5 class="modal-title text-uppercase font-weight-bold"><img src="{{"images/role.svg" | relURL }}" alt="Add User" class="add" width="22" height="15"> New Role</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <img src="{{"images/cancel.svg" | relURL }}" width="14" height="14" alt="cancel" class="close" />
                </button>
            </div>
            <div class="modal-divider">
                <hr>
            </div>
            <div class="modal-body rounded-0">
                <div class="row m-0">
                    <form class="w-100">
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label for="colFormLabelSm" class="col-form-label col-form-label-sm pt-0">Role Name</label>
                                <p class="tag">Give Your Role an Identifier</p>
                            </div>
                            <div class="col-sm-5 margin-bottom">
                                <input type="text" class="form-control form-control-sm" id="user-role" placeholder="Enter Role" value="Admin">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label for="colFormLabel" class="col-form-label col-form-label-sm pt-0">Access URL</label>
                                <p class="tag">Specify URL Access</p>
                            </div>
                            <div class="col-sm-5 position-relative">
                                <input type="url" class="form-control form-control-sm" id="url" placeholder="Enter URL" value="https://ajency.github.io/binary-flux/screens/user-management/">
                                <img src="{{"images/add.svg" | relURL }}" width="20" height="20" alt="add url" class="add-url" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-5 position-relative link">
                               <a href="#">http://www.googleusercontent.com</a>
                            </div>
                            <div class="remove-btn">
                                <img src="{{"images/remove.svg" | relURL }}" width="20" height="20" alt="add url" class="remove" />
                            </div>
                        </div>
                         <div class="form-group row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-5 position-relative link">
                               <a href="#">https://gist.github.com/demersdesigns/4442cd84c1cc6c5ccda9b19eac1ba52b/4442cd84</a>
                            </div>
                            <div class="remove-btn">
                                <img src="{{"images/remove.svg" | relURL }}" width="20" height="20" alt="add url" class="remove" />
                            </div>
                        </div>
                         <div class="form-group row align-items-center">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-5 position-relative link">
                               <a href="#">https://success.salesforce.com/answers?id=90630000000hJEXAA2</a>
                            </div>
                            <div class="remove-btn">
                                <img src="{{"images/remove.svg" | relURL }}" width="20" height="20" alt="add url" class="remove" />
                            </div>
                        </div>
                         <div class="form-group row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-5 position-relative link">
                               <a href="#">https://en.wikipedia.org/wiki/List_of_most_popular_websites</a>
                            </div>
                            <div class="remove-btn">
                                <img src="{{"images/remove.svg" | relURL }}" width="20" height="20" alt="add url" class="remove" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-divider">
                <hr>
            </div>
            <div class="btn-group btn-primary add-btn mr-2 my-2">
                <button type="submit" class="btn btn-sm text-center">Save</button>                           
            </div>
        </div>
    </div>
</div>

<!-- Add Group Modal -->
<div class="modal fade modal-multiselect" id="addGroup" tabindex="-1" role="dialog" aria-labelledby="addGroup" aria-hidden="true">
       <div class="modal-dialog modal-dialog-centered modal-dialog-md" role="document">
        <div class="modal-content user-modal add-group-modal">
            <div class="modal-header rounded-0">
                <h5 class="modal-title text-uppercase font-weight-bold"><img src="{{"images/group-add.svg" | relURL }}" alt="Add Group" class="add" width="22" height="15"> New Group</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <img src="{{"images/cancel.svg" | relURL }}" width="14" height="14" alt="cancel" class="close" />
                </button>
            </div>
            <div class="modal-divider">
                <hr>
            </div>
            <div class="modal-body rounded-0">
                <div class="row m-0">
                    <form class="w-100
                    ">
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label for="colFormLabelSm" class="col-form-label col-form-label-sm pt-0">Group Name</label>
                                <p class="tag">Give Your Group a Name</p>
                            </div>
                            <div class="col-sm-5 margin-bottom">
                                <input type="text" class="form-control form-control-sm" id="group-name" placeholder="Enter Group Name" value="Security Operations">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label for="colFormLabel" class="col-form-label col-form-label-sm pt-0">Email ID</label>
                                <p class="tag">Enter Official Email ID</p>
                            </div>
                            <div class="col-sm-5">
                                <input type="email" class="form-control form-control-sm" id="organisation" placeholder="Enter Email" value="security.operations@gmail.com">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="password" class="col-sm-3 col-form-label col-form-label-sm pt-0">Password</label>
                            <div class="icon position-relative col-sm-5">
                                <img src="{{"images/eye-outline.svg" | relURL }}" width="22" height="15" alt="preview" class="preview">     
                                <input type="password" class="form-control form-control-sm mb-1" id="password" placeholder="Enter Password" value="*******">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="group"class="col-sm-3 col-form-label col-form-label-sm pt-0">Role</label>
                            <div class="col-sm-5">
                                <select class="form-control form-control-sm mb-1 custom-select-dropdown" id="group">
                                    <option selected>C Suite, Managers + 3</option>
                                    <option>Data Application</option>
                                    <option>Business Rules Engine Composer</option>
                                    <option>ESB Exception Management</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label for="colFormLabel" class="col-form-label col-form-label-sm pt-0">Add User</label>
                                <p class="tag">Searches & Add user</p>
                            </div>
                            <div class="col-sm-5 position-relative">
                                <input type="url" class="form-control form-control-sm" id="url" placeholder="Enter URL" value="Lipika Biwas">
                                <p>Rohan, Anish, Shivani.. + 32 <a href="#">More</a></p>
                                <a href="#"><img src="{{"images/add.svg" | relURL }}" width="20" height="20" alt="add url" class="add-users" /></a>
                            </div>
                        </div>
                        <div class="form-group row mt-2 mb-3">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-5 position-relative">
                                <a href="#">
                                    <div class="upload-btn">
                                        <span>Bulk Upload</span>
                                        <img src="{{"images/upload.svg" | relURL }}" width="30" height="30" alt="upload" class="upload" />
                                    </div>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-divider">
                <hr>
            </div>
            <div class="btn-group btn-primary add-btn mr-2 my-2">
                <button type="submit" class="btn btn-sm text-center">Save</button>                           
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }
    document.body.classList.add("blue_bg");
</script>
{{ end }}